<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>手ならい手芸教室</h2>
<!--<IMG src="img/chibi00.jpg" width="445" height="92" border="0">
<IMG src="img/chibi00.gif" width="486" height="334" border="0">-->

<div align="center">
<div class="fotorama">
<img src="img/chibi01.jpg" data-caption="これはマクラメコードでつくるマスコットです">
<img src="img/chibi02.jpg">
<img src="img/chibi03.jpg" data-caption="ポンポンメーカーを使ってつくるころころマスコット">
<img src="img/chibi04.jpg" data-caption="携帯電話のストラップ。ビーズでつくります">
</div>
</div>

<p>
指あみ・かぎ針あみ・棒針あみ　もやります。<BR>
今年の冬はマフラーにちょうせんしよう！！
</p>

<div align="center">
<div class="fotorama">
<img src="img/chacha1.jpg" data-caption="いちきの茶々です">
<img src="img/chacha2.jpg" data-caption="今では巨大になってごろごろしています">
</div>
</div>

<h3>お家の皆様に</h3>
手習い手芸教室は下記のように行いたいと思っております。<BR>
よろしくお願い致します。<BR>

<table>
<tr>
<th>対象者</th>
<td>小学生・中学生・高齢者</td>
</tr>
<tr>
<th>会場</th>
<td>手づくり工房　いちき</td>
</tr>
<tr>
<th>開催日</th>
<td>毎週火・土曜日</td>
</tr>
<tr>
<th>時間</th>
<td>10:30～12:30　/　13:00～15:00</td>
</tr>
<tr>
<th>受講料</th>
<td>500円/回</td>
</tr>
<tr>
<th>テーマ</th>
<td>その都度様子を見ながら決めさせていただきます</td>
<tr>
<th>実費</th>
<td>一作品　おおむね1000円以内</td>
</tr>
</table>

<p>
※お子様のご来店の際は車等充分ご注意をお願い致します<BR>
※保護者のご了解の下、ご来店をお願い致します
</p>
<% include ./_common/footer %>
</BODY>
</HTML>
