<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄のデザイン</h2>

<h3>はじめに</h3>
<IMG src="img/light0.gif" width="16" height="16" border="0">
<A href="column/ori71.html">手織りの世界を自由に駆け回る</A>

<h3>柄について</h3>
<A href="column/ori46.html">模様・文様・紋様・意匠・柄</A><br>
<A href="column/ori59.html">縞帳、組織図、そして…</A><br>
<A href="column/ori43.html">結合状態変更による柄の変化</A><br>
<A href="column/ori49.html">織りの組織について</A><br>
<A href="column/ori64.html">柄の規則性　組織具の4大原則</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori85.html">柄の特性と多様性</A>

<h3>組織図 by Excel</h3>
<A href="column/ori34.html">Excelを使った組織図作成法</A><br>
<A href="column/ori88.html">練習問題　組織図作成 by Excel</A>

<h3>柄デザインの基礎</h3>
<A href="column/ori62.html">柄の規則性　3Dの組織図</A><br>
<A href="column/ori63.html">柄の規則性　結合・分解</A><br>
<A href="column/ori60.html">柄の規則性　対象</A><br>
<A href="column/ori61.html">柄の規則性　反転</A><br>
<A href="column/ori89.html">柄の規則性　回転</A><br>
<A href="column/ori66.html">柄の規則性　対称性と繰返し</A><br>
<A href="column/ori65.html">柄の規則性　結合状態I</A><br>
<A href="column/ori67.html">柄の規則性　結合状態II</A><br>
<A href="column/ori68.html">柄の規則性　数列</A><br>
<A href="column/ori69.html">柄の規則性　数列と柄の大きさ</A><br>
<A href="column/ori70.html">柄の規則性　柄の大きさと「破れ」</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori100.html">柄の規則性　完全組織と結合状態</A><br>
<A href="column/ori72.html">特性の保持と多様性の発揮I　円</A><br>
<A href="column/ori79.html">特性の保持と多様性の発揮II　正方形</A><br>
<A href="column/ori80.html">特性の保持と多様性の発揮III　埋め込み</A><br>
<A href="column/ori81.html">特性の保持と多様性の発揮IV　合成</A><br>
<A href="column/ori82.html">特性の保持と多様性の発揮V　合成II</A><br>
<A href="column/ori83.html">特性の保持と多様性の発揮VI　菱形</A><br>
　
<h3>柄デザインの応用</h3>
<A href="column/ori76.html">L type柄とS type柄の共存</A><br>
<A href="column/ori78.html">Lタイプ柄の二重織りへの変換</A><br>
<A href="column/ori99.html">平織りに浮織を埋め込む</A><br>
<A href="orga/orga.html">6本踏み木・6枚綜絖の組織図</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori110.html">試し織りの有用な方法</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori111.html">緯吉野の変形について</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori112.html">結合状態変更によるグラデーションの作成</A><br>
<% include ./_common/footer %>
</BODY>
</HTML>
