<!DOCTYPE html>
<html>
<head>
<meta name="ROBOTS" content="ALL">
<meta name="description" content="手づくり工房いちきは今年で創業116年。手織り糸を製造・販売。
手織り教室でのお話の概略を掲載させていただいております。">
<meta name="keywords" content="手織り,機織り,手織り糸,手織り機,手織り教室,長野,諏訪,いちき">
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>


<IMG src="images/itokuruma00.gif" width="43" height="31"></a></h1>
<p>手づくり工房いちき（一き糸店）は今年で創業116年。手織り糸・手織り機を製造・販売。手織り教室でのお話の概略を掲載させていただいております。</p>

         <li><a href="tyumon.html">ご注文方法</a></li>
         <li><a href="link.html">リンク</a></li>

<img src="images/newimage100_4.gif" >

         <div class="section">
            <h2>手織りコンテンツ</h2>
            <ul>
            <li><a href="yatujyoumon/yatujyoumonn.html">八つ縄文織り</a></li>
            <li><a href="teorimame.html">信州諏訪の手織り豆知識</a></li>
            <li><a href="garad.html">柄のデザイン</a></li>
            <li><a href="orga/orga.html">6枚綜絖・6本踏み木組織図集</a></li>
            <li><a href="hpadd.html">手織りの知恵　動画集</a></li>
            <li><a href="yama/yama.html">手織りと山登り</a></li>
            <li><a href="https://www.facebook.com/pages/%E6%89%8B%E7%B9%94%E3%82%8A%E7%B3%B8%E6%89%8B%E7%B9%94%E3%82%8A%E6%A9%9F-%E3%81%84%E3%81%A1%E3%81%8D%E7%B3%B8%E5%BA%97/425138957623202?ref=hl" target="_blank"><span style="background-color:#3B5998;color:white;font-weight:bold">facebook</span> 作品展示室</a></li>
            </ul>
         </div><!-- /.section -->
         <div class="section">
            <h2>お問い合わせ</h2>
            <ul>
            <li><a href="lcvmail.html">メールフォーム</a></li>
            </ul>
         </div><!-- /.section -->
      </div><!-- /#sub -->

      <div id="main">
<h3>追加/更新情報・・・・・</h3>
<dl>
<dt>2016/3/11</dt>
<dd>手織りコンテンツ>「6枚綜絖・6本踏み木組織図集」に<br>
「<A href="orga/orga.html" target="_self">八つ縄文織り6×6が組織図（修正済）付きでreup</A> 」
2016/3/10以前にdown loadされた組織図は使用できません</dd>
<dt>2016/3/01</dt>
<dd>八つ縄文織り > 「八つ縄文織りテキストVol.3 P.16」に誤植があり訂正されました<br>
「<A href="yatujyoumon/yatujyoumonn.html"target="_self">八つ縄文織り→「急告」をご覧ください</A>」</dd>
<dt>2015/12/24</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori113.html" target="_self">3本ロクロから2本ロクロへの変更</A>」が追加されました。
</dd><dt>2015/11/09</dt>
<dd>手織り機・手織り糸>手織り機・手織り糸>手織り機<br>
「<A href="oriito.htm#m2" target="_self">手織り機</A>」が更新されました。</dd>
<dt>2014/12/9</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori108.html" target="_self">巾出しに使用する仮筬について</a>」が追加されました。</dd>
<dt>2014/9/28</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori92.html" target="_self">整経･巻き上げ時の注意点</a>」が更新されました。</dd>
<dt>2014/9/26</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori107.html" target="_self">綜絖の通し誤り防止策</a>」が追加されました。</dd>
<dt>2014/9/4</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 信州諏訪の手織りについて<br>
「<A href="ori87.html" target="_self">民藝について</a>」が更新されました。</dd>
<dt>2014/6/19</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori95.html" target="_self">綾の取り方の違いによる注意点</a>」が更新されました。</dd>
<dt>2014/4/24</dt>
<dd>手織りコンテンツ > 八つ縄文織り<br>
「<A href="yatujyoumon/nakasu.html" target="_self">諏訪の小学生が八つ縄文織りを織り上げました</a>」が追加されました。</dd>
<dt>2014/4/21</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori106.html" target="_self">整経の準備</a>」が追加されました。</dd>
<dt>2013/10/15</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori101.html" target="_self">踏み木の踏み順について その2</a>」が更新されました。</dd>
<dt>2013/4/19</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori93.html" target="_self">床巻きについて</a>」が追加されました。</dd>
<dt>2012/10/13</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori84.html" target="_self">縞の整経　縞割り</a>」が更新されました。</dd>
<dt>2012/7/7</dt>
<dd>手織りコンテンツ > 信州諏訪の手織り豆知識 > 実技について<br>
「<A href="ori91.html" target="_self">手織り機の初期状態</a>」が追加されました。</dd>
<dt>2012/4/30</dt>
<dd>手織りコンテンツ > 柄のデザイン > 組織図作成 by Excel を新設。<br>
「<a href="garad.html" target="_self">練習問題 組織図作成 by Excel</A>」が追加されました。</dd>
</dd></dl>

<div class="copyright">(有)一き糸店　〒392-0007 長野県諏訪市清水1-6-7　 TEL 0266-52-0518　　本ＨＰの無断転載を禁じます。　2001/1/27...　<IMG src="/cgi-bin/Count.cgi?df=ichiki.dat|dd=E|ft=0|pad=N|tr=0"></div>
</body>
</html>
