<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>長野県木曽郡木曽福島町立黒川小学校のお話です</h2>
<figure>
<IMG src="img/kiso01.jpg" width="90%">
</figure>

　先日、木曽福島の「ふるさと体験館」の皆様がお店に見え、機の事をたずねてゆかれました。その後、縁あって当店の「はたご」がお嫁入りすることとなり、「ふるさと体験館」をお尋ねいたしました。<BR>
　場所は木曽福島町から、木曽大橋を渡り、開田高原方面に6ｋｍ程入った新開というところにあり、水も、緑も、空の色も、風の爽やかさも、とても心地よいところでした。

<figure>
<IMG src="img/kiso02.jpg" width="90%">
</figure>

　平成9年に廃校となってしまった黒川小学校が地元の皆さんの熱意で、伝統文化、技術を体験できる「ふるさと体験館」として生まれ変っていました。

<figure>
<IMG src="img/kiso03.jpg" width="90%">
</figure>

　体験館の中は、どこからか今にも子ども達のはしゃぎ声と先生の大きな声が聞こえてきそうな感じでした。<BR>

<figure>
<IMG src="img/kiso04.jpg" width="90%">
</figure>

　天井板をはがしたらこんなに立派な梁があらわれたそうです。チョウナできれいに削られていました。<BR>

<figure>
<IMG src="img/kiso05.jpg" width="90%">
</figure>

　そんなたくさんある教室の一室が手織りの体験コーナーとなっていました。地元の方々がおばあちゃん達の機の技術をなんとか伝え残そうとがんばっていらっしゃいました。

<figure>
<IMG src="img/kiso07.jpg" width="90%">
</figure>

　体験館の横には二宮尊徳のなつかしい石像がおかれていました。忘れてしまっていた何かが、ふっと胸をよぎりました。なんとなく、うきうきした気分で爽やかな風に送られて帰路につくことができました。楽しい楽しい一日でした。<br>

<p>ふるさと体験館のＨＰ<BR>
<A href="http://www.taikenkan.jp" target="_blank">http://www.taikenkan.jp</A></p>
<% include ./_common/footer %>
</BODY>
</HTML>
