<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>手づくり入門講座のご案内</h2>

<figure>
<IMG src="img/kyositu.jpg" width="311" height="212" border="0">
</figure>

<A href="teami.html">手あみ</A>
<A href="takujyou.html">卓上手織り</A>
<A href="1pon.html">魔法の一本針</A>
<A href="threed.html">3D（スリーディ）</A>
<A href="messyuwork.html">メッシュワーク</A>
<A href="nitteihyou.html">スケジュール表</A>
<% include ./_common/footer %>
</BODY>
</HTML>
