<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>

<h2>手織り教室のご案内</h2>

<section>
<p>
　店主の祖母が手織りの講習をはじめて以来、母、私と三代に渡り、お客様に教わりながらやってまいりました。その間、それこそ幾万人かの方々とお行き会いし、すばらしい技術をもったたくさんのおばあちゃん達にたくさんの事を教わってまいりました。でも、もうそんな方も一人か二人しかいらっしゃらなくなってしまいました。<BR>
「健全な身体に健全な精神が宿る」と言いますが、この方々は精神的にも、身体的にも極めて健全で、超人間技を持っているにも関わらず何事もなかったかの様に、もくもくと機を織っていらっしゃいました。織りあがった反物を整理にお店に持って見え、にこにことして恥ずかしそうに、出来具合を私の父と話す姿が、昨日の事の様に思い出されます。思い出話はきりがありません。またの機会にする事として、今の教室を紹介させて戴きます。</TD>
</p>
</section>

<IMG src="img/kyo1.jpg" width="100%" height="100%">

<section>
<p>
　今、教室には、ベテランから初めて機をはじめられた方まで様々な方々が機織りを楽しんでいらっしゃいます。本科を受講し、初めて織り機に座り、「出来るかな？！出来るかな？！」を連発されていた方々も、本科の卒業課題である、経・緯に絹60/2を使った無地柄一丈を織り上げる頃には、目がきらきら輝き始めます。<BR>
機（布）を織り上げた時（特に長尺物）のすがすがしさを感じていただければ、また、この諏訪の地でたくさんのおばあちゃん達が機織で辿った道のりを僅かでもお伝えできたらと思います。<BR>
長い間教室に携わった、おばあちゃん先生（私の母）と、見守っていただいた、たくさんの生徒さん達によって培われた温かい雰囲気の中で、機が好きで好きでたまらない皆様とご一緒に、機の事を考えて行けたらと思います。<BR>
内容は下表の様になっております。不備の点は、その都度、改善して行きたいと思います。何分の、ご指導、ご鞭撻をお願い致します。また、教室で空いている本科講習用織機の台数を下に表示させていただきました。空きのある場合は、お申込いただければ次の教室開催日から受講いただけます。
（体験コース用織り機は本科・研究科用織り機の空きを利用しております。空き状況につきましてはお手数でもお問合せをお願いいたします。）<BR>
不明の点、詳細に付きましては、お電話(0266-52-0518)または<A href="mail.html">メール</A>でお問い合わせください。よろしくお願い致します。　<BR>
</p>
</section>

<section>
<h3>手織りを始めてみようとお考えの方に</h3>
<figure>
<IMG src="img/hatago00.gif" width="40%" height="40%">
</figure>
織り機の大小、形を問わず織りには基本的に5つの工程があります。
<ol>
<li>作品のデザインの決定（色、柄、作る物）</li>
<li>デザインに従って、経糸（たていと）を必要巾、長さに並べる　→　整経（せいけい）</li>
<li>織り機に整経した経糸をセットする </li>
<li>織る </li>
<li>作品に仕立てる</li>
</ol>
<p>
5は織りの実技には直接関係しませんので、織りの実際は1～4が問題になるかと思います。
1は大変重要な部分ですが、2～3の工程を正確に習得した後、考えられるのが良いと思います。
4の「織る」という作業を習得するのには長い繰り返しが必要です。 <BR>
地方により、人によって呼称、方法等には見かけ上の違いはありますが長く続いてきた方法は基本的には同一です。
重要なことは、2～3の工程を正確に習得された上で、次のステップに進まれることと思います。
ここを曖昧にすると要らぬ苦労を強いられたり、限りなく拡がる手織りの世界のほんの一部しか見る事ができず楽しみが半減してしまいます。<BR>
また、あまり気負って取りかかりますとお苦しみになってしまいます。肩の力を抜きリラックスして始められるのがベストかと思います。
</p>
</section>

<section>
<h3>コースについて</h3>
<TABLE>

<TR>
<th>講座名</th>
<th>期間</th>
<th>回数</th>
<th width="27%">受講資格</th>
<th width="27%">内容</th>
</TR>
<TR>
<TD>A. 本科</TD>
<TD>6ヶ月</TD>
<TD>20回</TD>
<TD>特にありません</TD>
<TD>カリキュラムに従い5つの工程を履修します</TD>
</TR>
<TR>
<TD>B. 研究科</TD>
<TD>3ヶ月</TD>
<TD>10回</TD>
<TD>本科を終了し課題を履修済の方</TD>
<TD>自由課題</TD>
</TR>
<TR>
<TD>C. 特修コース1</TD>
<TD>1年</TD>
<TD>4回</TD>
<TD>研究科を終了された方</TD>
<TD>自由課題（織りの計画と整経）</TD>
</TR>
<TR>
<TD>D. 特修コース2</TD>
<TD>2ヶ月</TD>
<TD>6回</TD>
<TD>整経・織り機へのセットを履修済の方</TD>
<TD>「八つ縄文織り」特修　整経から織りまで</TD>
</TR>
<TR>
<TD>E. 体験コース</TD>
<TD>3(6)日連続</TD>
<TD>3(6)回</TD>
<TD>特にありません</TD>
<TD>整経から織り上げまで1(2)工程を行ないます</TD>
</TR>

</TABLE>
※ E.．体験コース3日・6日連続」の詳細は「<A href="ori.html">信州諏訪の手織り体験</A>」をご参照ください。
</section>


<section>
<P>開講日：日・月・火・金・土曜日 　10:30～16:30</P>

<TABLE>
<TR>
<th>　空いている本科講習用手織機台数　</th>
<TD width="30%">1</TD>
</TR>
</TABLE>
只今教習用手織り機に空きがございます。お申し込みいただきますと翌講習日より受講いただけます。<BR>
また「体験コース」用手織り機は別途用意がございます。詳細はメール、お電話でお問い合わせ下さい。
</section>
<% include ./_common/footer %>
</BODY>
</HTML>
