<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>お問い合わせメールフォーム</h2>
<p>当店へのお問合せ、ご注文等はこちらからどうぞ。</P>
<form method="POST" action="/cgi-bin/f2m.cgi?ichiki">
<input type="hidden" name="formsubject" value="いちきホームページより">

<table>

<tr>
<th>お名前【必須】</th>
<td><input type="text" name="名前" size="40" placeholder="諏訪花子" style="border:1px solid;" required></td>
</tr>

<tr>
<th>メールアドレス【必須】</th>
<td><input type="text" name="mail" size="40" placeholder="xxx@xxx.ne.jp" style="border:1px solid ;" required>
</td>
</tr>

<TR>
<th>電話番号</th>
<TD><input type="text" name="電話番号" size="40" placeholder="0266-52-0518" style="border:1px solid ;"></TD>
</TR>

<TR>
<th>郵便番号</th>
<TD><input type="text" name="郵便番号" size="40" placeholder="392-0007" style="border:1px solid ;"></TD>
</TR>

<tr>
<th>ご住所</th>
<td><input type="text" name="住所" size="40" placeholder="長野県諏訪市清水1-6-7" style="border:1px solid ;"></td>
</tr>

<tr>
<TD colspan="2"><br>
お問合せ・ご注文等内容をお願いします<br>
<TEXTAREA rows="5" cols="100%" name="message" wrap="hard" style="border:1px solid;"></TEXTAREA>
</TD>
</tr>
</table>
<div align="center">
<input type="submit" value="送信" style="padding:.5rem 3rem .5rem 3rem; border:1px solid ;background-color:#ffffff;">
</div>
</form>
<% include ./_common/footer %>
</BODY>
</HTML>
