<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>

<h2>リンク</h2>

<TABLE>

<TR>
<th>国立民族学博物館</th>
</TR>
<TR>
<TD>　大阪の万博公園にある博物館。先般行われた「世界の織機と織物」展はすばらしいものでした。近所に大阪日本民藝館もあります。近くにあったら毎日行ってしまいそうな楽しい博物館です。
</TD>
</TR>
<TR>
<TD><A href="http://www.minpaku.ac.jp/" target="_blank">http://www.minpaku.ac.jp/</A></TD>
</TR>

</TABLE>


<TABLE>
<TR>
<th>ＣＤＳ（Cellular　Data System）セミナーが始まりました　</th>
</TR>
<TR>
<TD>　下にご紹介させていただいた「式表現」と「セル理論」が結合しCDSという体系が組み上がりました。そのＣＤＳのセミナーが10/13からＹｏｕＴｕｂｕで始まりました。CDSの詳細はともかくとして逆説的かもしれませんがとても愉快で、楽しい説明がされています。是非ご一覧下さい。</TD>
</TR>
<TR>
<TD><A href="http://www.youtube.com/view_play_list?p=FD5499E255462052" target="_blank">http://www.youtube.com/view_play_list?p=FD5499E255462052</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>コンピューターと人間の係わり合いが大きく変わるかもしれません 　part2</th>
</TR>
<TR>
<TD>　私達が認識できた全ての事象をテキストで記述すると、その各々の事象の成り立ち（関係）を「式」によって記述できる。各々の事象の関係を式で表現(式表現　ｆormula　expression)することにより、私達は硬直化したシステムのためにただただ蓄えておくことしかできなかった貴重なｄａｔａを発想次第で宝物化することができる。ややこしい事を考える事無く、発想を目標に向って自由にこねくり回すことが可能になる。
　先に紹介させていただいたJCST（journal　of computer science and technology　　題名　WWW
Business Applications Based on the Cellular Model)　に発表された論文が、現実のものとなりつつある事を紹介するｓｉｔｅです。興味のある方は是非ご一読ください。</TD>
</TR>
<TR>
<TD><A href="http://www.cellulardatasystem.com/" target="_blank">http://www.cellulardatasystem.com/</A></TD>
</TR>
</TABLE>


<TABLE>
<TR>
<th>富士見高原で「自分ちの野菜つくり」　　遊閑倶楽部のご紹介</th>
</TR>
<TR>
<TD>手織り教室の生徒さんのご主人が富士見高原で主宰される「遊閑倶楽部」をご紹介させていただきます。
　富士見高原は長野県と山梨県の県境、八ヶ岳の広大な南西山麓に位置し（中央東線で一番標高の高い駅「富士見」もここにあります）、名前の通リすばらしい富士山を真正面に見る事ができます。「遊閑倶楽部」って？一度お立ち寄り下さい。
</TD>
</TR>
<TR>
<TD><A href="http://www.geocities.jp/yukan_club_fujimi/index.html" target="_blank">http://www.geocities.jp/yukan_club_fujimi/index.html</A></TD>
</TR>
</TABLE>


<TABLE>
<TR>
<th>OpenOffice 最新版　が公開されました。</th>
</TR>
<TR>
<TD>OpenOffice.orgは、ワープロソフトの「Writer」、表計算の「Calc」、プレゼンテーションソフトの「Impress」などのアプリケーションを統合したオープンソースのオフィススイートです。オープンソースで提供されており、無償で利用できます。英語版だけでなく、日本語版もリリースされています。</TD>
</TR>
<TR>
<TD><A class="moz-txt-link-freetext" href="http://www.openoffice.org/" target="_blank">http://www.openoffice.org/</A></TD>
</TR>
</TABLE>


<TABLE>
<TR>
<th>コンピューターと人間の係わり合いが大きく変わるかもしれません　　part1</th>
</TR>
<TR>
<TD>使用者の自由度を奪い去る事(狭義のglobal standard化)があたかも賢いコンピューターとの接し方かであるかのような考えが大勢の中、ユニークな発想さえあれば、それを自由にシュミレートできる、OSも言語も関係ない、只々必要なのは「品格有る発想」それだけ。すべての人が自由度100％の環境で、独自性を発揮するためにコンピューターと係わって行ける、そんな考えの論文がJCST（journal　of
computer science and technology　　題名　WWW Business Applications Based
on the Cellular Model)　2008/2号に掲載されました。著者の一人が私のPCの先生で長い間PCに対する考え方を叩き込まれてきたため、彼の考え（思想）が集大成された事に思い万感です。論文は英語で難解ですが彼に言わせると「判からない事はblack
box。感じる事が大切」との事。興味のある方は是非ご一読ください。</TD>
</TR>
<TR>
<TD><A class="moz-txt-link-freetext" href="http://jcst.ict.ac.cn/" target="_blank">http://jcst.ict.ac.cn/</A></TD>
</TR>
</TABLE>


<TABLE>
<TR>
<th>八ヶ岳（赤岳）に　ｌｉｖｅ　camera　が設置されました（冬季休止）</th>
</TR>
<TR>
<TD>LCVが八ヶ岳の主峰赤岳の肩（赤岳石室）に設置したカメラから映像を配信しています。画面は「塩嶺からの八ヶ岳」→「赤岳石室（冬季休止）」→「西麓からの八ヶ岳」→「晴ヶ峰（杖突峠）から盆地、八ヶ岳の遠望」と入れ替わります。（cameraの制御はできません）</TD>
</TR>
<TR>
<TD><A href="http://www.lcv.jp/area/enjoy/y_mountain/index.html" target="_blank">http://www.lcv.jp/area/enjoy/y_mountain/index.html</A></TD>
</TR>
</TABLE>


<TABLE>
<TR>
<th>3DMapがまた大きく進化しました</th>
</TR>
<TR>
<TD>もう皆さんご存知ですね。あのgoogle　mapがさらに進化し3Ｄ化しました。画像がreal　timeでないこと、地球全域をｶﾊﾞｰしていない事など不満（贅沢かな）はありますが、とにかくmapの進化ｽﾋﾟｰﾄﾞは加速しています。
下記siteから down load できます。またwindows2000以上の環境が必要です。
</TD>
</TR>
<TR>
<TD><A href="http://earth.google.com/" target="_blank">http://earth.google.com/</A></TD>
</TR>
</TABLE>


<TABLE>
<TR>
<th>5000点以上の作品を蔵書した電子図書館、「青空文庫」。</th>
</TR>
<TR>
<TD>日本の作家が殆どですが、あのカラマゾフの兄弟も作業中とか。楽しませていただきます。ありがとうございます。</TD>
</TR>
<TR>
<TD><A href="http://www.aozora.gr.jp/" target="_blank">http://www.aozora.gr.jp/</A></TD>
</TR>

</TABLE>

<TABLE>

<TR>
<th>諏訪地方の道路状況をＬｉｖｅ　ｃａｍｅｒａで見る事ができます。その内「諏訪市」→「霧が峰」では八ヶ岳が遠望できます。</th>
</TR>
<TR>
<TD>諏訪地域の道路を利用される方々に「道路状況」をLCVが提供。14台のカメラが実況中継。</TD>
</TR>
<TR>
<TD><A href="http://www.lcv.jp/area/life/road/index.html" target="_blank">http://www.lcv.jp/area/life/road/index.html</A></TD>
</TR>

</TABLE>


<TABLE>
<TR>
<th>Dataは古いのですが（昭和50年代がかなりあります）日本全土を約40万枚の航空写真で見る事ができます。縮尺は1/8000～1/15000　国土交通省のサイトです。</th>
</TR>
<TR>
<TD>World Windに比べ精度は相当高いものがあります。Ｄａｔａの更新が待たれます。でもさすが国のやる事はすごいですね。これだけ古いＤａｔａでも混雑していて見れない事が度々あります。かなり人気の高いｓｉｔｅのようです。
</TD>
</TR>
<TR>
<TD><A href="http://w3land.mlit.go.jp/WebGIS/index.html" target="_blank">http://w3land.mlit.go.jp/WebGIS/index.html</A></TD>
</TR>

</TABLE>

<TABLE>
<TR>
<th>八ヶ岳山麓に壮大に展開する縄文文化の心を、縄文人に代わって語ってくれるそんなsiteです。</th>
</TR>
<TR>
<TD>いわゆる「民芸」を柳宗悦が唱え、縄文土器など生活雑器の力強さが見直されてから時代は大きく移り変ってきました。彼の唱えた「民芸」の意味を、全てが変わった現在の状況の中で、更に問い直してみたい、そんな私の思いに通じるcontentsを持ったｓｉｔｅです。友人が一年半をかけuploadした労作です。
</TD>
</TR>
<TR>
<TD><A href="http://www.joumon.jp" target="_blank">http://www.joumon.jp</A></TD>
</TR>

</TABLE>

<TABLE>

<TR>
<th>地球全域の衛星3D画像を自由自在に見られる画期的アプリケーション「World Wind　1.3.1」がNASAより配布になりました 　【英語版】　</th>
</TR>
<TR>
<TD>私のポン友が興奮気味に教えてくれました。
もう、凄い！！！！の一言。使い途は無限大。私もちょっと興奮状態です。
</TD>
</TR>
<TR>
<TD><A href="http://worldwind.arc.nasa.gov/download.html" target="_blank">http://worldwind.arc.nasa.gov/download.html</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>重力によって光が曲がることをお星様の画像で紹介するsite！！ 【英語版】</th>
</TR>
<TR>
<TD>光が重力によって曲げられ、一つの星がいくつにも見えます、ってことはこの星は複数の世界をもっているってことですよね！？時空って言葉がなんとなく納得できる、そんなお星様の画像を紹介してくれるｓｉｔｅです。来年はちょっと一生懸命山に登ってお星様でもじっくりみてみようかなと思う今日この頃です。</TD>
</TR>
<TR>
<TD><A href="http://cfa-www.harvard.edu/castles/index.html" target="_blank">http://cfa-www.harvard.edu/castles/index.html</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>ハッブル文化遺産【英語版】</th>
</TR>
<TR>
<TD>ハッブル宇宙望遠鏡がとらえた信じられない、うそのように素晴らしい星の写真がいっぱいみられます。
宇宙の構造と起源が判るにつれ科学と芸術、もっと言えば哲学との境界がなくなってきたような気がします。人力では到底及びもつかない科学の世界ってあるんだなってしみじみ思います。
</TD>
</TR>
<TR>
<TD><A href="http://heritage.stsci.edu" target="_blank">http://heritage.stsci.edu</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>インターネット自然研究所</th>
</TR>
<TR>
<TD>環境省のHP。live cameraで日本全国の自然が見られます。様々なlive cameraの中でも秀逸！！</TD>
</TR>
<TR>
<TD><A href="http://www.sizenken.biodic.go.jp/pc/live/html/index.html" target="_blank">http://www.sizenken.biodic.go.jp/pc/live/html/index.html</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>かしのき</th>
</TR>
<TR>
<td>皮工芸を中心のcraft shop。店主はカントリーについてはその道の人の間では有名人。　</td>
</TR>
<TR>
<TD><A href="http://www.lcv.ne.jp/~kasinoki/" target="_blank">http://www.lcv.ne.jp/~kasinoki/</A>
</TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>メイ美容室</th>
</TR>
<TR>
<TD>ハリウッド化粧品のメイ牛山って聞いたことありますよね。あのメイとこのメイとの関係は・・・・・</TD>
</TR>
<TR>
<TD><A href="http://www2s.biglobe.ne.jp/~maybs/" target="_blank">http://www2s.biglobe.ne.jp/~maybs/
</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>丸平川魚店</th>
</TR>
<TR>
<TD>この店の店主はいわゆる「御柱男」。気風がいいので、お魚もおいしい。</TD>
</TR>
<TR>
<TD><A href="http://www2s.biglobe.ne.jp/~maruhei/" target="_blank">http://www2s.biglobe.ne.jp/~maruhei/
</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>家具の倭屋（やまとや）</th>
</TR>
<TR>
<TD>ほのぼのした店主のキャラクターそのものの、あたたかなカントリー基調の家具がいっぱい。</TD>
</TR>
<TR>
<TD><A href="http://www.yamatoya-k.jp" target="_blank">http://www.yamatoya-k.jp/</A>
</TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>Rock&Snow</th>
</TR>
<TR>
<TD>高校の時一緒に山に登った仲間です。ちょっと、いや、大変な変わり者とその仲間のＨＰです。山の好きな方は必見！</TD>
</TR>
<TR>
<TD><A href="http://www.asahi-net.or.jp/~BA8K-ITU/" target="_blank">http://www.asahi-net.or.jp/~BA8K-ITU/</A>
</TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>諏訪市清水一区</th>
</TR>
<TR>
<TD>お店の在る「清水一区」のHPです。「さわやかで」「おおらかな」街であってほしいと思います。</TD>
</TR>
<TR>
<TD><A href="http://www.geocities.jp/suwashimizu1/index.htm" target="_blank">http://www.geocities.jp/suwashimizu1/index.htm</A>
</TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>茅野ＴＭＯサイバーモール</th>
</TR>
<TR>
<TD>茅野で商業を営む猛者が、すごいサイバーモール（電子商店街）をつくりました。お店をやりながら頑張った結果です。ぜひご覧いただき、ご意見等戴けたら幸いです。</TD>
</TR>
<TR>
<TD><A href=" http://www5b.biglobe.ne.jp/~ccmall/" target="_blank">http://www5b.biglobe.ne.jp/~ccmall/
</A></TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>茅野商工会議所</th>
</TR>
<TR>
<TD>八ヶ岳、蓼科、車山、白樺湖などなど、信州を代表する高原の町。おもしろい人が一杯います。　</TD>
</TR>
<TR>
<TD><A href="http://www.chinocci.or.jp/" target="_blank">http://www.chinocci.or.jp/</A>
</TD>
</TR>
</TABLE>

<TABLE>
<TR>
<th>諏訪商工会議所</th>
</TR>
<TR>
<TD>信州諏訪の色々な方々とLinkできます。どんな穴場が見つかるでしょうか　</TD>
</TR>
<TR>
<TD><A href="http://www.suwacci.or.jp" target="_blank">http://www.suwacci.or.jp</A>
</TD>
</TR>
</TABLE>

<% include ./_common/footer %>
</BODY>
</HTML>
