<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>山梨県南巨摩郡増穂町　櫛形山の麓にお嫁入り</h2>
　12月も押し迫ったというのに真冬とも思えない暖かな日差しの日、山梨県の櫛形山の麓、増穂町にあるNさんのお宅へ新しい織機がお嫁入りしました。<BR>
　東京でのお仕事をリタイヤーされ、お家を故郷である増穂町に建てられ、奥様の念願であった機織を始められたお宅です。<BR>
　伺ってみると、驚いた事に「はたご」を置くにはもったいないような素晴らしいお家が作られていました。窓からは櫛形山の全容が見渡せ、暖かな日差しがいっぱい差し込んでいました。こんなにもかわいがっていただけるのかと本当にうれしい想いでいっぱいでした。（諏訪地方では織機のことを「はたご」と言います。）<BR>
　昔からおばあちゃん達の「はたごの部屋」は２階の大きな蚕室の南側の一角と決まっていました。明るくて、暖かいのが、農閑期、寒い時節の機織り作業に最適だったからでしょう。窓辺には干し柿が吊るされ、遠くには雪をいただいた八ヶ岳連峰が大きく広がっていました。「はたごの部屋」の炬燵にあたって、ご近所の機織仲間がお互いの織った布の品評会と、漬物の味比べをしている所にお邪魔させていただいた頃の事が、なつかしく思い出されました。<BR>

<figure>
<IMG src="img/nagasaswa2.jpg" width="467" height="329" border="0">
</figure>

　Nさんのお宅にも、ご主人手づくりの干し柿台が作られ、干し柿が吊る下がっていました。お宅から５分も櫛形山の方に行くと、東側、富士川左岸の山稜の上に大きな富士山が顔を出してくるとの事。<BR>
　この「はたご」が、富士山と櫛形山に見守られ「トンカラリン」と元気でたくさんの織物を織り出せますよう、また楽しいお仲間づくりのお役にたちますようにと祈りながら帰途につきました。<BR>

<figure>
<IMG src="img/nagasaswa1.jpg" width="467" height="337" border="0">
<figcaption>後方の山稜が櫛形山の稜線です</figcaption>
</figure>
<% include ./_common/footer %>
</BODY>
</HTML>
