<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>諏訪の小学生が八つ縄文織りを織り上げました</h2>
　しかも糸を紡ぐことから始めて！！この子どもたちが信州諏訪のおばあちゃん達が手織りに注いだエネルギーを感じ取り、大きくなって信州諏訪の手織りのことを思い出してくれることを願うばかりです。<BR>
　小学校３年生をここまでご指導いただいた先生、本当にご苦労様でした。ありがとうございました。　

<figure>
<IMG src="img/nakasu2.jpg" width="80%">
<figcaption>市民新聞より</figcaption>
</figure>

<figure>
<IMG src="img/nakasu1.jpg" width="80%">
<figcaption>長野日報より</figcaption>
<% include ./_common/footer %>
</BODY>
</HTML>
