<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
<!--[if lt IE 9]>
<style>
.accordion .ac-cont {/*1番のサンプル用*/
	height: auto;
}
</style>
<![endif]-->
</head>
<body>
<% include ./_common/header %>
<h2>信州諏訪の手織り体験</h2>

<secntion>
<p>遠方の皆様(勿論かよえる方も)で「とんからり」と織るだけでなく「手織りの全工程をやってみたい」という方々に経糸を整え、織機にセットし、織りあげるところまで全工程を行う織りの短期集中体験講座を開設しております。一寸ハードですが手織りとはどんなものかを体験され手織りとの良い出会いとさせていただければ幸いです。
短期集中体験講座は、宿泊先が確保でき、講習用織り機に空きがあれば原則として何時でも受講いただけます。日程等はご都合に応じ出来る限り対応させていただきます。遠慮なく電話、メール等でご相談下さい。
</p>
</section>

<figure>
<IMG src="img/Image141.jpg" width="435" height="320">
<figcaption>諏訪湖の夕暮れ。汚れてしまった諏訪湖ですが今でも夕景色はすばらしいものがあります</figcaption>
</figure>

<h3>講座内容</h3>
<!--<figure>
<IMG src="img/amida.jpg" width="342" height="437">
</figure>-->
<p>いずれの場合もご予約をいただいております。<br>
ご予約・お問い合わせに際しましては「ご予約について」をご一読下さい</p>


<h4>信州諏訪の手織り 3日間</h4>
<section>
<figure>
<IMG src="img/yatusp.jpg" width="480" height="246" border="0">
<figcaption>一番右の白い山が八ヶ岳の主峰　赤岳 です</figcaption>
</figure>
<ol>
<li>日程</li>
<p>第1日　織りの説明　　経糸の調整・整経・織り機へのセット<br>
第2日　織り付け・織り<br>
第3日　織り、織り終わりの始末</p>
<li>費用</li>
18,000円＋教習中の材料費　(消費税別)<br>
※費用に含まれないもの　宿泊費、食事代等の滞在費用
<li>その他</li>
1工程を履修します。第1日目は午前中にご来店ください
</ol>
</section>


<h4>信州諏訪の手織り 6日間</h4>
<figure>
<IMG src="img/amida01.jpg" width="503" height="347">
</figure>

<ol>
<li>日程</li>
第1日 織の概略について・経糸の調整・整経<br>
第2日 織り機へのセット・織り付け・織り<br>
第3日 織り・仕上げ<br>
第4日 経糸の調整・整経<br>
第5日 織り付け・織り<br>
第6日 織り・仕上げ<br>
※1: 時間的余裕ができた場合は3工程を行ないます。<br>
※2: 原則木～火曜日の6日間とさせていただいております。
<li>費用</li>
30,000円＋教習中の材料費　(消費税別)<br>
※費用に含まれないもの　宿泊費、食事代等の滞在費用
</ol>
</section>

<h4>信州諏訪の手織り 6日間　〜織機を購入し、手織講習を受講される場合</h4>
<figure><IMG src="img/tatuba01.jpg" width="486" height="352" border="0"></figure>

<ol>
<li>日程</li>
第1日 織の概略について・経糸の調整・整経<br>
第2日 織り機へのセット・織り付け・織り<br>
第3日 織り・仕上げ<br>
第4日 経糸の調整・整経<br>
第5日 織り付け・織り<br>
第6日 織り・仕上げ　<br>
（時間的余裕ができた場合は3工程を行ないます。）

<li>費用</li>
270,000円(消費税別)<br>
※費用に含まれるもの<br>
<a id="modal-open" class="button-link">ご参考（下表）：織りに一般的に使用する道具一式</a>、教習中の受講料<br>
※費用に含まれないもの<br>
　滞在費用（宿泊、食事等の費用）・教習用材料費
</ol>

<!-- ここからモーダルウィンドウ -->
<div id="modal-content">
	<!-- モーダルウィンドウのコンテンツ開始 -->
手織り機本体：1<br>
綜絖（並目）：1000<br>
綜絖枠（60cm）：4<br>
織り付け布：1<br>
織り付け棒：1<br>
ロクロｓ：2<br>
ロクロL：1<br>
イタリアンコード：25<br>
筬（30羽/寸間）：1<br>
筬通し：1<br>
綜絖通し：1<br>
杼：1<br>
板杼（38cm）：1<br>
整経台（1反掛）：1<br>
座繰り機：1<br>
綛繰り機：1<br>
管巻き機：1<br>
小管：5<br>
プラスチック枠（中古）：6<br>
綾板：1<br>
引き込み具：1<br>
丸棒：1<br>
さばき板：1<br>
リストピンクッション：1<br>
セル待針：10<br>
そりばさみ：1<br>
ほつれ止め（大）：2<br>
シリコン系潤滑剤：1<br>
竹尺（鯨尺2尺・75ｃｍ）：1<br>
櫛（みねばり　大）：1<br>
平ゴム　8ｍｍ：3<br>
<p><a id="modal-close" class="button-link">閉じる</a></p>
<!-- モーダルウィンドウのコンテンツ終了 -->
</div>
<!-- ここまでモーダルウィンドウ -->


<section>
<h3>ご予約について</h3>
ご予約に際してのお願い
<ol>
<li>ご予約の流れ</li>
<ul>
<li>メール、お電話でのお申込</li>
<li>宿のご予約・受講日の決定</li>
<li>予約金のご送金</li>
<li>入金の確認・本予約</li>
<li>当店から持ち物、お願い等をお知らせ</li>
<li>ご来店・受講開始</li>
</ul>

<p>
<li>予約についてのお願い</li>
大変不躾で申し訳ございませんが、ご予約の際、予約金として10,000円のご送金をお願い致します。<br>
ご入金を確認致しまして本予約とさせて頂きます。ご送金方法は<A href="tyumon.html">こちら</A>をご参照下さい。
</p>

<p>
<li>予約の取り消し</li>
<ul>
<li>織の講習受講予約のキャンセルは、受講開始5日前までにお願い致します。</li>
<li>予約金は送金手数料を差し引かせていただき、ご返金させて頂きます。キャンセル時にご送金先をお知らせ下さい。</li>
</ul>
</p>

<p>
<li>宿泊先</li>
観光地のためたくさんの宿がございます。宿のご予約は、ご希望にかなった宿であるか否かのトラブルを避けるため、直接ご予約戴いております。<br>
連休、お盆、年末年始は繁忙期となります。料金、予約とも通常のパターンでは行かない場合が多々ございます。お早めにお問い合わせをお願い致します。
</p>

<p>
【周辺の宿泊施設】<br>
<ul>
<li>ビジネスホテル：5,000円位～ (宿泊のみ) 当店まで徒歩20分</li>
<li>民宿：6,000円位～ (2食付)　当店まで徒歩20分～</li>
<li>民宿：3,000円位～ (食事無)　当店まで徒歩20分　台所有長期滞在可　料金は相談（1,300位～）</li>
<li>ペンション: 7,000円位～（2食付）　当店まで車30分</li>
<li>長期（1ヶ月以上）の場合はマンスリーマンション：6,500円位～（1ｹ月） 当店まで徒歩20分</li>
</ul>
</p>

<p>
【ご参考までに（最近皆様が使われた宿泊施設）】<br>
<ul>
<li>上諏訪ステーションホテル　<a href="http://www.kamisute.com/" target="_blank">http://www.kamisute.com/</a></li>
<li>ビジネスホテルシェモア　<a href="http://www.h-chezmoi.co.jp/" target="_blank">http://www.h-chezmoi.co.jp/</a></li>
<li>ホテルルートイン上諏訪　<a href="http://www.route-inn.co.jp/search/hotel/index.php?hotel_id=25" target="_blank">http://www.route-inn.co.jp/search/hotel/index.php?hotel_id=25</a></li>
<li>Ｂ＆Ｂ　めぐハウス　ZuKu　　<a href="http://www.jalan.net/yad380215/" target="_blank">http://www.jalan.net/yad380215/</a></li>
</ul>
</p>
</section>
<% include ./_common/footer %>
</BODY>
</HTML>
