<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>染物屋さんと清水</h2>

当店の住所は「諏訪市清水・・・・」ですが名前のとおり随所に清水が湧き出ています。一番大きな湧き口は山の手に10分位登った「地蔵寺」というお寺の庭にあります。
<figure>
<IMG src="img/mizu01.jpg" width="200" height="144" border="0">
<IMG src="img/mizu02.jpg" width="169" height="250" border="0">
<figcaption>TKさん撮影</figcaption>
</figure>

　ここから流れ出た水は、石を積んだ「せぎ」をとおり、幾つもの湧き水を加え街の中を流れて行きます。私の祖母の時代、このせぎの水は洗顔、炊事、洗濯など生活用水として使われていました。</FONT></TD>

<figure>
<IMG src="img/mizu03.jpg" width="200" height="150" border="0">
<IMG src="img/mizu04.jpg" width="200" height="150" border="0">
<IMG src="img/mizu05.jpg" width="200" height="139" border="0">
</figure>
　途中の「秋葉神社」というお宮の近くにある湧き口の石には「清水町」と刻まれています。

<figure>
<IMG src="img/mizu07.jpg" width="200" height="150" border="0">
<IMG src="img/mizu06.jpg" width="200" height="157" border="0">
</figure>

<p>　この豊富な水を利用して、流れのまわりには、｢造り酒屋｣、｢味噌・醸造屋｣、そして｢染物屋｣が幾軒も、のきを連ねていました。<BR>
　｢染物屋｣さんは｢こうや様｣（紺屋がなまったんでしょうか）と呼ばれ、糸を染める「糸染めこうや様」と布を染める「布染めこうや様」がありました。糸には、絣が、布には型染め等が施されました。「こうや様」が染める生地の糸、布は、木綿が大半で、お母さんが娘のお嫁入り道具を整えるため等よそ行き</FONT><FONT size="2" >（注1）</FONT><FONT size="3">用に使用されました。自家用には、よそ行き用に使われた木綿の残糸、端布（はぎれ）を大切に保存、再生させ使用しました。余程の事が無い限り絹を使用することはありませんでした。</FONT><FONT size="2">（注2）</FONT><FONT size="3"><BR>
　東京、大阪のような大都市とは違い、諏訪地方では職業といえば「大工」「石工」「屋根板屋」「こうや」の4職業と「農業」しかない時代でした。といってもそんなに遠くない、明治初期の事です。<BR>
　「グルメ」「健康」に関するテレビ番組が人気をはくする一方、そんな事とは無縁の「おしん」もまた高視聴率を誇る等、妙なアンバランスが日常化しています。急速な時代の変貌が為した業なのでしょうか。<BR>
　「染一」（そめいち）さんのおじいちゃんからお聞きしたお話の一端です。</p>
<p>注1　「よそ行き」　「うち使い」の反対語。「うち」は「家」、「よそ」は他所　家以外で使用する事、もの<BR>
注2　コラム織りの豆知識12　「ぼろばた」のことをご参照ください</p>

<figure>
<IMG src="img/mizu08.jpg" width="200" height="150" border="0">
<IMG src="img/mizu09.jpg" width="200" height="147" border="0">
<IMG src="img/mizu10.jpg" width="200" height="137" border="0">
<IMG src="img/mizu11.jpg" width="151" height="150" border="0">
</figure>
　清水町は中央本線が開通し上諏訪駅（清水町から1ｋｍ北）ができるまでは商業の中心地でした。駅が開業し多くのお店は駅周辺に移ってしまいました。でも建物は健在で昔の威容を保ってきました。昨年その建物に呉服屋さんが復活しました。とても街の雰囲気が変わりました。<BR>
　｢清水｣と｢手織り｣と｢染物｣。様々な人々が様々な営みを繰り返し、つくりあげてきた街である事を感じます。
<% include ./_common/footer %>
</BODY>
</HTML>
