<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>

<h2>織り糸・織り機のご案内</h2>
<figure>
<IMG src="img/oriito.jpg">
</figure>

<h3>手織り糸</h3>
綿30/2,20/3とも原糸から染め加工を行っています。その為ご希望の色を作り出す事も可能です。
<figure>
<IMG src="img/oriitoannnai.jpg">
</figure>

<A href="pdf/30_2stock.pdf" target="_blank">綿30/2在庫表</A><br>
日々変わります。お急ぎの場合はお手数でもメール、お電話等でご確認ください。
20/3・30/2の色見本帳をお作り致します。お申し付け下さい。<BR><br>

<figure>
<IMG src="img/mihon.jpg">
</figure>

<h3>色見本帳価格表</h3>
<TABLE>
<TR>
<th>30/2<br>60g(16匁)カセ</th>
<th>30/2<br>940gスプール巻</th>
<th>20/3<br>37.5g(10匁)カセ</th>
<th>価格</th>
<TR>
<TD>34色</TD>
<TD>133色</TD>
<TD>21色</TD>
<TD rowspan="2">￥2,000（送料・税込）</TD>
</TR>
<TR>
<TD>現物</TD>
<TD>現物</TD>
<TD>色現物</TD>

</TABLE>
※見本帳には「30/2　60ｇかせ」･「20/3　37.5gかせ」の実物が1かせずつ付いています。


<h3>手織り機</h3>
ご注文、お問い合わせは<a href="lcvmail.html">メール</a>でお願い致します。<BR>
また織機についてのお問い合わせは、お電話にてお願い致します。<BR>

<h3>諏訪式手織り機</h3>
<p>信州諏訪に伝え残された様々な手織り機（諏訪地方では「はたご」といいます）の長所に時代に適応した機能を加え、
30年に渡って改良を重ねてまいりました。今の機種で8代目。日々新たでありたいと考えています。</p>

<p>2015/10より諏訪式手織り機の仕様が大きく変わりました</p>

<h3>諏訪式手織り機の仕様変更点と特徴</h3>
<ol>
<li>綜絖枠を6枚まで装着出来るようになりました（綜絖枠4枚・ロクロ4本が標準装備）</li>
<li>踏み木が6本となりました。（6本が標準装備）</li>
<li>諏訪式手織り機特有の矢羽標準装備。床巻きに最適</li>
<li>分解できるようになりました。（50ｃｍ程度の間口から搬入・搬出が可能）</li>
<li>諏訪式はちきりが高い位置にあり綜絖通し、筬通し全て椅子に座って作業可能</li>
<li>6枚綜絖・6本踏み木 組織図集（30ｐｔ） 　八つ縄文織り6×6作品集（30ｐｔ）　　付</li>
</ol>

<table width="370">
<div align="center">
<div class="fotorama">
<img src="img/oriito1.jpg" data-caption="諏訪式手織り機　4（6）枚綜絖・6本踏み木　最大織り幅60ｃｍ	">
<img src="img/oriito2.jpg" data-caption="綜絖枠4（6）枚・ロクロ4本">
<img src="img/oriito3.jpg" data-caption="踏み木6本">
<img src="img/oriito4.jpg" data-caption="諏訪式特有の矢羽">
</div>
</div>
</table>

<h3>諏訪式手織り機の概要</h3>
<ul>
<li>高機</li>
<li>4枚綜絖(6枚装着可能）</li>
<li>4本ロクロ</li>
<li>6本踏み木</li>
<li>最大織り巾60cm</li>
<li>巾970×高さ1370×奥行970</li>
<li>価格　　　230,000円 (本体)</li>
</ul>

<h3>付属品等について</h3>
<ol>
<li>織りには織機以外に必要な道具がございます。（下表をご参照ください）</li>
<li>筬はご注文時にお申し付け下さい。（別途料金が必要となります。幅、目数により5000円から6000円程度となります。）織機の最大織り巾は60cmですが、使用する筬幅以上の幅を織ることはできません。ご注意ください。</li>
</ol>

<TABLE>
<TR>
<th>種別</th>
<th>機料名</th>
<th>備考</th>
</TR>
<TR>
<TD rowspan="8">本体及び付属品<BR>
(標準装備品）<BR>
</TD>
<TD>手織り機本体</TD>
<TD rowspan="8">　　　　</TD>
</TR>
<TR>
<TD>綜絖（並目）　500本</TD>
</TR>
<TR>
<TD>綜絖枠（60cm）　4枚</TD>
</TR>
<TR>
<TD>織り付け布　1枚</TD>
</TR>
<TR>
<TD>織り付け棒　1本</TD>
</TR>
<TR>
<TD>ロクロｓ　2本</TD>
</TR>
<TR>
<TD>ロクロL 2本</TD>
</TR>
<TR>
<TD>イタリアンコード　　20ｍ</TD>
</TR>
<TR>
<TD rowspan="12">上記以外に必要な道具</TD>
<TD>筬</TD>
<TD>必要に応じて調製します</TD>
</TR>
<TR>
<TD>筬通し</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>綜絖通し</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>杼</TD>
<TD>複数あると便利</TD>
</TR>
<TR>
<TD>板杼（38cm）</TD>
<TD>複数あると便利</TD>
</TR>
<TR>
<TD>整経台</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>座繰り機</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>綛繰り機</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>管巻き機</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>小管</TD>
<TD>4～10本程度必要</TD>
</TR>
<TR>
<TD>枠</TD>
<TD>4～10個程度必要</TD>
</TR>
<TR>
<TD>綾板</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD rowspan="14">あると便利な道具</TD>
<TD>引き込み具</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>丸棒</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>さばき板</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>綜絖枠（60cm）</TD>
<TD>6枚にする場合必要</TD>
</TR>
<TR>
<TD>綜絖（並目　500本）</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>ピンクッション</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>セル待針</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>そりばさみ</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>シリコン系潤滑剤</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>竹尺（鯨尺2尺・75ｃｍ）</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>櫛（みねばり）</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>平ゴム　8ｍｍ　3ｍ　</TD>
<TD>　　　</TD>
</TR>
<TR>
<TD>イタリアンコード　</TD>
<TD>必要分計り売り</TD>
</TR>
<TR>
<TD>ほつれ止め</TD>
<TD>　　　</TD>
</TR>
</TABLE>

<h3>織機の送料について</h3>
首都圏、名古屋圏は、15,000円（本体）。<br>
それ以遠の地域に付きましては、別途運送会社と交渉しお話させて戴きたいと考えております。よろしくお願い致します。　　　　　　　
<% include ./_common/footer %>
</BODY>
</HTML>
