<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>卓上手織り</h2>
<figure>
<IMG src="img/takujyo3.jpg">
</figure>

卓上手織りが最近見直されてきています。着尺を織るのではなく様々なｇｏｏｄｓをつくってみたい、そんな方々がたくさんいらっしゃるようになったためではないかと思います。織りものには、高機（たかはた　織機に座って織るもの）の得意のもの、卓上織り機の得意なものがあります。織機によって織りたいものをはっきりさせて始められるのが良いかと思います。でも基本的には作業内容は同じです。「きちんと」「ていねいに」が、良い作品をつくるための大原則です。

<figure>
<IMG src="img/takujyo1.jpg">
</figure>

<figure>
<IMG src="img/takujyo2.jpg">
</figure>

　卓上手織り教室は、随時開催しております。受講ご希望の方は、お店、ｍａｉｌ、お電話等でお申し込み下さい。開講日が決定次第ご連絡させていただきます。よろしく、お願い致します。

<TABLE>
<TBODY>
<TR>
<th>時　間</th>
<TD>ＡＭ10：30～ＰＭ4：30</TD>
</TR>
<TR>
<th>受講料</th>
<TD>3,000円/回</TD>
</TR>
<TR>
<th>機使用料</th>
<TD>500円（織り機をお持ちでない方）</TD>
</TR>
<TR>
<th>材料費</th>
<TD>実費</TD>
</TR>
<TR>
<th>持ち物</th>
<TD>お申し込みの際お知らせいたします。</TD>
</TR>
</TBODY>
</TABLE>

　講習用の織機を用意いたしました。卓上手織り機をお持ちでない方も受講いただけます。また、使用する織り機はメーカーを問いません。使用方法、組立て方法が判らず買ったままになっている場合等ございましたら遠慮無くお申し付けください。

<figure>
<IMG src="img/takujyou.jpg">
</figure>
<% include ./_common/footer %>
</BODY>
</HTML>
