<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>「八つ縄文織り」作品展示室</h2>
2008年11月に行なわれました「信州諏訪の手織り展示会」に出展された「八つ縄文織り」をご紹介します<BR>
<BR>
<IMG src="img/tenjkai010.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai008.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai009.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai022.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai011.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai025.jpg" width="360" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai012.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai027.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai031.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai032.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai035.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai037.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai038.jpg" width="640" height="480" border="0"><BR>
<BR>
<IMG src="img/tenjkai039.jpg" width="640" height="480" border="0"><BR>
<BR>
<FONT size="2">出展者のお名前は非表示とさせていただいてあります。失礼の段お許し下さい。</FONT><BR>
<% include ./_common/footer %>
</BODY>
</HTML>
