<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>手織りアラカルト</h2>

<div align="center">
<div class="fotorama">
<img src="img/ala01.jpg" data-caption="手織り教室H.Mさんの作品です">
<img src="img/boro2_2.jpg" data-caption="手織り教室S.Hさんの作品です">
</div>
</div>

<A href="kiso.html">木曽郡木曽福島町立黒川小学校</A><br>
<A href="ori15.html">染物屋さんと清水</A><br>
<A href="nagasawa.html">櫛形山の麓へお嫁入りしました</A><br>
<A href="wada.html">残雪を残した山々と、機を愛する方々に囲まれて・・</A>
<% include ./_common/footer %>
</BODY>
</HTML>
