<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>コラム　手織りの豆知識</h2>

<h3>信州諏訪の手織りについて</h3>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori8.html">大切な方々</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori87.html">民藝について</A><br>
<A href="column/ori00.html">信州諏訪の手織りの足跡</A><br>
<A href="column/ori41.html">綾のこと</A><br>
<A href="column/ori27.html">『6』と『4』ヨミについて</A><br>
<A href="column/ori14.html">「ぼろばた」のこと</A>

<h3>機料（織りの道具）・糸について</h3>
<A href="column/ori1.html">筬（おさ）</A><br>
<A href="column/ori30.html">「算（ヨミ）の記録」</A><br>
<A href="column/ori3.html">目・羽・本</A><br>
<A href="column/ori9.html">尺・立</A><br>
<A href="column/ori7.html">織りの道具</A><br>
<A href="column/ori2.html">整経台　経場（へば）</A><br>
<A href="column/ori16.html">ロクロについて</A><br>
<A href="column/ori47.html">「3本ロクロ」から「2本ロクロ」</A><br>
<A href="column/ori12.html">糸の結び</A><br>
<A href="column/ori13.html">紐の結び</A><br>
<A href="column/ori4.html">経糸の必要量</A><br>
<A href="column/ori26.html">経糸の必要量　その2</A><br>
<A href="column/ori11.html">不思議ですね！</A><br>
<A href="column/ori10.html">緯糸の必要量</A><br>
<A href="column/ori32.html">この糸でどの位織れるのか</A><br>
<A href="column/ori90.html">使用筬の目安をつける</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori104.html">ロクロ式での多綜絖枠セットについて</A>

<h3>実技について</h3>
<A href="column/ori5.html">整経方法</A><br>
<A href="column/ori29.html">整経方法　その2</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori106.html">整経の準備</A><br>
<A href="column/ori54.html">仮筬通しから機に掛けるまでの注意点</A><br>
<A href="column/ori50.html">奇数にご注意！</A><br>
<A href="column/ori39.html">右と左</A><br>
<A href="column/ori18.html">どうしてこうなっちゃうんだろ</A><br>
<A href="column/ori35.html">経、緯の逆転</A><br>
<A href="column/ori33.html">手織りショック防止法</A><br>
<A href="column/ori24.html">お釈迦様の手の内</A><br>
<A href="column/ori45.html">経と緯　表と裏</A><br>
<A href="column/ori31.html">柄を大きくする</A><br>
<A href="column/ori77.html">柄の輪郭線を強調する</A><br>
<A href="column/ori86.html">平織りを加える</A><br>
<A href="column/ori84.html">縞の整経「縞割り」</A><br>
<A href="column/ori91.html">手織り機の初期状態</A><br>
<A href="column/ori92.html">整経・巻き挙げの注意点</A><br>
<A href="column/ori93.html">床巻きについて</A><br>
<A href="column/ori95.html">綾の取り方の違いによる注意点</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori97.html">経糸の切れた時の対処法</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori98.html">緯糸の繋ぎ方</A><br>
<A href="column/ori74.html">畳織りを折る</A><br>
<A href="column/ori23.html">4枚あすびで斜めの柄を織る</A><br>
<A href="column/ori105.html">綜絖枠と踏み木の結合方法</A><br>
<A href="column/ori17.html">踏み木の踏み順について</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori101.html">踏み木の踏み順について　その2</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori107.html">綜絖の通し誤り防止策</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori108.html">巾出しに使用する「仮筬」について</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori109.html">奇数本の縞割りについて</A><br>
<A href="column/ori112.html">緯吉野の変形について</A><br>
<IMG src="img/light0.gif" width="16" height="16" border="0"><A href="column/ori113.html">3本ロクロから2本ロクロへの変更</A>

<% include ./_common/footer %>
</BODY>
</HTML>
