<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<TITLE>手織り糸 手織り機（手織糸 手織機）手織り体験　手工芸材料　信州諏訪</TITLE>
</HEAD>
<BODY>
<IMG src="Ichiki.jpg" width="94" height="39" border="0"><BR>
<DIV align="center">
<TABLE>
  <TBODY>
    <TR>
      <TD><IMG src="tyumon2.jpg" width="271" height="56" border="0"></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<form method="POST" action="/cgi-bin/f2m.cgi?ichiki"><BR>
<FONT size="4"><B>送信フォームよりのご注文はこちらから！</B></FONT><BR>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TH>郵便番号</TH>
      <TD width="139"><INPUT size="10" type="text" name="郵便番号"></TD>
    </TR>
    <TR>
      <TH>お名前</TH>
      <TD width="139"><INPUT size="20" type="text" name="お名前"></TD>
    </TR>
    <TR>
      <TH>ご住所</TH>
      <TD width="139"><TEXTAREA rows="2" cols="30" name="住所"></TEXTAREA></TD>
    </TR>
    <TR>
      <TH>電話番号</TH>
      <TD width="139"><INPUT size="20" type="text" name="電話番号"></TD>
    </TR>
    <TR>
      <TH colspan="2" align="center"></TH>
    </TR>
    <TR>
      <TH>ご注文商品１</TH>
      <TD width="139"><INPUT size="30" type="text" name="ご注文商品１"></TD>
    </TR>
    <TR>
      <TH>ご注文商品２</TH>
      <TD width="139"><INPUT size="30" type="text" name="ご注文商品２"></TD>
    </TR>
    <TR>
      <TH>ご注文商品３</TH>
      <TD width="139"><INPUT size="30" type="text" name="ご注文商品３"></TD>
    </TR>
    <TR>
      <TH>ご注文商品４</TH>
      <TD width="139"><INPUT size="30" type="text" name="ご注文商品４"></TD>
    </TR>
    <TR>
      <TH>ご注文商品５</TH>
      <TD width="139"><INPUT size="30" type="text" name="ご注文商品５"></TD>
    </TR>
    <TR>
      <TH colspan="2"></TH>
    </TR>
    <TR>
      <TH colspan="2">メッセージ等ございましたらご記入ください。</TH>
    </TR>
    <TR>
      <TH colspan="2"><TEXTAREA rows="5" cols="50" name="メッセージ"></TEXTAREA></TH>
    </TR>
    <TR>
      <TH colspan="2"></TH>
    </TR>
    <TR>
      <TH colspan="2"><INPUT type="submit" value="送信する"></TH>
    </TR>
    <TR>
      <TH colspan="2"><INPUT type="reset" value="やり直し"></TH>
    </TR>
  </TBODY>
</TABLE>
<BR>
</FORM>
<BR>
<IMG src="tyumon1.jpg" width="539" height="645" border="0"><BR>
<BR>
<TABLE style="line-height : 23px;">
  <TBODY>
    <TR>
      <TD><B><FONT size=2>通信販売をご利用頂く前に下記をご一読下さい。 </FONT></B></TD>
    </TR>
    <TR>
      <TD>
      <TABLE border="0" cellpadding="1" cellspacing="0" width="600">
        <TBODY>
          <TR>
            <TD>
            <TABLE cellpadding="8" cellspacing="0" width="600">
              <TBODY>
                <TR>
                  <TD ><FONT size=2><FONT color=#0000ff>＜販売主＞</FONT><BR>
                  会社名：（有）いちき糸店 ／ 代表者：高木義一朗<BR>
                  所在地：〒392-0007 長野県諏訪市清水1-6-7<BR>
                  電話番号：0266-52-0518<BR>
                  <BR>
                  <FONT 
color=#0000ff>＜お支払い方法＞</FONT><BR>
                  上記をご参照ください<BR>
                  ※上記以外の方法をご希望の場合は、直接お電話でお問い合せ下さい。<BR>
                  ※ 商品の価格以外に特別な記載がない限り送料、消費税が別途かかります。（ご請求金額は上記により、予め確認させていただきます。）<BR>
                  <BR>
                  <FONT color=#0000ff>＜発送地域＞</FONT><BR>
                  発送先は、日本国内のみとさせて頂きます。<BR>
                  <BR>
                  <FONT 
color=#0000ff>＜不良品・間違い等について 
＞</FONT><BR>
                  商品発送には万全の注意を払っておりますが、万一不良品や間違った商品がお客様の元へ届いた場合はすぐにご連絡下さい。<BR>
                  当方の理由による不良品や間違った商品に限り、商品到着後、5日以内にご連絡頂けましたら、返品・交換をお受け致します。<BR>
                  尚、商品到着後 5日以上経過した商品についての返品は、お受け致しません。ご了承ください。<BR>
                  当方の理由による不良品の返品・交換の際は、送料を当方にて負担致します。<BR>
                  ご連絡は、お電話・Ｅ−Ｍａｉｌどちらでも構いません。すぐにお取替え致します。
                  <BR>
                  <BR>
                  <FONT 
color=#0000ff>＜返品・キャンセルについて＞</FONT><BR>
                  お客様のご都合による返品、キャンセルはお受け致しません。<BR>
                  <BR>
                  <FONT 
color=#0000ff>※セキュリティーに関して</FONT><BR>
                  ・お客様よりご提供いただいた情報は機密保持し、お客様へご注文商品をお届すること以外には使用いたしません。<BR>
                  ・お客様のご注文および購入商品に関する情報は、第三者に対して提供したり、売却することは一切ございません。
                  <BR>
                  </FONT></TD>
                </TR>
              </TBODY>
            </TABLE>
            
          
        </TBODY>
      </TABLE>
      
    
  </TBODY>
</TABLE>
</DIV>
<P align="center"><BR>
<A href="../index.htm" target="_self"><B><FONT color="#009900" size="3" face="ＭＳ Ｐゴシック">HOME</FONT></B></A> 　　<A href="oriito.htm" target="_self">手織り糸・手織り機</A>　　<A href="ori.htm#m5" target="_parent">信州の手織り</A> 　<A href="../syugeiala.htm" target="_self">手芸あらかると</A>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
</P>
</BODY>
</HTML>