<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>ご注文からお届けまで</h2>

<figure>
<IMG src="img/tyumon1.jpg" width="556" height="662" border="0">
</figure>

<h3>お急ぎの場合</h3>
入金の確認には2,3日が必要です。領収印付きの振込み用紙をFAXまたはメールでお送りください。<BR>
確認次第発送させていただきます。

<h3>送料</h3>
荷物の大小に関わらず￥500（税別）となります。北海道、沖縄に付きましては別途ご注文内容確認のメールにてご確認ください。<BR>

<h3>販売主</h3>
会社名：（有）いちき糸店 ／ 代表者：高木義一朗<br>
所在地：〒392-0007 長野県諏訪市清水1-6-7<br>
電話番号：0266-52-0518

<h3>お支払い方法</h3>
上記をご参照ください<BR>
※上記以外の方法をご希望の場合は、直接お電話でお問い合せ下さい。<BR>
※ 商品の価格以外に特別な記載がない限り送料、消費税が別途かかります。（ご請求金額は上記により、予め確認させていただきます。）

<h3>発送地域</h3>
発送先は、日本国内のみとさせて頂きます。<BR>

<h3>不良品・間違い等について</h3>
商品発送には万全の注意を払っておりますが、万一不良品や間違った商品がお客様の元へ届いた場合はすぐにご連絡下さい。<BR>
当方の理由による不良品や間違った商品に限り、商品到着後、5日以内にご連絡頂けましたら、返品・交換をお受け致します。<BR>
尚、商品到着後 5日以上経過した商品についての返品は、お受け致しません。ご了承ください。<BR>
当方の理由による不良品の返品・交換の際は、送料を当方にて負担致します。<BR>
ご連絡は、お電話・メールどちらでも構いません。すぐにお取替え致します。

<h3>返品・キャンセルについて</h3>
お客様のご都合による返品、キャンセルはお受け致しません。<BR>

<h3>プライバシーポリシー</h3>
<ul>
<li>お客様よりご提供いただいた情報は機密保持し、お客様へご注文商品をお届すること以外には使用いたしません。</li>
<li>お客様のご注文および購入商品に関する情報は、第三者に対して提供したり、売却することは一切ございません。</li>
<% include ./_common/footer %>
</BODY>
</HTML>
