<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>残雪を残した山々と、機を愛する方々に囲まれて…</h2>
　正面に残雪が新緑に映える甲斐駒ケ岳が深い釜無川の谷の向こうにひかえ、振り返れば八ヶ岳の盟主赤岳、阿弥陀岳、権現岳が真近に迫るまるで絵に描いたようなロケイションの地に私達の手織り機がお嫁入りしました。<BR>
　八ヶ岳、南アルプス北端の山々は私の様々な意味で原点です。そんな地に私達の思いが一杯詰まった手織り機がお嫁入りできた事に「縁」ってあるんだななんて感じ入ってしまいました。

<figure>
<IMG src="img/wada1.jpg" width="600">
<figcaption>
南に甲斐駒、鋸岳、雨乞岳、日向山
</figcaption>
</figure>
<figure>
<IMG src="img/wada2.jpg" width="600">
<figcaption>
東に八ヶ岳（左から阿弥陀、赤岳、西岳、権現、編笠山）
</figcaption>
</figure>

　上の写真のビニールハウスの内部が下の写真です。右側にいらっしゃる方がWさんのご主人。写真からはみだしてしまいましたが、木工用の大きな機械が所狭しと並んでいます。でもご主人のお仕事は木工関係のお仕事ではありません。なんとここはご主人の遊び場だったのです。ぴかぴかに磨かれた欅の大きなテーブルがこれから再生される「はたご」の下に布団をかぶって鎮座していました。<BR>

<figure>
<IMG src="img/wada7.jpg" width="600">
</figure>

　そんなご主人の手でつくられた木枠がWさんのはたごの置かれたお部屋にたくさんならんでいました。またきれいに磨かれ再生された座繰り、糸車も生き生きと蘇って活躍していました。

<figure>
<IMG src="img/wada4.jpg" width="600">
</figure>
<figure>
<IMG src="img/wada5.jpg" width="600">
</figure>

<p>　自作の管巻き機とカウンター付きのカセ繰り機もありました。管巻き機は管を両側から挟む構造になっているため、管のサイズを選びません。こんな管巻き機は初めて目にしました。また、シンプルな仕組みで回転数をカウントできるカセ繰り機にも驚かされました。<BR>
　Wさんのご主人のお母さんも機を織られていて、その様子を子どもの頃から見られてきたとのこと。ご夫婦で楽しく、自由に織りに関わられ、伝えられた信州諏訪の手織りの知恵が温かく育まれている光景とお話に、ついつい長居をさせていただいてしまいました。お土産にご主人のうたれたお蕎麦と、奥さんのつくられたジャムをいただき、初夏の真白な入道雲に囲まれた山々に見送られながら爽やかなウキウキした気分で帰途につきました。</p>

<p>
<A href="http://www.geocities.jp/yukan_club_fujimi/index.html" target="_blank">Wさんのご主人が主宰される「遊閑倶楽部」のHP</A>
</p>
<% include ./_common/footer %>
</BODY>
</HTML>
