<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>八つ縄文織り</h2>

<div align="center">
<div class="box_solid">
<span style="color:red;">急告</span><br>
<A href="pdf/teisei20160301.pdf" target="_blank">
八つ縄文織りテキスト Vol.3 P.16に誤植がありました。こちらからご確認ください。<br>
ご迷惑をお掛けし申し訳ありません。よろしくお願い致します。</A>
</div>
</div>

「八つ縄文織り（やつじょうもんおり）」は、信州諏訪で農家の女性達によって伝えられた織りの技法を進化させ文様の拡大・縮小を自由に行うことができる織り方です。
八ヶ岳山麓に花開いた縄文文化特に土器に表現された「大らかさ」と「爽やかさ」、「力強さ」は後の「<A href="ori87.html">民藝</A>」の原点となり「八つ縄文織り」の名の由来になっています。

<figure>
<IMG src="img/yatu02.jpg" width="90%">
<figcaption>八ヶ岳の主峰　赤岳（2899ｍ）</figcaption>
</figure>

<div align="center">
<div class="box_solid">
<ul>
<li><A href="tennjikai.html">「八つ縄文織り」作品展示室</A></li>
<li><A href="nakasu.html">諏訪の小学生が八つ縄文織りを織り上げました</A></li>
</ul>
</div>
</div>

織りの計画をたてる時、組織図に描かれた柄の、拡大、縮小が自由にできたらどんなに楽しいだろうと常々考えてきました。発想が自由に「織り」に展開できる、その事が「手織り」の原点ではないかと思っています。<BR>
<BR>
　経方向の柄の拡大は、あすび（綜絖）通しが柄を決めるので、同じパターンを繰り返すことにより比較的簡単に行うことができます。これとは反対に、緯方向は３倍にしたいからといって、足を踏み換えずに３回緯糸を通しても無意味ですし、緯糸を３倍太いものを使っても有用な柄を織り出す事は難しいものがあります。<BR>
　こんな時使われるのが、「平織り」との混織です。続けて同じ踏み木を踏むことはできませんが、間に「平織り」を入れると、経、緯糸は押さえられ、「平織り」をはさんで連続して同じ踏み木を踏む事が可能となります。この時、「平織り」の緯糸を見えないよう細い糸を使用すると、視覚的に緯方向にも拡大されてきます。<BR>
　ただ問題は、平織りを踏める踏み木があるかないかです。平織りを踏めない場合はあすび枠数、踏み木の本数を増やさなくてはなりません。また、同じあすび通しを何回も繰り返すと、経、緯糸が浮く間隔が長くなり組織が柔軟になってきてしまいます。<BR>
　諏訪地方にも柄の縮小、拡大を自由に行う方法が伝えられてきました。経糸の配色順番を途中で変え、総切り替え（経糸を1本毎に色を変える整経法）で整経し、緯糸を「太い糸」→「細い糸」と交互に繰り返し（追い杼）、途中で「細い糸」を2回通すと市松柄が織れてきます。<BR>
<BR>


<figure>
<IMG src="img/tenjkai008_1.jpg" width="60%">
<figcaption>「八つ縄文織り」の原型、「ぼろ機」の市松</figcaption>
</figure>


　この手法は、「ぼろ機（裂き織り）」によく使われてきました。この方法の長所は、柄の大きさを経方向、緯方向とも自由に変化させられる事と、組織に浮きが無く、しっかりとした布を織れる事にあります。これは、先にあげた柄の拡大、縮小方法の欠点を充分に補うものです。 <BR>

<figure>
<IMG src="img/yatu10.jpg" width="30%">
<figcaption>八ヶ岳西麓にある棚畑遺跡から発掘された「国宝　縄文のビーナス(土偶)」
<A href="http://www.city.chino.lg.jp/ctg/07050030/07050030.html" target="_blank">茅野市HP</A>より転載</figcaption>
</figure>

　この方法を更に充実、発展させ、経、緯方向とも自由に柄の拡大、縮小が行なえる方法により織られた　織物を総称し「八つ縄文織り（やつじょうもんおり）」と呼んでいます。<BR>
　　八ヶ岳山麓に壮大に展開する民藝の故郷、縄文文化の柄の、「おおらか」で「さわやか」な「力強さ」を　織り表せる事を願うとともに、たくさんの手織りを楽しまれる方々が、より自由にその世界を拡げられ、伝えられた信州諏訪の織りの文化が、また手織りに託された先人の心が、末永く伝えられることを願い名付けられました。

<TABLE width="759">
<TBODY>
<TR>
<TD width="453" height="363" align="center"><IMG src="img/sakuhin01.jpg" width="351" height="324"><BR>
</TD>
<TD height="363" width="356" align="center"><IMG src="img/sakuhin02.jpg" width="347" height="299"></TD>
</TR>
<TR>
<TD align="center"><IMG src="img/sakuhin01_1.jpg" width="150" height="113"></TD>
<TD align="center"><IMG src="img/sakuhin02_1.jpg" width="150" height="118"></TD>
</TR>
<TR>
<TD height="11" width="453" align="center"><FONT size="2">八つ縄文織り作品No.01　　￥16，000（送料・税別）</FONT></TD>
<TD height="11" width="356" align="center"><FONT size="2">八つ縄文織り作品No.02　　￥18，000（送料・税別）</FONT></TD>
</TR>
<TR>
<TD colspan="2" align="center" height="25"><FONT size="2"> 　　　経糸：　綿30/2　　　緯糸：　綿20/12・30/2　　　使用筬：45目/寸間（7ヨミ5テ）両目</FONT></TD>
</TR>
</TBODY>
</TABLE>

<ul>
<li>※<A href="sakuhinn.html">「八つ縄文織り作品集」</A> Vol.3が出来上がりました。</li>
<li>「柄の展示室」に掲載された柄は全て「八つ縄文織り」で自由に拡大することができます。</li>
<li>※「八つ縄文織り」の特修コースがございます。（要予約）　①整経・織り②体験の2コースがあります。詳細はメールまたはお電話でお尋ねください。</li>
</ul>

<% include ./_common/footer %>
</BODY>
</HTML>
