<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<TABLE>
  <TBODY>
    <TR>
      <TD height="395"><A href="#txt2" target="_self"><IMG src="text2_1.jpg" width="296" height="412" border="0"></A></TD>
      <TD width="278" height="395"><A href="#txt3" target="_self"><IMG src="text3.jpg" width="283" height="387" border="0"></A></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">八つ縄文織り作品集Vol. 2<BR>
</FONT></TD>
      <TD align="center" width="278"><FONT size="2">八つ縄文織り作品集Vol.3 　　新刊</FONT></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">－円の世界－</FONT></TD>
      <TD align="center"><FONT size="2">－縞と柄　　縞中柄－</FONT></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">A4版　30頁　￥1，200（送料･税別）</FONT></TD>
      <TD align="center" width="278"><FONT size="2">A4版　46頁　￥1，500（送料･税別）</FONT></TD>
    </TR>
    <TR>
      <TD colspan="2"><BR>
      </TD>
    </TR>
    <TR>
      <TD colspan="2" align="center"><FONT size="2">上の作品集の写真をクリックすると内容をご参照いただけます</FONT></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<FONT color="#009900"><A href="yatujyoumonn.htm" target="_self"><B><FONT size="2">八つ縄文織りtop</FONT></B></A></FONT><BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<A name="txt2"><FONT color="#ffffff">-</FONT></A><BR>
<TABLE width="714">
  <TBODY>
    <TR>
      <TD style="line-height : 26px;" width="676">　八つ縄文織り作品集Vol. 2　は円を表現する柄20種（図1）を掲載。更にその八つ縄文織りの柄を通常の織柄として表現できる組織図20種（図2）も掲載いたしました。通常の織りで表現された柄と八つ縄文織りで表現された柄をペアーの作品として展開いただけます。<BR>
      　<BR>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<IMG src="text2_2_1.jpg" width="584" height="434" border="0"><BR>
<FONT size="2">図1</FONT><BR>
<BR>
<IMG src="text2_2_2.jpg" width="572" height="428" border="0"><BR>
<FONT size="2">図2</FONT><BR>
<BR>
<BR>
<FONT color="#009900"><A target="_self" href="#top"><B>top</B></A></FONT><BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<A name="txt3"><FONT color="#ffffff">-</FONT></A><BR>
<BR>
<TABLE width="714">
  <TBODY>
    <TR>
      <TD style="line-height : 26px;" width="676">　八つ縄文織り作品集Vol. 3　は縞の中に柄を表現する10種（図1）を掲載いたしました。更にその10種の柄を同一の綜絖通しのまま異なった織柄として表現できる織り方20種（図1）を掲載。「縞割り」が必要となるため縞割りの具体的方法（図2）についても記載いたしました。<BR>
      　　</TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<IMG src="text3_1.jpg" width="600" height="441" border="0"><BR>
<BR>
<FONT size="2">図1</FONT><BR>
<BR>
<BR>
<IMG src="text3_2.jpg" width="600" height="442" border="0"><BR>
<BR>
<FONT size="2">図2</FONT><BR>
  <% include ./_common/footer %>
  </BODY>
  </HTML>
