</div>

<footer>
<div class="container">
<div align="center">
(有)一き糸店　〒392-0007 長野県諏訪市清水1-6-7　 TEL 0266-52-0518　　本ＨＰの無断転載を禁じます。
</div>
</div>
</footer>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
<script>
$(function(){
    $('#menu li').hover(function(){
        $("ul:not(:animated)", this).slideDown();
    }, function(){
        $("ul.child",this).slideUp();
    });
});
</script>
