<header>
<div class="container">
<a href="index.html"><IMG src="img/logo.gif"></a>
<IMG src="img/itokuruma00.gif" width="43" height="31">
</div>

<div align="center">
<ul class="menu">
<li class="menu__single">
<a href="#" class="init-bottom">手織り機・手織り糸</a>
<ul class="menu__second-level">
<li><a href='oriito.html'>織り糸・織り機のご案内</a></li>
<li><a href='teoriara.html'>手織りアラカルト</a></li>
<li><a href="yatujyoumonn.html">八つ縄文織り</a></li>
<li><a href="teorimame.html">信州諏訪の手織り豆知識</a></li>
<li><a href="garad.html">柄のデザイン</a></li>
<li><a href="orga/orga.html">6枚綜絖・6本踏み木組織図集</a></li>
<li><a href="ori_movie.html">手織りの知恵　動画集</a></li>
<li><a href="yama/yama.html">手織りと山登り</a></li>
<li><a href="https://www.facebook.com/pages/%E6%89%8B%E7%B9%94%E3%82%8A%E7%B3%B8%E6%89%8B%E7%B9%94%E3%82%8A%E6%A9%9F-%E3%81%84%E3%81%A1%E3%81%8D%E7%B3%B8%E5%BA%97/425138957623202?ref=hl" target="_blank"><span style="background-color:#3B5998;color:white;font-weight:bold">facebook</span> 作品展示室</a></li>
</ul>
</li>

<li class="menu__multi">
<a href="#" class="init-bottom">教室・講座</a>
<ul class="menu__second-level">
<!-- 第一階層 -->
<li><a href="kyoshitu.html">手織り教室</a></li>
<li><a href="ori.html">信州諏訪の手織り教室</a></li>
<li>
<a href="kouza.html" class="init-right">手づくり入門講座</a>
<ul class="menu__third-level">
<!-- 第二階層 -->
<li>
<a href="img/teami.jpg">手あみ</a>
<a href="img/1pon.jpg">魔法の一本針</a>
<a href="img/messyuwork.jpg">メッシュワーク</a>
<a href="img/threed.jpg">3D（スリーディ）</a>
</li>
</ul>
<li><a href="chibi.html">手習い手芸教室</a></li>
<li><a href="img/nitteihyou.jpg">スケジュール</a></li>
</li>
</ul>
</li>

<li class="menu__single">
<a href="tyumon.html">ご注文について</a>
</li>

<li class="menu__single">
<a href="mise.html">お店のご案内</a>
</li>

<li class="menu__single">
<a href="link.html">リンク</a>
</li>
</li>

</ul>
</div>
</header>

<div class="container">
