<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>信州諏訪の手織りの足跡</h2>
　単位の呼称にはその土地の風土と、歴史を反映しているものが多く見られます。同じ単位であっても、場所によって、また、時代によって呼び方が変化して行きます。西欧では厳密な基準を元に単位が決められて行くパターンが多く見られますが東洋、取り分け日本では時代によってフレキシブルに変化してきました。<BR>
      　中国古代に始まり朝鮮半島から日本にかけて現在まで用いられている重量の単位「斤（きん）」はその典型的な例であると思います。1斤は明治２４（1891）年制定の度量衡法によって１６０匁（６００ｇ）と定められました。ただ１２０匁（450ｇ）が１ポンドとほぼ同じだったため、１ポンドを1英斤（えいきん）＝１２０匁と別に呼称していました。ところが時間の経過とともに「英」が欠落し「１斤＝１ポンド＝１２０匁＝４５０ｇ」が一般的になってしまいました。（小泉袈裟勝著　　「図解　単位の歴史j辞典　新装版」　柏書房　参照）「ポンド」と「匁」の相性の良さはここに原因があり、糸の世界でも１ポンド＝１２０匁が常識となっています。（木綿糸は１０ポンドで１玉となっていて　１玉＝１０ポンド＝４．５ｋｇ＝１貫２００匁です）<BR>
      　「ヨミ（算、升、桝）」は、呼称は様々ですが、筬目の密度や、経糸の必要量を表示する単位として、日本はもとより、なんとヨーロッパ、東南アジアでも使用されてきた単位です。古い段階では、通常　経糸８０本＝１ヨミ（ひとよみ）　筬目４０目（羽）＝１ヨミ（ひとよみ）　で　並み幅　１反分（巾、長さは土地によって様々です）の経糸量を表示する単位でしたが、新しい段階（今でも量の単位として使用されている場所もありますが、かなり混乱しています　<B><FONT size="1">下記備考をご参照下さい</FONT></B>）では、単に寸間（基準巾は様々な単位が取られます）の筬目数を表す単位として使われるようになりました。しかし、経糸８０本＝１ヨミ（ひとよみ）　筬目４０目（羽）＝１ヨミ（ひとよみ）であることは変わりません。<br>
<br>
　ところが、この信州諏訪地方（厳密には中信、東信、南信を含む）は何故か、経糸１２０本＝１ヨミ　筬目６０目＝１ヨミなのです。私の知る限り、皆「４」の倍数なのに、ここだけが「６」の倍数なのです。何百枚かの筬を見てきましたが、すべて「６」なのです。しかも３０ｋｍと離れていない八ヶ岳の裾野を超え甲州山梨県側に入るとものの見事に「４」に変わるのです。何故このようなことになったのでしょうか。<BR>
      　信州諏訪にはこの「ヨミ」の他、「タテ」、「ヒズ」など特有（呼称が違うだけかもしれません）の単位があります。その起源、変化の足跡を辿る事は、糸を繋ぎ、布を裂き、糸車を回し、ただただ一筋に機を織ってきたおばあちゃん達の足跡を辿ることと同じ作業に思えます。きっと踏み跡の先には、そんなおばあちゃん達の機に込めた思いのいっぱい詰まった信州諏訪の手織りの礎があるような気がしてなりません。<BR>
      　信州諏訪地方の「ヨミ」を含む手織りの単位に関し、「コラム　手織りの豆知識」に少しずつ書き綴ってきた事柄を、下表に一つのくくりとして纏めてみました。ご参照ください。<br>
<br>
備考<br>
　産業として手織りを継続してきた地域では急速に手織りの合理化が進行し、一部を除き単位も旧来のものから統一された規格である西欧式表記に変わって行きました。また、新たに手織りを志した方々も多くは学校で、また教科書で一般的単位を学ばれる事が多く、旧来の方法、単位は急速に消滅し、全国的標準化が進んできました。<BR>
      　信州諏訪地方は、江戸末期手織りが産業として全盛期にありました。その後、産業としては衰退、しかし織機が残ったため、「うち使い＝自家用」の織物を織る方々が多数残り、産業化されない手織りの手法が近年まで比較的温存された特異な地域ではないかと思います。<BR>
      　民俗学あるいは民具学といった見地からではなく、また懐古趣味的なものでもなく、信州諏訪の何万、何十万人というおばあちゃん達が、寝食を忘れ織りつづけた中から積み上げてきた知恵を、限られた時間の中で、少しでも多く見聞し、思い出し、確かなものにしておきたい、それが取りも直さず私達の信州諏訪の手織りの原動力となって行くのではないかと思うこの頃です。

<TABLE border="1" width="337" style="font-size : 14px;line-height : 25px;">
  <TBODY>
    <TR>
      <th align="center" width="83">項目</th>
      <th align="center" width="310">タイトル</th>
    </TR>
    <TR>
      <TD align="center" width="83">筬</TD>
      <TD align="center" width="310"><A href="ori1.html">筬</A></TD>
    </TR>
    <TR>
      <TD align="center" width="83">単位</TD>
      <TD align="center" width="310"><A href="ori2.html">整経台・経場</A></TD>
    </TR>
    <TR>
      <TD align="center" width="83">単位</TD>
      <TD align="center" width="310"><A href="ori4.html">経糸の必要量</A></TD>
    </TR>
    <TR>
      <TD width="83" align="center">単位</TD>
      <TD width="310" align="center"><A href="ori9.html">尺・立</A></TD>
    </TR>
    <TR>
      <TD align="center">単位</TD>
      <TD align="center"><A href="ori11.html">不思議ですね</A></TD>
    </TR>
    <TR>
      <TD align="center">単位</TD>
      <TD align="center"><A href="ori26.html">経糸の必要量　その２</A></TD>
    </TR>
    <TR>
      <TD align="center">筬</TD>
      <TD align="center"><A href="ori27.html">「６」と「４」　　ヨミについて</A></TD>
    </TR>
    <TR>
      <TD align="center">ヨミの分布</TD>
      <TD align="center"><A href="ori30.html">「算（ヨミ）」の記録</A></TD>
    </TR>
  </TBODY>
</TABLE>
<figure>
<IMG src="img/ori00.jpg" width="500" height="283" border="0"><BR>
<figcaption>
当店教室　GTさん作図
</figcaption>
</figure>
  <% include ./_common/footer %>
  </BODY>
  </HTML>
