<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　完全組織と結合状態</h2>
<p>　４枚綜絖4本踏み木の組織（図1）の完全組織（図1の組織を構成する行列方向の最小単位）は次の3つの条件下では図2のように書き表せます。<BR>
      1.綜絖通しの分類番号は左から1，2，3，4とする<BR>
      2.踏み木の踏み順の分類番号は上から1，2，3，4とする<BR>
      3.組織は経糸が緯糸の上にある時■とし緯糸が経糸の上にある場合□とする</p>

<figure><img src="./img/ori100_1.jpg" width="459" height="471" border="0">
<figcaption>図1</figcaption></figure>

<figure><img src="./img/ori100_2.jpg" width="110" height="117" border="0"><figcaption>図2</figcaption></figure>

<p>　「結合状態変更による柄の変化」のところでもふれましたが「結合状態」と「完全組織」とは「1対1」で対応しています。上記の条件下では「完全組織」と「結合状態」の対応は一部ですが図3のように書くことができます。<BR>
　「結合状態」と「完全組織」がお互いに「結合状態」⇔「完全組織」の関係にあることをはっきり認識しておくことは織りのデザイン上極めて大切です。</p>

<figure><img src="./img/ori100_3.jpg" width="100%">
<figcaption>図3</figcaption></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
