<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>踏み木の踏み順について</h2>
　踏み木を踏む順番は、足が交差してしまったり、両足を同時に持ち上げたりすることが無い様にしておかないと、不自然で動作に無理がでてきてしまいます。<BR>
      　　例えば「1→2→3→4」<B><FONT size="2">（注1）</FONT></B>と踏むと、2番を踏んだ後3番を踏む時、足が交差してしまいます。また、1、2を左足で踏んで3、4を右足で踏むとそれぞれの足が2回連続して踏む事になり、動作がギクシャクしてしまいます。「1と3→2と4」と踏むと、両足を同時に持ち上げる、また両足を同時に踏み込むという動作となり、非常に疲れます。リズミカルで自然な動作というのは、長時間作業をしても疲れませんし、能率も上がります。その典型が昔から踏まれてきた「1→3→2→4」という踏み順です。「1→4→2→3」も同じ意味ですが踏んでみると違いがすぐに判ります。<BR>
<BR>
      　　4枚綜絖、4本踏み木で綾織りをする場合、計画をたてる時、まず綜絖通し、踏み木の踏み順を踏み易さとは関係なく決め、綜絖枠と踏み木の繋ぎを決めた後、再度強制的に踏み順を「1→3→2→4」になるよう繋ぎを変更すると、簡単に踏み順を矯正することができます。また、かなり複雑な踏み順もこうする事によって、すっきりした踏み順となり、リズミカルに踏むことが出来るようになります。(但し、全ての場合ではありません。それでも解決できない場合も多々あります。）<BR>
<BR>
      <B><FONT size="2">（注1）</FONT></B><BR>
      　　ここでは、織り機に座り、上から見おろした時、左の踏み木から1、2、3、4番と呼んでいます。右から1、2・・という場合もありますが、内容は同じです。同じ様に綜絖枠も織り機に座った時、手前から1、2、3、4番と呼びますがその逆もあります。どちらから1,2・・・としても良いのですが、話し相手がある場合はお互いの呼称を了解しておいた方が話が混乱しません。</TD>


<figure><IMG src="img/ori17_2.jpg" width="450" height="375" border="0"></figure>

<figure><IMG src="img/ori17_1.jpg" width="544" height="375" border="0"></figure>

<% include ./../_common/footer %>
</BODY>
</HTML>
