<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>筬（おさ）について</h2>
      筬の機能は経糸（たていと）の密度を決める事と緯糸（よこいと）を打ち込む事、そして幅をだすことです。サイズ゛は寸間（鯨尺で1寸＝約3．8ｃｍ）の目数と幅で表現します。たとえば「1尺で寸間42目」という様に。筬のサイズ゛にはこのような表現の他に「算（よみ）」という単位があります。諏訪地方（長野県の南部、中部もそうですが）では寸間42目の筬のことを7算（ななよみ）と言います。また山梨県では42目の筬は10．5算（とよみなから、とよみいつて）と言います。全国的にはこの方が一般的のようです。また「算（よみ）」は1反・並み幅の反物を織る時の経糸の必要量の計算とも密接な関係があります。

<figure>
<IMG src="img/osa.jpg" width="400" height="196" border="0">
</figure>

【読み方】<BR>
呼称は伝え残されてきたことの原点だと思います。「6よみ」を「むよみ」でなく「ろくよみ」とする事は、してはならない事のような気がします<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD align="right">1算</TD>
      <TD align="left" width="50%">ひとよみ</TD>
    </TR>
    <TR>
      <TD align="right">2算</TD>
      <TD align="left" width="50%">ふたよみ</TD>
    </TR>
    <TR>
      <TD align="right">3算</TD>
            <TD align="left" width="50%">みよみ</TD>
    </TR>
    <TR>
      <TD align="right">4算</TD>
            <TD align="left" width="50%">よよみ</TD>
    </TR>
    <TR>
      <TD align="right">5算</TD>
            <TD align="left" width="50%">いつよみ</TD>
    </TR>
    <TR>
      <TD align="right">6算</TD>
            <TD align="left" width="50%">むよみ</TD>
    </TR>
    <TR>
      <TD align="right">7算</TD>
            <TD align="left" width="50%">ななよみ</TD>
    </TR>
    <TR>
      <TD align="right">8算</TD>
            <TD align="left" width="50%">やよみ</TD>
    </TR>
    <TR>
      <TD align="right">9算</TD>
            <TD align="left" width="50%">ここのよみ</TD>
    </TR>
    <TR>
      <TD align="right">10算</TD>
            <TD align="left" width="50%">とよみ</TD>
    </TR>
    <TR>
      <TD align="right">7．3算</TD>
            <TD align="left" width="50%">ななよみみて</TD>
    </TR>
    <TR>
      <TD align="right">7．5算</TD>
            <TD align="left" width="50%">ななよみいつて</TD>
    </TR>
  </TBODY>
</TABLE>

要するに寸間の目数を「6」で割るか「4」で割るかなのですが、全国的にどの地方が「4」でどの地方が「6」なのか、またなぜ「4」と「6」が出てきたのでしょうか。とっても興味があります。ご存知の方はぜひ教えて戴けたらと思います。よろしくお願い致します。<BR>
<BR>
<h3>あとがき</h3>
  算（ヨミ）という単位は、筬の目数を表す単位と思ってきましたが、色々なお話を伺ってくるとそうばかりではなく、経糸の量を表す単位として扱っているところもあるようです。例えば「経糸80本（120本の場合もあります）で30尺の長さのあるものを一算（ひとよみ）という」というように。結果的には筬の目数を表すことと同じなのですが、意味合いがちょっと違いますね。<BR>
　また、長さを表す、「尺」は今では曲尺（かねじゃく）と鯨尺（くじらじゃく）しかなくなってしまいましたが、明治初期までは色々な「尺」がありました。1反（たん）も長さの単位ではなく、一枚の着物ができる巾と長さをもった織物という意味なのです。だから時代とともに（体格が時代とともに良くなってきたので）一反の長さがだんだん長くなってきている、「尺」もまた色々な長さが必要に応じて作られ、使われて来た様です。機織りと「尺」、あたりまえと思っていた事も、色々な歴史がある事に驚かされます。
<% include ./_common/footer %>
</BODY>
</HTML>
