<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>綜絖の通し誤り防止策</h2>
　綜絖の通し誤りは発見するにも修正するにも大変な手間を必要とする大変な作業です。下記の方法はそれを防止するために有効な方法です。図1の組織の綜絖通しをする時を例に説明します。<BR>
①表1を作成します。<BR>
      ②柄1ピッチの綜絖通しをする前に表1に従って必要な本数の綜絖を取り出し、それ以外の綜絖は混ざらないよう洗濯鋏で逆向きに止めておきます。<BR>
      ③柄1ピッチの綜絖通しが終了した時取り出した全部の綜絖を使いきればほぼ間違いありません。<BR>
<BR>
      *綜絖通しを始める前に綜絖通し分類番号を４拍子で区切った表（表２）を作成し表を確認しながら綜絖通しを４拍子で進めます。（踏み木の踏み順も同じですが4拍子は憶え易いものがあります。）<BR>
      *綜絖を通した経糸は柄1ピッチ毎に引っ張れば解ける状態に縛っておくと後で間違えを見つけた時の対応に便利です。

<figure><IMG src="img/ori107_1.jpg" width="650" height="431" border="0"></figure>

*本筬を通す時、綜絖の通しを確認しながら行います。図2のように表2を見ながら綜絖の通しを確認し4本経糸を筬柄に並べます。本筬を4本通したら筬通しで経糸を押え（図3）空目、重複目が無いことを確認し次の4本に進みます。<BR>

<figure><IMG src="img/ori107_2.jpg" width="650" height="320" border="0"></figure>

<% include ./_common/footer %>
</BODY>
</HTML>
