<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>整経の準備</h2>
　整経は次の3つを決めてからスタートします。<BR>
      ①何枠で整経するかを決める<BR>
      ②経糸に使用する糸を①で決めた枠数に分ける<BR>
      ③必要綾（目）数を整経するには整経台を何往復するのかを決める<BR>
      <BR>
      ①の枠数は多ければ多いほど整経台を往復する回数が少なくなりますが、逆に綾を取る時<BR>
      　 煩雑になります。4枠～8枠程度に慣れておくのが良いかと思います。<BR>
      <BR>
      ②の作業をする時は以下の手順で行います。<BR>
      1.座繰り機の持ち手1回転で枠に巻き取れる糸長を予め測っておきます。（下図）<BR>
      　*<A href="ori32.html" target="_blank">グラム当たりの糸長の判っている糸</A>を30ｇ～60ｇ程度巻き取り一回転当たりの糸長を測ります。<BR>
      　*枠の径は2ｃｍ程度以内ならバラつきがあっても許容範囲内です。<BR>
      　*使用した経糸の巻取り回数は糸と共に記録しておくと役立ちます。<BR>
      2.巻き取り回数＝総経糸必要ｍ数/枠数/1回転当たりの糸長ｍ<BR>
      　例えば　経糸総本数＝900本　整経長＝6ｍ　使用枠数＝6枠　　1回転当たりの糸長＝4ｍ<BR>
      　の時は　1枠当たりの巻き取り回数＝（900本*6m）/6枠/4m＝225回/枠　となります。<BR>

<figure>
<IMG src="img/ori106_1.jpg" width="194" height="303" border="0">
</figure>


      ③の作業をする時は1.、2.を丸ごと憶えておくと便利です。<BR>
      　<A href="ori5.html" target="_blank">整経方法</A>には3種類（普通・切り替え・回し経り）があります。<BR>
      1.普通・切り替えの場合は整経台を1往復すると枠数と同一数綾（目）ができます。<BR>
      2.回し経り（まわしべり）の場合は整経台を1回転すると枠数/2の綾ができます。<BR>
      　例えば普通・切り替えの場合　6枠で整経すれば6綾（目）<BR>
      　回し経りの場合は6枠で整経すれば6/2＝3綾（目）できることになります。<BR>
      　従って必要目数を整経する時枠数で割り切れない目数の場合は最後に不足する目数と同数の枠<BR>
      　を置いて足しておけば必要目数を整経できます。<BR>
      　例えば466目を6枠で整経する時（普通・切り替えの場合）は　466/6＝77.6　77*6＝462　となり<BR>
      　77往復して78回目不足分　466-462＝4目を整経しますから4枠で整経すれば必要目数466目を<BR>
      　整経することが出来ます。<BR>
      　また、整経途中で糸が終わってしまった枠がでた時は、枠数を減らし、残り目数を新たな枠数で<BR>
      　　割った回数、整経台を往復すれば必要目数整経する事が出来ます。<BR>
<% include ./_common/footer %>
</BODY>
</HTML>
