<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>緯吉野の変形について</h2>
<IMG src="img/ori112_1.jpg" width="100%">
<% include ./../_common/footer %>
</BODY>
</HTML>
