<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>綜絖枠と踏み木の結合方法</h2>
　綜絖枠と踏み木を結合する方法はをロクロ式の場合下図の3通リが主なものです。<BR>
      <BR>
      図1　綜絖枠にロープを付けそのロープと踏み木を結合する<BR>
      図2　綜絖枠と踏み木をダイレクトに結合する<BR>
      図3　綜絖枠を副木と結合し更に副木と踏み木を結合する<BR>
      <BR>
      図1～3まで綜絖枠からは4本ロープが出ていますが場合によって綜絖枠1枚に付くロープの本数は異なります。また、綜絖枠と踏み木を繋ぐロープは前から見ても横から見ても垂直に立っていることが肝要です。<BR>
      何れも綜絖枠が水平バランスを保って上下し経糸がきれいに開口できるよう工夫されたものです。また踏み木との結合は図4、5の方法が良く使われます。</TD>

<figure><IMG src="img/ori105_1.jpg" width="448" height="428" border="0"></figure>
<figure><IMG src="img/ori105_4.jpg" width="340" height="662" border="0"></figure>
<figure><IMG src="img/ori105_2.jpg" width="422" height="366" border="0"></figure>
<figure><IMG src="img/ori105_3.jpg" width="424" height="480" border="0"></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
