<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>どうしてこうなっちゃうんだろ</h2>
　平織りをしているのに耳の糸が浮いてしまうことがあります。「どうしてなの？？？」<BR>
      １本おき交互に経糸が上下しているのに、どうしてこんな事がおこるんだろう。そんな経験がありませんか？この様なことは決まって追い槌（おいび）をした時、おこります。経糸１本を槌でくぐって解決してしまう事が多いのですが・・・・<BR>
      　下の図をご覧ください。追い槌の場合、緯糸を通す時、前に通った緯糸の上を通るか（図1）、下を通るか（図2）で、結果は「図1-1」、「図2-1」のように変わってきてしまいます。<BR>
      　「図1-1」の状態が「耳の糸が浮いてしまう」状態、「図2-1」が「浮かない」状態です。<BR>
      <BR>
追い槌（おいび）：異なった緯糸を１本おきに通すこと<BR>
<BR>
【お詫び】図に誤りがありましたので修正させていただきました。（2007/5/4）

<figure><img src="img/ori18.jpg" width="593" height="491" border="0"></figure>

　また、耳の経糸が浮いてしまう場合は綾織をしている時も起こります。図1、2をご覧下さい。綾織は経糸が連続して浮くので図2の状態にあれば経糸は止まりますが、図1の状態であると浮いてしまいます。織っている布の左側は浮かないのに右側は浮いてしまうとか、前回は全然浮かなかったのに今度は浮いてしまうとか、経糸と緯糸の状態によって浮いたり、浮かなかったり様々な事が起こります。

<figure><img src="img/ori25_1.jpg" width="500" height="342" border="0"></figure>

この経糸を止めるには一番端の経糸の横に1本経糸を追加すると止めることができます。但し図3～図5をご覧いただくと判るようにどのあすび枠を通っている糸を追加したら良いのかは場合によって異なります。

<figure><img src="img/ori25_2.jpg" width="500" height="296" border="0"></figure>

<TABLE border="1">
  <TBODY>
    <TR>
      <TD>図3</TD>
      <TD>2番のあすび枠を通っている経糸を追加した場合</TD>
      <TD>○</TD>
    </TR>
    <TR>
      <TD>図4</TD>
      <TD>3番のあすび枠を通っている経糸を追加した場合</TD>
      <TD>×</TD>
    </TR>
    <TR>
      <TD>図5</TD>
      <TD>4番のあすび枠を通っている経糸を追加した場合</TD>
      <TD>○</TD>
    </TR>
  </TBODY>
</TABLE>
　機を織っていると摩訶不思議なことが時々起こります。本当はどこかで何か理不尽なことをやってあるので結果としてそうなるのですが、やっている時は夢中で一生懸命やっているので「まさか間違えが在る」なんてことは直ぐには納得できず「どうして！？！」となるのだと思います。山へ行って道に迷った時もまったく同じ状況がしばしば起こります。「思い込み」って意味深ですね。
<% include ./_common/footer %>
</BODY>
</HTML>
