<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>ロクロ式での多綜絖枠セットについて</h2>
4枚以上の綜絖枠をロクロでセットする場合を考えてみたいと思います。下図はそれぞれ下記の場合を表します。<BR>
      <BR>
      図1　　ロクロで綜絖枠をセットした場合の正面図<BR>
      図2_1　4枚の綜絖枠を3本ロクロでセットした場合の側面図<BR>
      図2_2　6枚の綜絖枠を4本ロクロでセットした場合の側面図<BR>
      図2_3　6枚の綜絖枠を5本ロクロでセットした場合の側面図<BR>
      図2_4　8枚の綜絖枠を7本ロクロでセットした場合の側面図<BR>

<IMG src="img/ori104_1.jpg" width="650" height="395" border="0"></TD>

<BR>
<BR>
<TABLE width="662">
  <TBODY>
    <TR>
      <th align="center" width="57">図</th>
      <th align="left" width="624">特徴</th>
    </TR>
    <TR>
      <TD width="57">図2_1</TD>
      <TD width="624">（1,2,3,4）全ての組合せで開口可能</TD>
    </TR>
    <TR>
      <TD width="57">図2_2</TD>
      <TD width="624">（1,2,3,4）は全ての組合せで開口可能だが(5，6)を同時に降ろす事は不可。</TD>
    </TR>
    <TR>
      <TD width="57">図2_3</TD>
      <TD width="624">全ての組合せで開口可能だが実際には（1,2,3,4）と（5,6）のバランス取ることが難しい</TD>
    </TR>
    <TR>
      <TD width="57">図2_4</TD>
      <TD width="624">全ての組合せで開口可能だが綜絖枠の水平バランスを取ることが難しい</TD>
    </TR>
  </TBODY>
</TABLE>

　図2-2の場合　（5，6）を平織り用として使用するのであれば製織に当って4枚綜絖6本踏み木でほとんど問題ありません。また図3のように結合状態・綜絖通しを（5，6）が同時に降りないものに変更すれば6枚の綜絖枠をかなり自由に使用する事ができます。（変更方法については　柄のデザイン→柄について→<A href="ori64.html" target="_self">柄の規則性　組織図の4大原則</A>　をご参照ください。図3右は踏み木の踏み順修正前です。修正方法は　手織りの豆知識→実技について→<A href="ori101.html" target="_self">踏み木の踏み順について2</A>　をご参照ください。）<BR>
　8枚以上の綜絖枠を使用する場合は<A href="img/ori104_4.jpg" target="_blank">天秤式</A>がbetterかと思います。ただ8枚以上を装着できる手織り機もたくさんありますが限られた環境(織物の組織は経糸と緯糸の交点においてどちらが上になるかによって決まりますから経糸が1本毎に上下でき、経・緯糸の太さが限りなく細い環境下では全ての柄を織り出す事ができます。）の中で「手織り」で何ができるのかを考える事それ自身が「手織り」の醍醐味ではないかと思います。</TD>

<figure>
<IMG src="img/ori104_2.jpg" width="650" height="326" border="0">
<figcaption>図3　変更前→変更後</figcaption>
</figure>

<figure>
<IMG src="img/ori104_3.jpg" width="499" height="421" border="0">
<figcaption>図3の展開図</figcaption>
</figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
