<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>ロクロについて</h2>

      あすび枠（綜絖枠）を吊るす棒がロクロです。ロクロは８角のものが使われます。滑り、回転などの具合がよく、作る場合も８角にする事が比較的容易であることによると思います。<BR>
      <BR>
      ロクロの本数は枠が２枚なら１本、枠が４枚なら２本または３本、６枚なら４本が普通です。<BR>
      手織りの場合、枠は２枚または４枚の場合がほとんどです。２枚の時は問題はありませんが、４枚の時、ロクロを２本にするか、３本にするかでだいぶ様子が違ってきます。<BR>
      <BR>
      下の図と表をご覧下さい。

<figure>
<IMG src="img/rokuro.jpg" width="350" height="325" border="0">
</figure>

<TABLE>
<TBODY>
  <TR>
      <TD align="center">おろそうとする綜絖枠</TD>
      <TD align="center">2本ロクロ</TD>
      <TD align="center">３本ロクロ</TD>
    </TR>
  <TR>
      <TD align="center">1</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">2</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">3</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">4</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">1-2</TD>
      <TD align="center">×</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">1-3</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">1-4</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">2-3</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">2-4</TD>
      <TD align="center">○</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">3-4</TD>
      <TD align="center">×</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">1-2-3</TD>
      <TD align="center">×</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">1-2-4</TD>
      <TD align="center">×</TD>
      <TD align="center">○</TD>
    </TR>
  <TR>
      <TD align="center">1-3-4</TD>
      <TD align="center">×</TD>
      <TD align="center">○</TD>
    </TR>
</TBODY>
</TABLE>
<BR>
○　下ろせる　　　　　×　下ろせない<BR>
<BR>

２本ロクロの場合は当然のことですが、同時におろせない枠の組み合わせが出てきてしまいます。<BR>
      枠と踏み木の繋ぎを変えて、織れるようにしなくてはなりません。綾織をする場合は出来るだけ踏み易くしておいた方が作業の能率が上がります。３本のロクロにする事で、踏みよい様に自由に繋ぎができる様になりました。<BR>
      ２本から、３本に進化する過程にはたくさんの人々の経験の積み重ねがあったのだと思います。<BR>
      コロンブスの卵ではないですが、画期的なことですね！</TD>

<% include ./_common/footer %>
</BODY>
</HTML>
