<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>糸の結び</h2>
機にはいろいろな「結び」が使われますが、この「機結び（はたむすび）」は最も頻繁に使われる結び方です。普通、ループは1回作りますがウールの場合は糸が柔らかく抜けてしまうことが多いので２回ループをつくります。両手の親指と人差し指を使ってループを押え、右側の糸をループの中へ入れます。<BR>
糸をポケットに入れておいて暇の時くちゅくちゅ練習すると、とてもいい暇つぶしになります<br>

<h3>①　普通の結び</h3>
      <IMG src="img/himo01.jpg" width="250" height="245" border="0">
      <IMG src="img/himo02.jpg" width="250" height="244" border="0">
      <IMG src="img/himo03.jpg" width="250" height="243" border="0">

<h3>②　２重にループを作る場合です</h3>
<IMG src="img/himo04.jpg" width="250" height="257" border="0">
<IMG src="img/himo05.jpg" width="250" height="260" border="0">
<IMG src="img/himo06.jpg" width="250" height="256" border="0">

<h3>完成。</h3>
出た糸は短い方が良いのですが、長い時は元の糸に撚りつけておくと邪魔になりません。
<IMG src="img/himo07.jpg" width="250" height="224" border="0">
<% include ./_common/footer %>
</BODY>
</HTML>
