<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>奇数本の縞割りについて</h2>
奇数本の「<A href="ori84.html" target="_self">縞割リ</A>」
経糸が左右対称の配色列を持っている場合その配色列の経糸は必ず奇数本となります。先頭から対象軸までの本数が偶数本であれば軸の左右で偶数本それに対称軸が1本加わりますから全体の本数は奇数本、先頭から対象軸までの本数が奇数本であれば軸の左右で偶数本それに対称軸が1本加わりますから全体の本数は奇数本。　綾は2本の経糸からできていますから奇数本の経糸を用意するには少々工夫が必要です。<BR>
      　奇数が奇数回出現すると総数は奇数となりますが奇数が偶数回出現すると総数は偶数となります。
      そのため基本となる配色列が奇数本でも偶数本でも基本となる配色列が全体で偶数回出現する配色列をつくれば全体を構成する経糸は何色あっても各色偶数本とすることができます。<BR>
      　またこの配色列を整経の段階から作ってゆくこともできますが、大変煩雑となり間違えを起し易くなります。そのため奇数本の経糸を整経する時は「縞割り」を行うことがベストであると思います。(但し各色の綾の総数は偶数個となりますから整経は通常の方法で行えます。）<BR>
      　奇数本の「縞割リ」を行ってみます。要点は「綾が並んだら休ませて次に綾が並んだ時入れる」です。<BR>

<figure><IMG src="img/ori109_1.jpg" width="100%"></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
