<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>緯糸の必要量</h2>
緯糸（よこいと）の必要量についてです。

経糸と同じ糸を使う時<br>
経糸の7割（重量で）を目安としています。
<TABLE>
  <TBODY>
    <TR>
      <TD height="20" width="164">経糸と違う糸を使う時</TD>
      <TD width="77">中細毛糸</TD>
      <TD height="20" width="495">1kg　（1反=11.4m、並み幅=38cm）<BR>
      </TD>
    </TR>
    <TR>
      <TD height="43" width="164"></TD>
      <TD width="77">極細毛糸</TD>
      <TD height="43" width="495"> 625g 　（1反=11.4m、並み幅=38cm）<BR>
      </TD>
    </TR>
    <TR>
      <TD height="73" width="164"></TD>
      <TD height="73" width="77">その他</TD>
      <TD height="73" width="495">緯糸の太さ、打ち込み加減を考え1本の緯糸でどの位織り進めるかをみ、織る巾、長さから必要量を計算します。最近の糸は大概ラベルに糸長が表示されていますから、必要玉数がわかります。</TD>
    </TR>
  </TBODY>
</TABLE>
  例えば、下の写真のようなタピストリー（巾30ｃｍ　長さ60cm）を織る場合は、1本の緯糸で約1ｍｍ織り進むものとして、<BR>
  （60ｃｍ＊10）／1ｍｍ＝600回　緯糸は通ります。巾は30ｃｍですから、600回＊30ｃｍ＝18000ｃｍ＝180ｍ<BR>
  100ｍ巻きの糸ですと2玉必要ということになります。<BR>

<figure>
<IMG src="img/ori10.jpg" width="594" height="308" border="0">
</figure>

いずれの場合も量は概数です。布長が足りない場合は作品にならなくなってしまいます。経、緯糸とも多め多めに用意する方が良いかと思います。<BR>
      <BR>
      縮み分について、ちょっとふれておきます。<BR>
      一般に緯糸が太ければ太いほど、長さが縮み、緯糸が細ければ細いほど巾が縮みます。ぼろ機（ぼろばた　裂き織り）のようなものだと3割縮む事も稀ではありません。30／2で経、緯とも織ると1割程度巾が縮みます。筬巾一杯に経糸を通したり、伸子をかったりして巾を調整します。（経、緯とも糸が太ければ縮む事は下図からも判りいただけると思います）<BR>
      また、布の前後に「織れない部分」が一尺（38ｃｍ）程度できます。経る（整経）時は、この「織れない部分」と「縮み分」を常に念頭に置いておくことが必要です。

<figure>
<IMG src="img/yoko.jpg" width="350" height="109" border="0">
</figure>
  <% include ./_common/footer %>
  </BODY>
  </HTML>
