<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>紐の結び</h2>
経、緯糸のつなぎには、「機結び」が有効ですが、「はたご」に「あすび」を吊るしたり、織りつけ布に経糸を結んだりする時には別の「結び」が使われます。良く使う結び方をご紹介します。<BR>
<h3>①　あすび枠を吊る時</h3>

<figure>
<IMG src="img/himo10.jpg" width="284" height="230" border="0">
<IMG src="img/himo11.jpg" width="292" height="230" border="0">
<IMG src="img/himo12.jpg" width="262" height="230" border="0">
</figure>

<h3>②　輪の糸を棒に付ける時</h3>
<figure>
<IMG src="img/himo13.jpg" width="284" height="230" border="0">
</figure>

<figure>
<IMG src="img/himo14.jpg" width="294" height="230" border="0">
</figure>

<h3>③　輪でない糸を棒に付ける時</h3>
<figure>
<IMG src="img/himo16.jpg" width="286" height="230" border="0">
<IMG src="img/himo17.jpg" width="295" height="230" border="0">
<IMG src="img/himo18.jpg" width="268" height="230" border="0">
</figure>

糸を上から下に回しても良いです<br>
結び方は様々のやり方があります。使い勝手がよい結び方見つけた時は嬉しいですね。
<% include ./_common/footer %>
</BODY>
</HTML>
