<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>「ぼろばた」のこと</h2>
　おばあちゃん達はかつて、着物を洗い張り<B>(注1)</B>し、仕立て直し、何回も、何回も繰り返し使ってきました。最後には使えなくなってしまった布を裂いて緯に織り、布として蘇らせてきました。<BR>
      　また、普段織っている時、布の前後にでる「織れない部分」の経糸を丁寧に取って置き、5寸（約15ｃｍ）程の糸をつなぎ、玉に巻き、120匁（約450ｇ）程たまると、それを経糸として使いました。このようにつないだ糸を「つなぎ」と言ってきました。単純に計算しても１反並幅の布を織るためには約7万回の「機結び」<B>(注2)</B>をしていたことになります。<BR>
      　さらに、織りあがった布を堅固にするため、仕立てあがった着物に刺し子をほどこすこともありました。普段着に織られる糸は「正紺」（しょうこん　藍染め）の和糸（わいいと）がほとんどでした。正紺で織った布は丈夫で、虫にも強く、洗い張りをすればする程しっかりしてきました。<BR>
      　そんな布を緯に織り、経に小さなつなぎ目のこぶのある「つなぎ」で織られた布は「意匠」だとか「創意」などとはまったく無縁の世界にありながら、強烈な存在感を感じさせます。<BR>
      　最近、「裂き織り」という言葉が流行りもあってか、さかんに使われるようになりました。諏訪地方ではこのような裂いた布を緯に織った機の事を「ぼろばた」と呼んできました。無機的な無味乾燥の標準語となってしまった「裂き織り」という言葉を聞くたびに「ぼろばた」と呼ぶ機につぎ込まれたおばあちゃん達の声にならない思いが、私の耳に聞こえてくるような気がしてなりません。もちろん「裂き織り」という言葉には何の罪もありません。「裂き織り」は昔から「裂き織り」なのです。言葉自身なにも変わってはいません。<BR>
<br>
注1<br>
汚れてしまった着物をほどき、洗濯をして「張り板」に張ったり、伸子をかって乾すと布がきれいに伸び、再生します。「張る」作業があったため「洗い張り」と言うのだと思います。洗い張りされた布は再度着物に仕立て、繰り返し使われました。<br>
注2<br>
<A href="ori12.html" target="_self">「織りの豆知識10」 糸の結び</A>　をご参照下さい。<BR>
<BR>
<BR>
あとがき<BR>
　今から20年程前、南信日々新聞（今の長野日報）の藤森徹さん（故人）が諏訪地方の手織りを評されて「手織りルネッサンス」と書かれた事がありました。歪曲化されつつある姿に対する危機感と、本来の姿へ回帰することによる新生の芽生えを感じて書かれた言葉であろうと思います。彼の思いを今更ながら感じる今日この頃です。<BR>

<figure>
<IMG src="img/boro3.jpg" width="390" height="268" border="0">
</figure>

昭和10年代後半に「つなぎ」を経に織られた仕事着。「わいいと」と「より糸」が使われています。経、緯に無数の「糸の繋ぎ目」がみられます
<% include ./_common/footer %>
</BODY>
</HTML>
