<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>巾出しに使用する「仮筬」について</h2>
　巾出しには通常その織りに使用する本筬を仮筬として使用するのが無難です。ちきりに巻く時経糸が交錯せず巻ける自信が付いてきたら簡易法を取ることが良いかと思います。巻く時経糸が交錯し仮筬が動かなくなってしまうと手の施しようがありません。<BR>
　様々な場合がありますが良く使われる場合を説明します。

<figure><IMG src="img/ori108_1.jpg" width="600" height="583" border="0"></figure>

<figure><IMG src="img/ori108_2.jpg" width="650" height="275" border="0"></figure>

<% include ./../_common/footer %>
</BODY>
</HTML>
