<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>3本ロクロから2本ロクロへの変更</h2>
<IMG src="img/ori113_0.jpg" width="100%">
<% include ./_common/footer %>
</BODY>
</HTML>
