<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>不思議ですね！</h2>
　経糸の必要量のところでもふれましたが、20/3（にまるみこ）の場合、経糸の一反、並幅で片目入れで織る場合の必要量は使用筬の算（ヨミ）の2倍です。<BR>
      20/3は10ポンド（1貫200匁）の糸の束（玉）を120等分してありますから1かな（かせ）は10匁です。<BR>
      例えば、5算（いつよみ＝寸間30羽）の筬で一反、並幅を片目入れで織る場合の必要量は、5×2＝10（かせ）ですから100匁ということになります。<BR>
      <BR>
      経糸の必要量を計算する時、いつも思うのですが、これだけ色々な数字がたくさん出てくるのに、端数のあるものがありません。どうして、こんなにきれいな数字ばかり出てくるのでしょうか！<BR>
      <BR>
      ポンド、尺貫法、織りの単位ってどこかで、絡み合っているのでしょうか？<BR>
      <BR>
      それとも、最初の出発点でそうなるように組み立てたのでしょうか？<BR>
      でも、日本中の手織りをする人々が、一斉によーいドンで、織りを始めたなんてことは、絶対有り得ませんから、どこでどうなったのでしょうか？<BR>
      <BR>
      「筬」のところでもふれましたが、「算」が筬目の密度をあらわす単位でなく、経糸の量をあらわす単位であると考えれば一部納得のゆくところもあるような気もしますが。<BR>
      もしかしたら、あの「6」(織りの豆知識1をご参照下さい)は「ポンド」と絡んでいるのかもしれませんね。

<figure>
<IMG src="img/kushi.jpg" width="300" height="261" border="0">
</figure>
ちょっと、お話とは関係ありませんが、昔からおばあちゃん達は経糸を整える時みなこの<BR>
「つげの櫛」を使っていました。適度に油分があり、糸に滑らかさとつやを与えてくれます。<BR>

<h3>あとがき</h3>
「ポンド」と「尺貫法」はやっぱり絡み合っていたことが判りました。<BR>
<A href="ori26.html" target="_self">「手織りの豆知識　経糸の必要量　その2　の　あとがき」</A>をご参照ください。<BR>
  <% include ./../_common/footer %>
  </BODY>
  </HTML>
