<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>踏み木の踏み順について　その2</h2>
　踏み木の踏み順を踏み易くするための方法について考えます。<BR>
      4本でも6本でもそれ以上でもまったく考え方は同一です。基本的に右足が右半分の踏み木を担当、左半分を左足が担当し右、左を交互に踏むことができれば足の交錯もなくスムースに踏んで行くことができます。<BR>
      　今、図1の踏み木の踏み順の状態で考えてみます。

<figure><IMG src="img/ori101_1.jpg" width="535" height="443" border="0">
<figcaption>図1</figcaption>
</figure>

　図1の踏み順は表2の「旧踏み順」となっています。今回は6本踏み木ですから表1のように右3本を「グループ1」、左3本を「グループ2」とすると「グループ1→グループ２」と交互に踏めば良いため、表2のようにそれぞれのグループに属する踏み木に踏み順を変更し「新踏み順」とします。<BR>

<figure><IMG src="img/ori101_3.jpg" width="213" height="175" border="0">
<figcaption>表1</figcaption>
</figure>

<figure><IMG src="img/ori101_2.jpg" width="327" height="225" border="0">
<figcaption>表2</figcaption>
</figure>

　踏み木の踏み順を変更後は「組織図の4大原則」に従い組織図を完成させます。<BR>
      （「組織図の4大原則」については「柄のデザイン」→「柄について」→「<A href="ori64.html" target="_self">柄の規則性　組織図の4大原則</A>」をご参照ください。<BR>
      　完成させた組織図が図2となります。左右の足が全く交錯しない踏み順に変更されたことが判ります。<BR>

<figure><IMG src="img/ori101_5.jpg" width="567" height="578" border="0">
<figcaption>図2</figcaption>
</figure>
<% include ./_common/footer %>
</BODY>
</HTML>
