<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>整経方法　その2</h2>
　整経の仕方に３通りの方法があることは前にお話しました。その中の一つ、「切り替え」の変則的な方法のお話です。<BR>
  一般に「切り替え」では偶数本の糸を持って始まり、行き帰り共、同じ順番に綾を取り一往復で偶数個の綾をつくるのが普通です。奇数本の糸を持って始めると、行き帰りで綾が並んでしまいます。（図1参照）

<figure>
<IMG src="img/ori29_1.jpg" width="508" height="106" border="0">
</figure>

奇数本の糸を持って整経をする時は、図2のように行き帰りで綾を取る順番を違えることによって、綾が並ぶことを防げます。<BR>

<figure>
<IMG src="img/ori29_2.jpg" width="412" height="70" border="0">
</figure>

　行き帰りで違う動作をするため、作業している内容をしっかり頭に入れておく事が必要ですが、この作業ができると整経の巾が広がります。<BR>
　ちょっと、図3をご覧下さい。この糸の並びをどのように整経したら良いでしょうか？

<figure>
<IMG src="img/ori29_3.jpg" width="430" height="86" border="0">
</figure>

　「回し経り」で枠を１８枠立てれば何の問題もありませんが、木枠を１８立てるというのも大変です。糸の並びをみると図4のようになっている事が判ります。奇数本の繰り返しです。上の事に注意して、図５のように綾の取り方を違えてやれば、９枠で整経できることが判ります。</TD>

<figure>
<IMG src="img/ori29_4.jpg" width="314" height="116" border="0">
</figure>

　綾の並びと、今している作業の内容をきちんと理解さえしていれば、行きと、帰りでまったく違う順番で綾を取ることも出来、様々な工夫が可能です。
<% include ./_common/footer %>
</BODY>
</HTML>
