<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>『6』と『4』ヨミについて</h2>
　「算＝ヨミ」について　　　☆ 『6』と『4』の不思議☆<BR>
      「ヨミ」は諏訪地方では筬の羽（目）の寸間の密度を表す単位として用いられてきました。例えば5ヨミ（いつよみ→「ごよみ」とはいいません）は「30羽/寸間＝3．8ｃｍ」であることを表します。<BR>
      （注：全国的には「1ヨミ＝4羽」とするところが多いのですが、諏訪地方では「1ヨミ＝6羽」です。）<BR>
      　ある時、「ヨミ」に関して九州の大島紬に関わっておられる方から次の様なお話をお聞きしました。「1ヨミ＝糸長3丈で4羽分の経糸」であると。この方は九州の方ですから、諏訪地方の織りに合わせて言えば「1ヨミ＝糸長3丈で6羽分の経糸」ということになります。言換えれば「ヨミ」は筬目の密度を表す単位ではなく、経糸の量の単位として使われていたのです。<BR>
      　このお話を伺って、様々な筬を調べたところ、一枚の筬に「小巾　七十五」と「大巾　九十」と書いてある筬を見つけました。一枚の筬に異なった「ヨミ」が記載されていたのです。この筬を見た時は本当に驚きました。下の写真をご覧下さい。通常筬の有効巾は1尺1寸(1尺が並巾）。この筬の有効巾は1尺2寸4分ありました。この「小巾」の意味を1尺　「大巾」は1尺2寸とすればすべて整合します。もし「ヨミ」が「筬の羽の寸間の密度を表す単位」であるなら、巾に関係なく密度は一定なのですから、同じ筬に異なった「ヨミ」が書かれることはないはずです。また今まで「六十」とか「七十三」と書かれた筬はたくさん見てきましたが、習慣で「六十」は「ムヨミ」、「七十三」は「ナナヨミミテ」と読んでいました。でも実はそうではなく「ロクジュウヨミ」「ナナジュウサンヨミ」と読まなくてはいけなかったのです。「十」にきちんと意味があったのです。かつては諏訪地方でも「ヨミ」は「経糸の量の単位」として使われていたことが明らかになりました。

<figure>
<IMG src="img/ori27_1.jpg" width="669" height="131" border="0">
</figure>

<figure>
<IMG src="img/ori27_3.jpg" width="310" height="450" border="0">
<IMG src="img/ori27_2.jpg" width="256" height="450" border="0">
<figcaption>
この筬の拡大写真です。小巾七十五ヨミということは　一尺巾で「6」×75（ヨミ）＝450羽分の経糸が必要ということです。
</figcaption>
</figure>

<figure>
<IMG src="img/ori27_4.jpg" width="400" height="279" border="0">
</figure>

　何故、1ヨミは、『6』羽または『4』羽でなければいけなかったのでしょうか、また何故『4』の地域があったり『6』の地域があったりするのでしょうか、さらには何故『4』や『6』を倍数とする「算＝ヨミ」という単位が必要だったのでしょうか。これらは依然として不明ですが、単位の前提として『4』または『6』があったという事は明白になりました。<BR>
      　諏訪地方だけが『6』でないことは、筬に記載された「ヨミ」で『6』を使用したものが長野県の南信、東信、中信地区にも広く分布し、反面、諏訪から30ｋｍと離れていない山梨県北巨摩郡では昔から一般的に『4』が使われていることは、たくさんのお客様から伺っていて誤りはありえません。<BR>
      　「手織りの豆知識　経糸の必要量　その2」で当店の糸の仕立てについてお話しましたが、「ヨミ」を用いると経糸の必要量の計算を簡単にすることができます。これは当店の先々代が諏訪地方の「ヨミ」に合わせ「かせ」を仕立てたものと思われるため、糸の事情で『6』が使われているとも考え難いものがあります。しかし、本来「ヨミ」は経糸量の単位だったのですから「ヨミ」の起源に何らかの意味で糸の事情が関与しているはずです。<BR>
      　機の呼称、用具などは長い歴史の中、その地域の生活文化を反映し、育まれてきたものがほとんどです。だから時代とともに「ヨミ」の意味も変化してゆくのは仕方のないことだと思うのですが、長い歴史が育んだ「ヨミ」に込められた先人の知恵を私達は安易に忘れてはならないとも思います。それは倫理的意味合いではなく、信州諏訪の手織りに対する先人の知恵を生かすことによって、私達の手織りが大きく前進することができると思うからです。<BR>
      　知恵を積み上げるのには、本当に長い年月が必要ですが、忘れ去るのには、ほんの僅かな時間しかかからないことを強く感じます。

<h3>あとがき</h3>
 　外国にも「算」に該当する単位があり、驚いたことに一算＝40羽だったのです！！<BR>
      そして、「算」は筬目の密度を表す単位ではなく、経糸の量を表す単位として使われていたと思われます。<BR>
      　着尺しか織らない時代には筬巾が一定していたため、糸量を表す単位が筬目の密度を表す単位になってしまったかと考えたこともありましたが、外国にも同一の単位があるということは、どうも見当違いのようです。
<% include ./_common/footer %>
</BODY>
</HTML>
