<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>お釈迦様の手の内</h2>
　「コラム　織りの豆知識18」で「予期せぬ出来事」をとりあげましたが、永い織りの歴史のなかで、「予期せぬ出来事」も一つの技法として確立しています。「袋織り」などと呼ばれるものもその一つです。組織図で書けば下記のようになりますが実際に織ると「手品」のようなことが起こります。ここでは3種類の布をサンプルとして一機（ひとはた：一回の織り機へのセット）で織ってみます。<BR>
      <BR>
      使用筬　　　30羽/寸間（3．8ｃｍ）　片目<BR>
      使用経糸　　レース糸20番　2色　1本取り<BR>
      使用緯糸　　レース糸20番　1色　1本取り<BR>
      整経方法　　総切り替え<FONT size="2">（経糸を一本おきに色を変えた整経方法　。「コラム　織りの豆知識2、3」をご参照下さい。）</FONT><BR>

<figure><IMG src="img/ori24_1.jpg" width="502" height="516" border="0"></figure>

整経方法・あすび（綜絖）通し】<FONT size="2">（あすび（綜絖）枠、踏む木の呼称は「コラム　織りの豆知識14」をご参照下さい。）</FONT><br>
1図を参照して、織る分（長さ、幅）を総切り替えで整経し、あすびを1―3―2―4と通します。

<figure><IMG src="img/image2.jpg" border="0" width="93" height="93">
<figcaption>1図</figcaption>
</figure>


<h3>【あすび（綜絖）枠と踏み木の結合】</h3>
2図を参照して「1番」の踏み木に「2、3、4番」のあすび（綜絖）枠を、同様に「2番」の踏み木に「1、3、4番」、「3番」の踏み木に「4番」、「4番」の踏み木に「3番」のあすび（綜絖）枠をつなぎます。

<figure><IMG src="img/image3.jpg" border="0" width="100" height="99">
<figcaption>2図</figcaption>
</figure>

<h3>【踏み木の踏み順】</h3>
下図を参照して「3パターン」の踏み方をします。<BR>
<BR>
①「.1⇒4⇒2⇒3」<BR>
<figure><IMG src="img/image8.jpg" border="0" width="300" height="141"></figure>

杼は一丁使います。往復を通常と同じ様に緯糸を通します。両耳が閉じた袋に織れてきます。<br>
<br>
②．「1⇒2⇒4⇒3」

<figure>
<IMG src="image12.jpg" border="0" width="412" height="150">
</figure>

杼は一丁使います。往復を通常と同じ様に緯糸を通します。片耳が閉じた袋に織れてきます。<BR>
<BR>
③「1⇒4⇒2⇒3」<BR>

<figure>
<IMG src="img/image14.jpg" border="0" width="430" height="140">
</figure>

杼は二丁使います。往復を違う杼を使って緯糸を通します。同時に二枚の布が織れてきます。<BR>
<BR>
　一般に結合状態の結合点が行列方向とも3点の結合が2回、1点の結合が2回から構成される場合は2重織りとなります。そのすべての場合を図3に示しました。<BR>
      　重複しているものが幾つかありますが、対称軸、対称点に注目して分類すると分類上では更に興味深いことが解ってきます。しかしその事が実際に織った時どのような形で表現されてくるのかはやってみなくては解りません。</TD>

<figure>
<IMG src="img/ori24_2.jpg" width="601" height="716" border="0">
<figcaption>図3</figcaption>
</figure>

　きのこを採りに行った時よく思います、「食べられるきのこ」と「食べられないきのこ」が今のように識別できるようになるまでには、どれ程多くの人々が毒茸の犠牲になったんだろうかと。人々の智恵の蓄積ってすごいものです。でもまだまだあっと驚くような事がたくさんお釈迦様の手の内にはありそうですね。
<% include ./../_common/footer %>
</BODY>
</HTML>
