<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>整経台　経場（へば）</h2>
整経台（せいけいだい）についてです。<BR>
      整経台は諏訪地方では「経場（へば）」と呼ばれ、整経する事を「経る（へる）」と言って来ました。整経（経る）は、経糸（たていと）を織りの計画に従い、必要な目数、必要な長さを順序良く並べることです。経糸を整えるとの意味で「整経」と言うのだと思います。整経台の巾は今では1ｍとか2ｍとかが使われていますが、昔は、6尺（2．28ｍ）と決まっていました。4回折り帰すと6尺×5＝30尺＝3丈で1反経る事ができます。また、6尺の事を1立（ひとたて）と言い、経た糸の長さを表現する場合は一般的にこの「立（たて）」が使われてきました。例えば「今度の機は半立（はんたて）伸ばそう」の様に。長さの呼び方は筬と同様「ひい、ふう、みい、・・・・」が使われ「ひとたて、ふたたて、みたて・・」と言います。<BR>
<figure>
<IMG src="img/seikeidai1.jpg" width="814" height="260" border="0">
</figure>

糸を順序良く並べるために、経る時、綾（あや）を取りながら進みます。糸と糸の並び順を崩さないために、ｎ番目の糸とｎ＋1番目の糸とで「×」を作ります。この「×」の事を綾と言います。綾がある限り、糸が切れても絶対、糸の順序が判らなくなる事はありません。この事から「綾は機の命」と言われます。綾の取り方は、2つの方法があります。一本の糸で1つの綾を作る場合と、二本の糸で1つの綾を作る場合です。一本の糸で綾をつくると綾の「×」はｎ番目、ｎ＋1番目が同じ色になりますが、二本の糸で綾を作れば綾の「×」のｎ番目、ｎ＋1番目の糸の色を変える事ができます。この様に綾が違う色で出来ている整経の状態を「切り替え」と呼びます。すべての経糸が「切り替え」の状態にあれば「総切り替え」と言っています。

<figure>
<IMG src="img/seikeidai2.jpg" width="847" height="314" border="0">
</figure>

綾を取らずに整経し、あすび（綜絖）を通してから、踏み木を踏んで綾を出す方法も行われますが、ちょっと違和感があります。長い年月のなかで本当にたくさんの知恵が蓄積されてきたものだと改めて感心します。「経る」事に関しては、信州の南部と極く限られた地域の事しか判りません。「立」も、もしかしたら「経」かもしれません。日本の各地ではどのような単位がどの様に使われて来たのでしょうか？お教えいただければ幸いです。よろしくお願い致します。
<% include ./_common/footer %>
</BODY>
</HTML>
