<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>4枚あすびで斜めの柄を織る</h2>
　無地の中に不規則に斜めの線が入った柄を織り込むということはなかなか難しいことです。あすび（綜絖）枠の枚数や踏み木の本数に制限が無ければ問題ありませんが、普通使われている4枚程度の枠数ではちょっとピンとこないものがあります。昔から使われてきた技法（昼夜織）ですが、踏み方によって「表」と「裏」を織分けることにより、比較的簡単に菱形や、格子を織り込むことができます。経糸は混ませ（本数を多くすること）、緯糸は経糸に比較して太いものを使うと織り易いと思います。<BR>
  <figure><IMG src="img/ori23_1.jpg" width="388" height="86" border="0">
<figcaption>左：つなぎ 右：通し / 図1</figcaption>
</figure>

  <TABLE>
    <TBODY>
      <TR>
        <TD>（1）</TD>
        <TD>経糸を総切り替え（「織りの豆知識　整経台・経場」を参照）で整経します</TD>
      </TR>
      <TR>
        <TD>（2）</TD>
        <TD>あすび枠の通し　1-3-2-4　（図1参照）</TD>
      </TR>
      <TR>
        <TD>（3）</TD>
        <TD>踏み木とあすび枠のつなぎ　（図1参照）</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>踏み木　　　　あすび枠</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>1　　　　　　　　　3、4</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>2　　　　　　　　　1、2</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>3　　　　　　　　　2、3</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>4　　　　　　　　　1、4</TD>
      </TR>
      <TR>
        <TD>（4）</TD>
        <TD>踏み木の踏み順　（図2参照）</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>1-3-1-4　　で表が織れます</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>2-3-2-4　　で裏が織れます</TD>
      </TR>
      <TR>
        <TD></TD>
        <TD>（1-2-1-2　で　平織りになります）</TD>
      </TR>
    </TBODY>
  </TABLE>

<figure><IMG src="img/ori23_2.jpg" width="500" height="223" border="0">
<figcaption>図2</figcaption>
</figure>

（5）踏み木1を踏むと「表」が織れ、踏み木2を踏むと「裏」が織れることをしっかり頭にいれて図3に従って織り進みます。

<figure><IMG src="img/ori23_3.jpg" width="791" height="413" border="0">
<figcaption>図3</figcaption>
</figure>

（6）最初は四角の柄（色の境が水平、垂直のもの）からやってみると良いと思います。<BR>
      「表」「裏」を織るという感覚が判れば意外と色々なことができるようになります。

<figure><IMG src="img/ori23_4.jpg" width="500" height="377" border="0">
<figcaption>教室のMさんの試作です</figcaption>
</figure>
  <% include ./_common/footer %>
  </BODY>
  </HTML>
