<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>Excelを使った組織図作成法</h2>
<p>　手仕事で複雑なあすび(綜絖）通し、踏み木の踏み順の組織図を仕上げる事は大変な作業です。Ｅｘｃｅｌの簡単な機能を利用すると一柄が数10回、数10本以上繰り返しの組織図でも誤りなく短時間で仕上げることができます。また、機械的に作業をするのでは無く、作業の流を丁寧に追って行くと、「列方向（の柄）があすび通し」に「行方向（の柄）が踏み木」に対応していることを納得する上でも大きな手助けになります。<BR>
　更に「柄のデザイン」に記載された様々な柄デザイン手法を使ってゆく上で組織図を作成するためにPCを使用する事は避けられません。組織図の表す内容の正確な理解と、組織図と表計算ソフトの同一性を理解する事は手織りの世界で自由度を上げてゆくための極めて重要なステップです。<BR>
　また、表計算ソフトを使って組織図を描く場合の基本的な考え方を充分理解して始めないと、とんだ間違えや勘違いを起こす原因となります。「柄のデザイン」→「はじめに」→「<A href="ori71.html" target="_self">手織りの世界を自由に駆け回る</A>」を必ず一読されることをお勧めします。<BR>
　それでは、順を追って説明したいと思います。<FONT size="2">（2012/4/30追加、改訂）</FONT></p>
<BR>
<p>①組織図の上行1行に「あすび枠番号」と左横1列に、「踏み木番号」を、更にその外側に「通し番号」を記入します。「あすび-踏み木の結合状態」も記入します。入力ミスがあると後の作業が無駄になってしまいます。確認しましょう。<BR>
行、列の数が多い時の入力には「ツール」→「オプション」→「編集」から「入力後のカーソル移動」を行の時は「右」、列の時は「下」と変更すると作業がはかどります。</p>
<figure><IMG src="./img/ori34_1.jpg" width="500" height="309" border="0"></figure>

<p>②「踏み木の踏み順」を「踏み木番号（Ｂ列）」「昇順」で並び替え（ソート）をします</p>
<figure><IMG src="./img/ori34_2.jpg" width="500" height="377" border="0"></figure>

<p>③「あすび通し」を「あすび通し（2行目）「昇順」で並び替え（ソート）をします。<br>
「並び替え」のメニューから「オプション」→「方向」へ</p>
<figure><IMG src="./img/ori34_3.jpg" width="500" height="331" border="0"></figure>

<p>④「方向」を「列」とし「ＯＫ」をクリック</p>
<figure><IMG src="./img/ori34_4.jpg" width="500" height="331" border="0"></figure>

<p>⑤最優先されるキーを「行2」として「ＯＫ」。これで行列とも並び替えができました。</p>
<figure><IMG src="./img/ori34_5.jpg" width="500" height="322" border="0"></figure>

<p>⑥「踏み木（横）とあすび枠（縦）の結合状態」を考えセルをペーストします。一番大切な場面です。誤りのないよう作業して下さい。画面の下方で作業しなくてはならない時は「ウインド」→「ウインド枠の固定」で、常に上４行を見られる状態にしておくと誤りを防げます。</p>

<ol style="list-style-type: decimal;margin-left:1rem;">
<li>経（列）方向で、「踏み木の踏み順」の変わる先頭行の該当番号枡を黒くつぶします。</li>
<li>緯（行）方向も「あすび通し」が変わる先頭列の該当番号枡を黒くつぶします。</li>
<li>1.でつぶした点から、右（行）方向に伸ばした線が、2.でつぶした点から下（列）方向に伸ばした線と交叉する点において、結合状態を見ながら、経糸が緯糸の上にある場合は点（枡）を黒くつぶします。</li>
<li>すべての点をつぶせたら、行列とも「踏み順番号」「あすび通し番号」を含めて、下、右両方向にｃｏｐｙします。</li>
</ol>

<figure><IMG src="./img/ori34_6.jpg" width="500" height="305" border="0"></figure>

<p>⑦交叉する点、経糸、緯糸の上下を見誤らないよう注意が必要です。後は並び替えて元に戻すだけです。</p>
<figure><IMG src="./img/ori34_7.jpg" width="500" height="304" border="0"></figure>

⑧　⑤→④→③の手順で列方向を元に戻します。元の状態に戻すには最優先されるキーは通し番号が記入された「行1」、列方向でも同様に通し番号が記入された「列Ａ」となります。
<figure><IMG src="./img/ori34_8.jpg" width="500" height="351" border="0"></figure>

⑨柄が姿を現しました。
<figure><IMG src="./img/ori34_9.jpg" width="500" height="313" border="0"></figure>

<p>⑩あすび通し、踏み木の踏み順等を修正すれば組織図の完成です。<BR>
（<FONT size="2">「手織りの豆知識　手織りショック防止法」等をご参照ください）</FONT></p>
<figure><IMG src="./img/ori34_10.jpg" width="500" height="319" border="0"></figure>

<p>方眼紙の一マス、一マスを鉛筆で塗りつぶしていた頃を思うと隔世の感があります。組織図では表現しきれないこともたくさんありますが様々な工夫によって、パソコン上で試し織りに近い作業が可能になってきました。<BR>
経、１００本、踏み木100回で一柄を織り出すような図を作ってみると、最後に柄が姿を見せた時、実際に織り付け、柄が現れた時のように「お－－」と感動してしまいます。<BR>
織は、組織図で表現できる範囲では、表計算ソフトと、ものすごく相性が良いものがあります。こんなところでも、また様々な工夫を楽しめます。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
