<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>右と左</h2>
　Excelで組織図をつくると、図が左上から展開します。一般に右利きの人は作業を右上から始めますし、従来の組織図は、右上から展開することが多かったため、Excelでつくった組織図は使いにくいとのお話を時々お聞きします。<BR>
      　ここでは、左上から展開した組織図を右上からの展開に書き換え、どうなるのか考えてみたいと思います。<BR>

<figure>
<img src="img/ori39_1.jpg" width="582" height="534" border="0">
</figure>

　図1が元図、図2から図5までは、元図を右上からの展開に書き換え、様々な状況を作ったものです。見ていただければ、どのようになるかは、お判りいただけると思います。<BR>
      　要点は、「あすび通しが列の柄に対応」し、「踏み木の踏み順が行の柄に対応」しますから、それに応じて柄が現れるということだと思います。また「手織りショック防止法」のところでも触れましたが「あすび通しは行方向（結合状態を含み）に入替えを行っても組織は変わらない」し、「踏み木の踏み順は列方向（結合状態を含み）に入替えを行っても組織は変わらない」ということも判ります。<BR>
      　「どうなっちゃうんだろう？」という状態になった時は、直ぐに組織図を描き、作業の内容を整理整頓すると、安心して先に進めます。<BR>

<figure>
<img src="img/ori39_2.jpg" width="408" height="311" border="0">
<figcaption>当店教室　ＧＴさん作図</figcaption>
</figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
