<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄を大きくする</h2>
　織りの計画をたてる時、経糸、緯糸の浮きを大きくしたり、柄を大きくして鮮明に出したい時があります。<BR>
  経方向は、あすび（綜絖）通しが柄を決めるので、同じパターンを繰り返すことにより比較的簡単に行うことができます。図1、2をご覧下さい。

<figure><IMG src="img/ori31_1.jpg" width="500" height="182" border="0"></figure>

　必要な巾分、あすびを通す回数を増やせば良い事がわかります。<BR>
      これとは反対に、緯方向はそうは行きません。3倍にしたいといって、足を踏み換えずに3回緯糸を通しても、また緯糸を3倍太いものを使っても鮮明な柄を織りだす事は難しいものがあります。<BR>
      　こんな時使われるのが、「平織り」との混織です。図3のように続けて同じ踏み木を踏むことはできませんが、間に「平織り」を入れると、経、緯糸は押さえられ、「平織り」をはさんで連続して同じ踏み木を踏む事が可能となります。

<figure><IMG src="img/ori31_2.jpg" width="200" height="219" border="0"></figure>

「平織り（赤い部分）」をいれたものが図4です。この時、「平織り」をする時の緯糸に見えないよう細い糸を使用すると、図5のようになり、図3の状態に近くなり、図2が緯方向にも拡大されたことが判ります。

<figure><IMG src="img/ori31_3.jpg" width="600" height="245" border="0"></figure>

下の図6から図8は、平織りの混織とあすび通しの繰り返しにより図1の柄を拡大したものです。<BR>

<figure><IMG src="img/ori31_5.jpg" width="419" height="326" border="0"></figure>

　ただ問題は、平織りを踏める踏み木があるかないかです。平織りを踏めない場合はあすび枠数、踏み木の本数を増やさなくてはなりません。<BR>
      　もちろん、すべての場合がそうではなく、4本踏み木、4枚あすびまででも可能な場合はたくさんありますし、様々な工夫で「平織り」を入れる事が可能になります。<BR>
      　色々な場合を考えてみると、頭がぐらぐらしてきますが、織った時、計画どうりの柄が出て来ると本当にうれしくなります。「やった！」と思ってしまいます。<BR>
<% include ./_common/footer %>
</BODY>
</HTML>
