<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>経、緯の逆転</h2>
　組織図の「列方向（の模様）があすび（綜絖）通し」に「行方向（の模様）が踏み木」に対応していることを納得できると、織り柄を90度回転し、新たな模様を楽しむことができるようになります。<BR>
      　行列を入れ替えれば、「あすび通し」が「踏み木の踏み順」に、「踏み木の踏み順」が「あすび通し」となって、織り柄が90度回転します。更に「あすび通し」、「踏み木の踏み順」に変化を加えれば、楽しみは倍増します。<BR>
      　図1を元図とし、変化させてみます。

<figure><img src="img/ori35_1.jpg" width="285" height="231" border="0"></figure>

②元図の行列を入れ替えます。図2

<figure><img src="img/ori35_2.jpg" width="215" height="300" border="0"></figure>
③あすび通しを変更します。　図3

<figure><img src="img/ori35_3.jpg" width="214" height="299" border="0"></figure>

④踏み木の踏み順を変更すると完成です。　図4

<figure><img src="img/ori35_4.jpg" width="208" height="298" border="0"></figure>
左が元図　右が図4　　　<FONT size="2">42羽/寸間　両目（丸目）　　経緯　30/2　1本取りで作図</FONT>

<figure><img src="img/ori35_6.jpg" width="750" height="280" border="0"></figure>

　「あすび通し」、「踏み木の踏み順」の変更方法は「コラム　織りの豆知識　手織りショック防止法」等をご参照ください。<BR>
      　等寸大に作図をしてみると、組織図では見えなかった様々な線が見えて来る様になり、予想外の出来事に驚かされます。実際に織ってみると、組織図では表しきれない様々な要因がさらに加わり、変化して行きます。<BR>
      　何回計画して織ってみても、イメージ通りのものを織り上げるということはなかなか難しいものがあります。<BR>
      　でも、すべてが予想できてしまったら、驚きとか、感動とかのない殺風景な世界のような気もします。<BR>

<figure><img src="img/ori35_5.jpg" width="425" height="261" border="0"></figure>
図4の経緯方向に変化を加えてみました。　　　<BR>
42羽/寸間　両目　　経緯　30/2　1本取りで作図
<% include ./_common/footer %>
</BODY>
</HTML>
