<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>目・羽・本</h2>
　目（め）・羽（は）・本（ほん）についてです。<BR>
      <BR>
      経糸の数を言い表す時、使われる単位です。この3つの単位をはっきり使い分けないと、話相手にとんだ誤解を与えたり、頭の中がゴチャゴチャになってしまうことがあります。<BR>
      <BR>
      【羽】　筬の隙間は筬目と言いますが、「羽」は筬目と筬目の間の板の事です。筬の所でも説明しましたが、基本的に筬のサイズを表現する場合は「有効巾○尺□寸で寸間△羽」といいますが、「羽」の代わりに「目」といっても、意味は同じです。<BR>
      <BR>
      【目】　綾一つを一目（ひとめ）と言います。糸一本取りで整経すれば一目は糸2本ですし、糸二本取りで整経すれば一目は糸4本です。筬目に経糸の綾1つが通っていれば「両目（もろめ）」、綾の1/2が通っていれば「片目（かため）」と言っています。この「目」と上の筬目の「目」を混同し易いので要注意です。昔、着尺を織る時はほとんどの場合平織りで、経糸一本で一つの綾をとってきました。また、あすび（綜絖）も糸あすびのため、綾の先の「わ」を切らず、そのまま筬目を通し、織り付けました。最近では緯に太いものを織ったり、筬も粗いものを使うことが事が多くなり、綾の取り方も二本の経糸で綾を取る事が多くなったため（この場合は綾の先は「わ」になりません）、筬目一目に経糸2本という基本形がくずれ、「目」の考え方も混乱してしまいました。(両目『もろめ』のことを丸目『まるめ』とも言います。綾の頭が「輪」になっている事からそう呼ばれるのかと思います。）<BR>
      　また、諏訪地方では「一目」のことを「一ひず」（ひとひず）といいます。「ひず」がどんな漢字で書くかは判りません。使われている範囲も諏訪郡内は判っていますが、他の地域では不明です。<BR>

<figure>
<IMG src="img/aya.jpg" width="812" height="298" border="0">
</figure>

【本】　糸の本数をそのまま＊本といいます。「目」について、共通の考え方の無い人が、織りの計画等について話し合われる場合は、「本」を使ってお話されると、きちんとしたお話ができると思います。　<BR>
      <BR>
      <BR>
      　例えば整経する時、「枠を幾つ立てて、何回綾をとったら必要量の綾がつくれるか」などといった事を考える時は特に、考える単位をきちんと整理しておくと仕事がはかどります。<BR>
      <BR>
      　昔、おばあちゃん達が織って整理（織った布の洗い張り）に持ってみえた布を見ると、二反織っても、三反織っても織り付けの「わ」が1本の糸も飛び出ることなく、きれいに揃っていました。今考えると、それは、ほとんど神業に近いものがあります。熟練という言葉がぴったりの世界でした。<BR>

<% include ./_common/footer %>
</BODY>
</HTML>
