<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>「算（ヨミ）の記録」</h2>
よみ（ヨミ　算）についてネット、文献から検索できたものを地区別に列挙して行きたいと思います。算（ヨミ）が「何の単位なのか」「何羽を一算とするか」について情報を収集したため、収集先のサイト名は特に掲載いたしません。失礼の段お許し下さい。貴重な情報本当にありがとうございました。また参考文献については、下に一覧表でまとめさせて戴きました。<BR>
      <BR>
      ＊地区を不定としたものは一般論で特に使用地域が限定されていないものです。<BR>
      ＊「よみ（ヨミ　算）」についての詳細は　コラム織りの豆知識「筬」「6と4　ヨミについて」等をご参照下さい。
<BR>
<TABLE border="1" width="793" height="683" style="font-size : 14px;line-height : 25px;">
  <TBODY>
    <TR>
      <TD colspan="4">平成19年6月23日追加</TD>
    </TR>
    <TR>
      <th width="50" align="center">文献</th>
      <th width="31" align="center">site</th>
      <th align="center" width="136">地区</th>
      <th align="center" width="547">内容</th>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">奄美大島</TD>
      <TD width="547">算（経糸の密度） 経糸80本が1算</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">久米島</TD>
      <TD width="547">経密度の単位 ヨミ（一ヨミ８０本、一羽２本、４本一手１本一筋）</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">宮古島</TD>
      <TD width="547">筬羽４０枚を１算と定める。１０算の筬とは１幅の間に４００羽（４０×１０）を有し、１２算の筬は一幅の間に４８０羽（４０×１２）を有するもの</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">不定（京都1）</TD>
      <TD width="547">鯨１尺の算数で表します。 １算＝４０羽</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">京都2</TD>
      <TD width="547">算とは筬羽の密度を表す語。（一算が四十羽で糸が四十本通る）</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">山梨県東部</TD>
      <TD width="547">算　【よみ】 １算＝80本 １算＝40ワナ 例：15算=600ワナ＝1200本</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">大阪府堺</TD>
      <TD width="547">1算は40羽</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">八王子</TD>
      <TD width="547">16算(よみ)を使用する(１算＝40羽)</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">備後（福山）</TD>
      <TD>備後絣は経糸一六番、筬九算半一羽二本、緯糸は一六番一寸五十本内外の打込み、巾九寸五分長さ三丈二尺、重さ百八十匁を一反とする</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">甲府市（伝説）</TD>
      <TD>七読ではない、八読の筬と取り替えてきておくれ</TD>
    </TR>
    <TR>
      <TD width="50">　</TD>
      <TD width="31">○</TD>
      <TD width="136">ラオス</TD>
      <TD>筬目を「フー」と言う<BR>
      １０フー＝１クワム<BR>
      ４クワム＝１ロブ　（１ロブ＝４クワム＝４０フー）<BR>
      例えば、絣織りは「１５ロブ」の筬を用いますが、その筬巾は約６６cmあって、その中に１５ロブ、すなわち６０クワム、６００フーあると言う事になります。１本の糸を１「セン」といいます。</TD>
    </TR>
    <TR>
      <TD width="50">○文1</TD>
      <TD width="31">　</TD>
      <TD width="136">不定　</TD>
      <TD>よみ：筬の密度を表す語。普通、一算は筬羽４０枚を表す。</TD>
    </TR>
    <TR>
      <TD width="50" height="103">○文2</TD>
      <TD width="31" height="103">　</TD>
      <TD width="136" height="103">不定</TD>
      <TD valign="top" height="103">着尺用の筬には、羽数を表す特殊な呼称が用いられる場合もあります。算（よみ）の単位は、筬目40羽を一算といい、着尺の筬通し巾、鯨尺１尺5分の巾に含まれる算数により、15算の筬などというように密度を表現します。（中略）織り巾の一定する着尺の経糸数を容易に割り出す便利な単位です。同様に、筬目80羽を一把とする単位も、産地によって用いられてきました。　</TD>
    </TR>
    <TR>
      <TD width="50" height="22">○文3</TD>
      <TD width="31" height="22">　</TD>
      <TD width="136" height="22">不定</TD>
      <TD height="22">１算（ひとよみ）＝４０羽</TD>
    </TR>
    <TR>
      <TD>○文4</TD>
      <TD>　　</TD>
      <TD>佐渡</TD>
      <TD>一ヨミが40本、一テが4本で、三ヨミ三テ（136目）、五ヨミ（200本）と数える。</TD>
    </TR>
    <TR>
      <TD>○文5</TD>
      <TD>　</TD>
      <TD>山陰</TD>
      <TD>筬の目数に大小がある。一算は40本単位</TD>
    </TR>
    <TR>
      <TD>○文5</TD>
      <TD>　</TD>
      <TD>英語</TD>
      <TD>1porter=40本</TD>
    </TR>
    <TR>
      <TD>○文5</TD>
      <TD>　</TD>
      <TD>フランス　リヨン地方</TD>
      <TD>1portee=80本</TD>
    </TR>
    <TR>
      <TD>○文5</TD>
      <TD>　</TD>
      <TD>ドイツ</TD>
      <TD>1gang porter=40本</TD>
    </TR>
    <TR>
      <TD>○文6-1</TD>
      <TD>　　</TD>
      <TD>沖縄</TD>
      <TD>糸1本＝1「スジ」<BR>
      4「スジ」＝1「ティー」<BR>
      10「ティー」＝1「シュ」　　1「ユミ」（八重山）<BR>
      ＊道具といったものがなかった時代には、人間の手が唯一の機具であったためで4本の糸を1「スジ」づつ片手の５本の指の間にはさんでいったから、この4「スジ」を「1手」とよぶにいたったのだと思います。</TD>
    </TR>
    <TR>
      <TD>○文6-2</TD>
      <TD>　　</TD>
      <TD>八重山</TD>
      <TD>1「ヨミ（升）」＝8尋半で　80本<BR>
      ＊「1よみ」といえば「1よみ」分の糸の長さも意味していました。この長さはもともと一定した<BR>
      　約束があったものかどうか、よくわかりません<BR>
      ＊「よみ」に「升」の字をあてるようになったのは、もともと「1よみ」分の苧糸の代価が、<BR>
      　米かおそらくは粟の「1升」に換算されてきたからでしょう。</TD>
    </TR>
    <TR>
      <TD>○文6-3</TD>
      <TD>　</TD>
      <TD>宮古島</TD>
      <TD>1「ヨミ（升）」＝2丈で　80本</TD>
    </TR>
    <TR>
      <TD>○文6-4</TD>
      <TD>　　</TD>
      <TD>八重山（麻布）</TD>
      <TD>上等布　20桝（ヨミ）　丈4丈　筬目560<BR>
      中等布　18桝（ヨミ）　丈3丈7尺5寸　筬目532<BR>
      下等布　17桝（ヨミ）　丈3丈5尺　筬目508<BR>
      布巾はいずれも　１尺4寸</TD>
    </TR>
    <TR>
      <TD align="center">○文7</TD>
      <TD>　　</TD>
      <TD>　　　</TD>
      <TD>「よむ」＜読む＞　　数を数える　「月日読みつつ妹待つらむそ」（万3982）</TD>
    </TR>
    <TR>
      <TD>伝聞</TD>
      <TD>　　</TD>
      <TD>沖縄（本島）</TD>
      <TD>1ｃｍ当たりの筬目数をそのまま「ヨミ」と呼称。１目/ｃｍ＝1ヨミ　但し、最近（10～20年）織りを始められ、比較的若い方に織りを教わったらしく、詳細をお聞きすると不明の点が多い。</TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<BR>
<BR>
参考文献明細<BR>
<TABLE border="1" width="804" style="font-size : 14px;line-height : 25px;">
  <TBODY>
    <TR>
      <th width="55" align="center">文番号</th>
      <th width="340" align="center">書名</th>
      <th width="272" align="center">著者</th>
      <th width="95" align="center">出版者</th>
    </TR>
    <TR>
      <TD width="55" align="center">文１</TD>
      <TD width="340">新装版　染織事典　日本の伝統染織のすべて　P.418</TD>
      <TD width="272">中江克己　編</TD>
      <TD width="95" align="center">泰流社</TD>
    </TR>
    <TR>
      <TD width="55" align="center">文2</TD>
      <TD width="340">図解　染織技術事典　P.4-26</TD>
      <TD width="272">柚木沙弥郎監修　田中清香　土肥悦子</TD>
      <TD width="95" align="center">理工学社</TD>
    </TR>
    <TR>
      <TD align="center">文3</TD>
      <TD>技術シリーズ　染・織　P.195</TD>
      <TD width="272">軍司敏博監修　佐藤弘幸・鈴木安良他</TD>
      <TD width="95" align="center">朝倉書店</TD>
    </TR>
    <TR>
      <TD align="center">文4</TD>
      <TD>民具調査ハンドブック　P.78</TD>
      <TD>岩井宏實 河岡武春 木下忠編 　柳平則子</TD>
      <TD align="center">雄山閣</TD>
    </TR>
    <TR>
      <TD align="center">文5</TD>
      <TD>ものと人間の文化史93　木綿口伝　P.243-244</TD>
      <TD>福井貞子</TD>
      <TD align="center">法政大学出版</TD>
    </TR>
    <TR>
      <TD align="center">文6-1</TD>
      <TD>沖縄織物の研究　P.142</TD>
      <TD>田中俊雄　田中玲子</TD>
      <TD align="center">紫紅社</TD>
    </TR>
    <TR>
      <TD align="center">文6-2</TD>
      <TD>沖縄織物の研究　P.143</TD>
      <TD>田中俊雄　田中玲子</TD>
      <TD align="center">紫紅社</TD>
    </TR>
    <TR>
      <TD align="center">文6-3</TD>
      <TD>沖縄織物の研究　P.143</TD>
      <TD>田中俊雄　田中玲子</TD>
      <TD align="center">紫紅社</TD>
    </TR>
    <TR>
      <TD align="center">文6-4</TD>
      <TD>沖縄織物の研究　P.143-144</TD>
      <TD>田中俊雄　田中玲子</TD>
      <TD align="center">紫紅社</TD>
    </TR>
    <TR>
      <TD align="center">文7</TD>
      <TD>明解古語辞典</TD>
      <TD>金田一京助　金田一春彦</TD>
      <TD align="center">三省堂</TD>
    </TR>
  </TBODY>
</TABLE>
<% include ./_common/footer %>
</BODY>
</HTML>
