<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>この糸でどの位織れるのか</h2>
　織りの計画をたてる時には、経糸の必要量をおおよそでも知らなくてはなりませんし、逆に手元にある糸でどのくらいの織りができるのか糸長を知りたい時もあります。<BR>
      　必要量、糸長は「算」に対応した仕立てになっている糸（経糸の必要量、経糸の必要量その２　参照）の場合は簡単に判ってしまいますが、そうでない場合はちょっと面倒な計算をしなくてはなりません。計算が面倒というよりは単位が入り混じっているので面倒なのですが。<BR>
      　「番手」の表示があり、重量が判っている糸は長さを計算することができます。<BR>
      <BR>
A.綿糸の糸長<BR>
Ⅰ．１番手とは「１ポンドあたり糸長が８４０ヤードある糸の太さ」と決められています。<BR>
　　　これを単位をメ－トル法にして書き換えると<BR>
　　　　　１ポンド＝４５０ｇ<BR>
　　　　　８４０ヤード＝７６８ｍ　ですから<BR>
　　　　　８４０ヤード/ポンド　は<BR>
　　　　　７６８ｍ/４５０ｇ<BR>
　　　　　１．７ｍ/ｇ　となり　　１番手とは「１ｇあたり糸長が１．７ｍある糸の太さ」となります。<BR>
          要するに「ｇ当たりの糸長（ｍ）＝単糸番手換算した数×１．７」ということになります。<BR>
Ⅱ．番手表示を単糸番手に換算する<BR>
　　　【例】　２０/３：　２０÷３＝６．７<BR>
　　　　　　　３０/２：　３０÷２＝１５<BR>
    「20/3」：　20番手の単糸を3本撚りにしてあるという表示です。「にまるみこ」と読みます。「みこ（みっこ）」の「み」  <BR>
   は「ひい=1」「ふう=2」「みい=3」の「みい」の「み」、「こ」は「撚り」の意味です。<BR>
   「2本撚り=ふたこ」「3本撚り=みこ（みっこ）」「4本撚り=よこ（よっこ）」<BR>
Ⅲ．単糸番手換算した数に「１．７」をかける<BR>
　　　【例】２０/３の場合　　１．７×６．７＝１１．４ｍ/ｇ<BR>
　　　　　　３０/２の場合　　１．７×１５＝２５．５ｍ/ｇ<BR>
Ⅳ．これを元に、糸重量から、糸長を計算する。<BR>
　　　【計算例】<BR>
　　　　　1.　４８/２　が　５２０ｇ　あります。　糸長は？<BR>
　　　　　　①　４８/２＝２４<BR>
　　　　　　②　１．７×２４＝４０．８ｍ/ｇ<BR>
　　　　　　③　４０．８ｍ/ｇ×５２０ｇ＝２１２１６ｍ<BR>
<BR>
　　　　　2.　３０/３　が　７５ｇあります。　糸長は？<BR>
　　　　　　①　３０/３＝１０<BR>
　　　　　　②　１．７×１０＝１７ｍ/ｇ<BR>
　　　　　　③　１７ｍ/ｇ×７５ｇ＝１２７５ｍ<BR>
<BR>
B.絹紡糸の糸長<BR>
　　絹紡糸の太さ：番手表示の割り算を実行した数字＝ｍ/ｇ<BR>
　　例えば　60/2の時　　60/2＝30→30ｍ/ｇ　<BR>
<BR>
C.生糸の糸長<BR>
　　生糸の太さ単位＝D（デニール）　　1ｇ当り9000ｍの太さを1Dと言います。<BR>
　　たとえば200ｇで9000ｍであれば200D　逆に100Dの生糸は　90ｍ/ｇとなります。<BR>
<BR>
また、糸の形状等によって違いがあります。計算結果はあくまで参考程度にご使用ください。<BR>
他にも糸の太さ表示は様々なものがあります。ご注意ください。<BR>
<br>
  　手元にある経糸の糸長が判れば、それでどの程度のものが織れるかの計算は簡単です。<BR>
    今1250ｍ経糸があるとします。これで織れる長さは寸間30羽の筬（両目）を使い、巾38ｃｍ　とすれば、整経できる長さ＝1250ｍ/300×2＝2ｍとなります。<br>
<br>
　糸長でおもしろいのは「20/3」の場合です。普通１反＝３丈＝３０尺＝１１．４ｍです。20/3のｇ当たりの糸長は、上でも計算したように「１１．４ｍ＝３丈」なのです。奇妙な一致ですね！？
<% include ./_common/footer %>
</BODY>
</HTML>
