<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>手織りショック防止法</h2>
　組織図を書いて織りの計画をたてる時、考えて置きたい事があります。<BR>
      ①あすび（綜絖）を通しやすい<BR>
      ②踏みやすい<BR>
      ③整経しやすい<BR>
      この3点を考えておくと、誤りを防ぎ、作業の能率を倍増することができます。実際の例をみながら、組織図をつくってみます。<BR>

<figure>
<IMG src="img/ori33_1.jpg" width="531" height="557" border="0">
<figcaption>踏み木の踏み順の詳細は「手織りの豆知識　踏み木の踏み順について1、2」をご参照ください。</figcaption>
</figure>

　図1が元図です。まず、あすび（綜絖）通し（行方向）を整理したものが図2、さらに踏み木の踏み順（列方向）を「1-3-2-4」の原則に従って整理したものが図3です。図1からみるとだいぶすっきりしました。<BR>
      　整経方法は、経糸の必要本数が「偶数」、「奇数」によって、また糸のカセ数、枠数によって様々な状況が生じてきます。<BR>
      「あすび通し」「踏み順」「整経方法」のいずれも、出来るだけ「シンプルでリズミカルなパターンの繰り返し」となる事を念頭において計画すると、誤りが防げ作業能率が向上します。<BR>
      　経糸を全部はたご（織機）にかけ終わり、「さー行くぞ！」と織り始めたとたん、柄がくずれた時のショックは本当に経験した人でないと判らないものです。私なんかは立ち直るのに数日かかることがあります。これを回避する方法は一重に「シンプル&amp;リズミカル」です。がんばりましょう！<BR>

<figure>
<IMG src="img/ori33_2.jpg" width="500" height="358" border="0">
<figcaption>当店教室　ＧＴさん作図</figcaption>
</figure>
  <% include ./_common/footer %>
  </BODY>
  </HTML>
