<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>経糸の必要量</h2>
　経糸の必要量についてです。<BR>
      <BR>
      　一般に木綿糸は１０ポンド（４．５ｋｇ＝１貫２００匁）を一つのくくり（玉）として作られています。３０／２（さんまるふたこ）は１０ポンドの糸を１５０に、２０／３（にまるみっこ）は１２０に別け、「かせ」に仕立てます。それぞれの仕立ては下記の様になります。（かせ＝かな）<BR>

<TABLE>
  <TBODY>
    <TR>
      <TD>２０／３</TD>
      <TD>４５００ｇ（１貫２００匁）／１２０＝３７．５ｇ（１０匁）／かせ</TD>
    </TR>
    <TR>
      <TD>３０／２</TD>
      <TD>４５００ｇ（１貫２００匁）／１５０＝３０ｇ（８匁）／かせ</TD>
    </TR>
  </TBODY>
</TABLE>
<IMG src="img/kase.jpg" width="350" height="230" border="0"><BR>
<BR>
左が２０／３の１０匁かせ（写真の1/5が1かせ）<BR>
右が３０／２の１６匁かせ（ダブルがせ）（写真の1/6が1かせ）<BR>
<BR>

１かせ、２０／３は１０匁、３０／２は８匁というのが基準です。<BR>
      <BR>
      この仕立てになっている経糸の場合、「並み巾（一尺＝38ｃｍ）、1反（三丈＝11.4ｍ）」を織るのに必要な経糸は「使用する筬の算（よみ）×<B>２</B>」　かな　です。ただし２０／３の場合は「片目（かため＝筬目を糸１本が通る状態）」、３０／２は両目（もろめ＝筬目を糸２本が通る状態）で織る場合です。<BR>
      <BR>
      ＊算（よみ）については「織りの豆知識１」を参照下さい<BR>
      <BR>
      例えば<BR>
      　２０／３で織るのに必要な量<BR>
      １反・並み巾・使用筬　６算片目（むよみかため　寸間３６羽）の場合<BR>
      ６（よみ）＊<B>２</B>＝１２かせ<BR>
      <BR>
      　３０／２で織るのに必要な量<BR>
      １反・並み巾・使用筬　７算両目（ななよみもろめ　寸間４２羽）の場合<BR>
      ７（よみ）＊<B>２</B>＝１４かせ<BR>
      <BR>
      これを基本に、織り巾、長さに応じ、比例計算をし、必要量を計算します。<BR>
      <BR>
      例えば<BR>
      ２０／３を使い５ヨミ（寸間３０羽）の筬で、巾２０ｃｍ、長さ５ｍ　片目入れで織ります。必要量は？<BR>
      <BR>
      １．５ヨミ（寸間３０羽）の筬で、１反並み巾、片目入れの必要量は　　５×２＝１０かな<BR>
      ２．巾２０ｃｍですから　　　（２０ｃｍ／３８ｃｍ）×１０かな＝５．２６かな<BR>
      ３．長さ５ｍですから　　　　（５ｍ／１１．４ｍ）×５．２６＝２．３１かな<BR>
      　　となり、必要量は２．３１かなです。<BR>
      <BR>
      以上のことから、お判りいただきます様に、経糸の必要量の計算には<BR>
      「使用する筬の羽（目）数」・「織る巾」・「織る長さ」・「筬目の糸の通し」・「糸の種類」の５つが必要です。<BR>
      <BR>
      また、この計算には「縮み分」、「引き揃えする糸の本数」、「織れない部分」の3つは入っていません。<BR>
      「縮み分」は通常で1割程度、「織れない部分」は一尺みます。「引き揃えする糸の本数」は通常の必要量「×」<BR>
      引き揃えする糸の本数となります。<BR>
      「縮み分」については、「コラム　織りの豆知識」緯糸の必要量　もご参照下さい。
  <% include ./_common/footer %>
  </BODY>
  </HTML>
