<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>模様・文様・紋様・意匠・柄</h2>
<p>　経糸と緯糸が3つの条件（あすび通し、結合状態、踏み木の踏み順）のもと、お互いに上下関係を構成する状態を織物の組織といいます。経糸、緯糸の交点において、経糸が上にある場合の点を黒、緯糸が上にある場合を白にして書き表したもの（逆の場合もあります）が組織図です。また、多くの場合、組織全体は、ある最小単位の組織が上下（経）方向、左右（緯）方向に繰り返す事により構成されています。この繰り返しの最小単位を完全組織といいます。<BR>
　この完全組織の繰り返しにより織り出されてくる平面的図柄のことを、普通「模様」と呼んでいます。しかし、すべての完全組織の繰り返しが「有用な模様」ではありません。（有用の意味は今は問いません）<BR>
　「模様」は「非人為的、偶発的模様」と「装飾を目的として創作された人為的模様」からなっています。私達が織物の世界で、普通「模様」といっているものは「人為的模様＝文様＝紋様」「意匠された模様」という事だと思います。「模様」となにげなく使っていた言葉は、正確には「文様」といった方が良いと思います。　</p>
<IMG src="./img/ori46_1.jpg" width="300" height="254" border="0"><BR>
<BR>
<FONT size="2">繰り返し、対称性など規則性の無い組織</FONT><BR>
<BR>
<IMG src="./img/ori46_2.jpg" width="72" height="69" border="0"><BR>
<FONT size="2">上図の完全組織</FONT><BR>
<BR>

「模様」「文様」「紋様」「意匠」「柄」など完全組織の繰り返しによって作られる平面的図柄の呼び方は様々なものがあります。その言葉の中で、私の気持ちに一番近い言葉が「柄」だと思います。「柄」という言葉は「意匠された模様」だけでは言い表しきれないものを、たくさん持っているような気がします。「『色柄』が良い」って昔から云いますが、云い得て妙だと思います。ほのぼのとしたおおらかさが伝わってきます。<BR>
<FONT size="2">参考文献：「西洋装飾文様事典」　城　一夫著　　朝倉書店</FONT><BR>

<IMG src="./img/ori46_3.jpg" width="408" height="274" border="0"><BR>
<FONT size="2">当店教室　GTさん作図</FONT><BR>
<% include ./../_common/footer %>
</BODY>
</HTML>
