<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>経と緯　表と裏</h2>
　下の図をご覧ください。上と下では経糸と緯糸を入れ替えてあります。表と裏の関係ですが、経、緯が変わると、大分雰囲気が変わります。経、緯を結合状態、踏み木の踏み順を変えることにより逆転してみたいと思います。

<figure><IMG src="img/ori45_1.jpg" width="318" height="368" border="0"></figure>
  　図1-1は、基本的な綾織りの組織図です。経が紺、緯はレンガを織っています。図1-2は、結合状態、踏み順は変えずに経緯を入れ換えたものです。（図1-1の裏が図1-2になります）<BR>
  　図2-1、図2-2は、結合状態を反転し、（1-3・4、2-1・2、3-2・3、4-1・4　<B>→</B>　1-1・2、2-3・4、3-1・4、4-2・3）裏表（経緯）を逆転させたものです。更に図3-1、図3-2のように、図1-1、図1-2と結合状態が同じもので構成されていれば、「結合状態を含めて踏み木の踏み順を変えても柄は変わらない」の原則から、結合状態を変えずに踏み順を変えて裏表を逆転することもできます。踏み順を変えて、裏表を逆転して1枚の布としても楽しいものがあります。</TD>

<figure><IMG src="img/ori45_2.jpg" width="550" height="523" border="0"></figure>
「2枚のあすび枠」を「1本の踏み木」に結合する方法は360通りあることは「結合状態の変更による柄の変化」の所でお話しました。このうちどのくらいが踏み順を変えるだけで表裏を反転しながら織れるのかを作図してみると72通りが可能な事が判ります。全体の2割です。（図-4をご参照ください）<BR>
「経と緯」　「表と裏」　興味は尽きません。<BR>


<figure><IMG src="img/ori45_3.jpg" width="300" height="404" border="0">
<figcaption>図-4</figcaption>
</figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
