<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>「3本ロクロ」から「2本ロクロ」</h2>
　普通、組織図はロクロ3本使用で書かれます。2本ロクロの織り機を使わなくてはならない場面で、ついうっかりしてロクロ3本使用の組織図のまま、あすび（綜絖）を通してしまい万事窮すなんて経験ありませんか。予めどのような場合が「3本ロクロ」から「2本ロクロ」へ変更できるのか判っていると安心です。<BR>
      　ここでは「3本ロクロ」から「2本ロクロ」に変更できる場合はどのような時なのかを、「2枚のあすび枠」を「1本の踏み木」に繋いだ場合で考えてみたいと思います。<BR>
      　「2枚のあすび枠」を「1本の踏み木」に繋いだ時、「結合状態」は、図1の6パターンから4つを選択し列方向に並べたものとなります。<BR>
      　様々な場合を作図してみると、結合状態が「1-6」、「2-5」、「3-4」が対になって構成されるグループ「1・6・2・5」「1・6・3・4・」「2・5・3・4」が3本ロクロから2本ロクロへ変更が可能なことが判ります。これらは図で見ると縦横方向すべての行列で、2点の結合点を持っています。<FONT size="2">(2006/6/22追加、修正）</FONT><BR>

<figure>
<IMG src="img/ori47_3.jpg" width="203" height="139" border="0">
<IMG src="img/ori47_2.jpg" width="376" height="194" border="0">
</figure>

　「結合状態を含めてあすび通しを変更しても柄は変わらない」の原則から、図2、3を行方向に並び替えて見ると（図2、3の下図を参照）、2本ロクロでも織れる結合状態がある事が判ります。（赤で囲まれた結合にすれば2本ロクロで織ることが可能です）また「結合状態を含め、踏み木の踏み順を変更しても柄は変わらない」の原則から、「1・2・5・6」を列方向に組合せた結合状態すべてが同一の意味を持ち、変更可能な結合状態を持っています。「1・3・4・6」「2・3・4・5」もまったく同様です。<BR>
      　逆に図4、5の様に、「1・2・5・6」または「1・3・4・6」「2・3・4・5」以外のパターン構成を持つ結合状態の場合には、「3本ロクロ」から「2本ロクロ」へ変更できる結合状態はありません。（図4、5の下図を参照）<BR>

<figure>
<IMG src="img/ori47_1.jpg" width="611" height="472" border="0">
</figure>

　織りは「あすび通し」「結合状態」「踏み木の踏み順」の3要素で構成されるため、様々なところで、様々な規則性をつくりだしています。特に「結合状態」は「あすび通し」「踏み木の踏み順」と比べ16マス（4枚あすび枠、4本踏み木の場合）に限定された世界です。無限に延長できる「あすび通し」「踏み木の踏み順」に比べ違った雰囲気を持っています。<BR>
      　織りの後ろに在る様々な規則性に気付いた時は、遠い昔に遡り、手織りをしているおばあちゃんに出会えたような、懐かしい、温かな気持ちになります。<BR>

<% include ./../_common/footer %>
</BODY>
</HTML>
