<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>織りの組織について</h2>
<p>　織りで表れてくる柄は「あすび（綜絖）通し」「踏み木の踏み順」「あすび枠と踏み木の結合状態」で決定されます。図1をご覧ください。左上の組織図を前述の３点を変え作図したものです。</p>
<IMG src="./img/ori49_1.jpg" width="500" height="303" border="0"><BR>
<BR>
<FONT size="2">図1</FONT><BR>
<BR>
<p>　「結合状態」はあすび枠４枚、踏み木４本の場合、１６の枠内に限定された変化しかできませんが、「踏み木の踏み順」「あすび通し」は、限りなく変化させることが可能です。<BR>
　図1をもとに「結合状態」、「踏み木の踏み順」を変えずに「あすび通し」だけ変更したものが図2、3、4です。ご覧いただくとお判りのように図2,3は柄となっていますが、図4は柄と云える状態にはありません。限りなく変更が可能であってもすべてが柄として有意ではありません。（ここでは無視されている色など様々な要因が加わることにより、図4も蘇ることがあるかもしれませんが）変な言い方かもしれませんが無意味なあすび通しは無意味です。</p>
<BR>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori49_2.jpg" width="250" height="154" border="0"></TD>
      <TD><IMG src="./img/ori49_3.jpg" width="250" height="154" border="0"></TD>
      <TD><IMG src="./img/ori49_4.jpg" width="250" height="154" border="0"></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図2</FONT></TD>
      <TD align="center"><FONT size="2">図3</FONT></TD>
      <TD align="center"><FONT size="2">図4</FONT></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
　模様が柄（有意な模様）として私たちに何かを感じさせる時、その模様の全体像は規則性（対称・反復・反転等）を持つ部分によって作り出されている事が殆どです。（蛇足ですが、逆に決して規則性のない組織を描いたものが「コラム　織りの豆知識　柄を作る　番外編」に載せた組織図です。）しかも部分を見ただけでは到底想像もつかない世界が全体を見渡した時現れています。図5を織ると図6のような全体像になることを連想する事は極めて困難です。<BR>
<IMG src="./img/ori49_5.jpg" width="287" height="283" border="0"><BR>
<BR>
<FONT size="2">図5</FONT><BR>
<BR>
<IMG src="./img/ori49_6.jpg" width="486" height="320" border="0"><BR>
<BR>
<FONT size="2">図6<BR>
<BR>
</FONT>
<p>　ある有意の柄を持った組織図で「あすび通し」を変えずに「結合状態」、「踏み木の踏み順」を変えると、有意の柄が多数現れるものと、ほとんど現れないものとがあります。「踏み木の踏み順」でも「結合状態」でも同様なことがよくあります。どうしてこの様なことが起こるのでしょうか？<BR>
　織物は人為的な作業にも関わらず判らないことがたくさんあります。でも繰り返し、繰り返しやっていると少しづつですが判ってくることもあります。<BR>
　山登りが好きな私は、山へ行った時、未知の林道に出合うと、無性に終点まで行ってみたくなるたちです。何が出てくるのか見てみたくなるのです。好奇心がやたら旺盛なのです。それが私と手織りの相性の良い原因なのかもしれません。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
