<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>結合状態変更による柄の変化</h2>
　「柄をつくる」のところでお話しましたが、「あすび（綜絖）通し」、「踏み木の踏み順」が同じでも、あすび枠と踏み木との結合状態を変化させると、柄も変化してきます。どの位変化させる事ができるのでしょうか。<BR>
　ここでは「あすび枠２枚」を「１本の踏み木」に結合した時を考えてみたいと思います。「あすび（綜絖）通し」、「踏み木の踏み順」を固定し、２枚のあすび枠を１本の踏み木に結合した状態は図１の６パターンです。<BR>
<IMG src="./img/ori43_2.jpg" width="168" height="74" border="0"><BR>
<FONT size="2">例えば「6」の場合は手前２枚のあすび枠が１本の踏み木に繋がっている事を表しています</FONT><BR>
<BR>図1<BR>
<BR>
<p>　４本踏み木、４枚あすびで、踏み木の踏み順、あすび通しを固定し、「あすび枠２枚」を「１本の踏み木」に結合し織り進む場合、６パターンのいずれか４つを選択し、順に踏んで行くことになります。６パターンから４つを選択する方法は、「１」のパターンについて６０通りありますから、全部では６０×６＝３６０通りあることになります。３６０パターン中、様々な原因で同じ柄になってしまう場合がありますが、３６０パターン中多くの場合、８０パターン程度は同じ柄を含みません。<BR>
　ただ単純に「結合状態」を変える事だけで、少なくとも８０程度の変化を作る事ができます。また踏み木の踏み方が煩雑にはなりますが、１枚のあすび枠を１本の踏み木に結合し、同時に２本の踏み木を踏めば、縛り直さなくても同様に６パターンを選択し、変化させることが可能です。<BR>
　図２、３に「あすび通し」、「踏み木の踏み順」が同一で、結合状態を変えた柄を作図してみました。<BR>
（図２、３は、それぞれあすび通し、踏み木の踏み順が異なります）</p>
<br>
<IMG src="./img/ori43_1.jpg" width="457" height="408" border="0"><BR>
図２<BR>
<BR>
<IMG src="./img/ori43_3.jpg" width="430" height="338" border="0"><BR>
図３<BR>
<BR>
<BR>
<p>　あすび通し、踏み木の踏み順を変化させる事に制限はありません。また、更に色が加われば、限りなく楽しみ方が増えて行きます。多くの場合８０パターン程度をつくることができますが、すべての場合ではありません。まだたくさん考えなくてはならない事がありますが、とりあえずは楽しめます。<BR>
　机上の世界が実際の布となって、ひと踏み、ひと踏み、姿を現してくるのを見ることは、好奇心の強い方にはたまらないものがあると思います。チャレンジしてみてください。がんばりましょう！<p>
<p>【追記】　2007/8/31<BR>
あすび枠と踏み木の結合状態を見たとき、行列方向、各行列とも2つの交点をもつものは、360柄中72柄あります(表、裏36柄）。前にも書きましたが、行列両方向、各行列とも2つの交点を持つものは、2本ロクロで織る事が出来、また結合状態が安定しているため踏み木を踏んだ時、きれいに開口します。さらに、この72の組織は「八つ縄文織り」で、経、緯方向とも自由に拡大、縮小する事が可能です。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
