<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>綾のこと</h2>
　「綾」と「機」は昔から「綾は機の命」と云われる程切っても切れない関係でした。ところが最近、着尺を織られる方々が急減し、粗い筬、太い経糸が使用され、短いものが織られることが多くなったため、「綾」が忘れられる事が多くなってきました。<BR>
      　「綾」が「機の命」と云われる所以は『経糸が整経した順番通りに整然と並び、「綾」がある限りその順番は変わる事はない』の一点です。<BR>
      　「綾」があると経糸が整然と並んでいるため、巻く時、どんなに細い糸であっても、どんなに長くても、経糸が屑になることはありません。また経糸が切れた時、どの「あすび（綜絖）」を通っていたのか、どの「筬目」を通っていたのかが直ぐに判ります。あすび通しや経糸の色の配列がシンプルな場合（例えば無地の平織りなど）は、糸が切れてもどの糸が切れたのかは直ぐに判りますが、一寸複雑になると切れた糸の順序を見る作業はかなりの手間を必要としてきます。<BR>
      　一般的に綾をとり、機に架ける場合は<BR>
      ①綾をとり整経<BR>
      ②仮筬を通し「巾出し」<BR>
      ③「綾返し」をして、巻く<BR>
      ④あすびを通す<BR>
      ⑤本筬を通す<BR>
      の5つのステップを踏みます。<BR>
      また、綾を取らないで行う場合は逆に進行し<BR>
      ①必要な本数、長さを整経する（綾を取る場合も、取らない場合もあります）<BR>
      ②筬を通す<BR>
      ③あすびを通す<BR>
      ④巻く<BR>
      （⑤あすび枠を踏み木に繋ぎ、踏んで「綾」を出す→一般的には平織りの場合）<BR>
      の4つのステップを踏むことになります。<BR>
      　2つの方法で大きな違いは、互いに逆に進行する事ですが、その事によって筬を1回通すのか2回通すのかの違いがでてきます。仮筬を通すのは、単に「巾出し」が必要なため行われる作業のため、本筬と仮筬は同じ筬を（通し方は違っても）使う事が多いのですが、巾出し用の道具も様々なものが工夫され使われてきました。また、整経の段階で巾出し用の綾（仮綾）をつくる事も行われます。<BR>
      　更に、仮筬は一度経糸を抜かないとあすび通しができないため、「綾返し」という手品めいた作業をしなくてはならない事も、大きな相違点です。<BR>

<figure>
<IMG src="img/ori41_1.jpg" width="500" height="139" border="0">
<figcaption>当教室の巾出し　　　3目/寸間　　　経糸は通さないで振り分けます</figcaption>
</figure>

　最初に書いた事を逆に考えれば、粗い筬、太い経糸を使用し、短いものを織る場合は、「綾」を取る必要は無いかも知れません。言換えれば「仮筬」を通す必要は無いかも知れません。しかし、「手を抜く」事と、「工夫する」事とは大きな違いがあると思います。何が「手抜き」で何が「工夫」なのかを教えてくれるのが「綾」のような気がします。機を織る時「手抜き」をすると、必ず何処か（織は勿論、織の考え方も含めて）に反動が来ます。また「この方法しかない」と思い込んでいると、とんでもない間違いを犯すことになります。そんな意味からも、たとえ卓上手織り機であっても、まず「綾」を取る事を習得され、それから「綾」のない場面を経験されるのが良いと思います。更に出来る事であれば、織の技術的な問題はともかくとして、細い糸（88本/寸間程度）を使い、反物を織ってみる事ができれば、手織りに対する視野がまるで別世界のように大きく啓けて行きます。<BR>
      　長い間「糸と仲良く」、「糸は切ってはいけない」と教わってきました。屑になって綛があがらず、私がやると、イライラ短気を起こしているような糸も、糸と仲良しの、おばあちゃん達の手にかかると、まるで神業のようにスルスルあがっていきました。　「綾」は「糸と仲良く」してゆくために永い歴史の中で積み上げられた「織り」の知恵の珠玉です。<BR>
      　「手織り」がお釈迦様で、「綾」は観音様。「手織り」と「綾」は、利便性とか工夫とか創意とかを超えた間柄なのだと思います。

<figure>
<IMG src="img/ori41_2.jpg" width="415" height="282" border="0">
<figcaption>当店教室　ＧＴさん作図</figcaption>
</figure>
<% include ./_common/footer %>
</BODY>
</HTML>
