<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>経糸の必要量</h2>
　経糸の必要量についてです。<BR>
      <BR>
      　一般に木綿糸は10ポンド（4．5ｋｇ＝1貫200匁）を一つのくくり（玉）として作られています。30／2（さんまるふたこ）は10ポンドの糸を150に、20／3（にまるみっこ）は120に別け、「かせ」に仕立てます。それぞれの仕立ては下記の様になります。（かせ＝かな）<BR>

<TABLE>
  <TBODY>
    <TR>
      <TD>20／3</TD>
      <TD>4500ｇ（1貫200匁）／120＝37．5ｇ（10匁）／かせ</TD>
    </TR>
    <TR>
      <TD>30／2</TD>
      <TD>4500ｇ（1貫200匁）／150＝30ｇ（8匁）／かせ</TD>
    </TR>
  </TBODY>
</TABLE>
<IMG src="img/kase.jpg" width="350" height="230" border="0"><BR>
<BR>
左が20／3の10匁かせ（写真の1/5が1かせ）<BR>
右が30／2の16匁かせ（ダブルがせ）（写真の1/6が1かせ）<BR>
<BR>

1かせ、20／3は10匁、30／2は8匁というのが基準です。<BR>
      <BR>
      この仕立てになっている経糸の場合、「並み巾（一尺＝38ｃｍ）、1反（三丈＝11.4ｍ）」を織るのに必要な経糸は「使用する筬の算（よみ）×<B>2</B>」　かな　です。ただし20／3の場合は「片目（かため＝筬目を糸1本が通る状態）」、30／2は両目（もろめ＝筬目を糸2本が通る状態）で織る場合です。<BR>
      <BR>
      ＊算（よみ）については「織りの豆知識1」を参照下さい<BR>
      <BR>
      例えば<BR>
      　20／3で織るのに必要な量<BR>
      1反・並み巾・使用筬　6算片目（むよみかため　寸間36羽）の場合<BR>
      6（よみ）＊<B>2</B>＝12かせ<BR>
      <BR>
      　30／2で織るのに必要な量<BR>
      1反・並み巾・使用筬　7算両目（ななよみもろめ　寸間42羽）の場合<BR>
      7（よみ）＊<B>2</B>＝14かせ<BR>
      <BR>
      これを基本に、織り巾、長さに応じ、比例計算をし、必要量を計算します。<BR>
      <BR>
      例えば<BR>
      20／3を使い5ヨミ（寸間30羽）の筬で、巾20ｃｍ、長さ5ｍ　片目入れで織ります。必要量は？<BR>
      <BR>
      1．5ヨミ（寸間30羽）の筬で、1反並み巾、片目入れの必要量は　　5×2＝10かな<BR>
      2．巾20ｃｍですから　　　（20ｃｍ／38ｃｍ）×10かな＝5．26かな<BR>
      3．長さ5ｍですから　　　　（5ｍ／11．4ｍ）×5．26＝2．31かな<BR>
      　　となり、必要量は2．31かなです。<BR>
      <BR>
      以上のことから、お判りいただきます様に、経糸の必要量の計算には<BR>
      「使用する筬の羽（目）数」・「織る巾」・「織る長さ」・「筬目の糸の通し」・「糸の種類」の5つが必要です。<BR>
      <BR>
      また、この計算には「縮み分」、「引き揃えする糸の本数」、「織れない部分」の3つは入っていません。<BR>
      「縮み分」は通常で1割程度、「織れない部分」は一尺みます。「引き揃えする糸の本数」は通常の必要量「×」<BR>
      引き揃えする糸の本数となります。<BR>
      「縮み分」については、「コラム　織りの豆知識」緯糸の必要量　もご参照下さい。
  <% include ./../_common/footer %>
  </BODY>
  </HTML>
