<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>縞帳、組織図、そして…</h2>
<p>　織り上げた布のサンプルと、その布を織るための「織りの計画」とを克明に記録、保存しておく事は、手織りをする者にとって大変重要な事だと思います。布と、織りの計画をみるとその布を織った当時を明確に思い出す事が出来、一つの織傷を見てもその原因を昨日の事のように思い出す事ができます。また、その記録は次のステップへの大きな手掛かりともなって行きます。<BR>
　おばあちゃん達はその記録を「縞帳」という形で残し、近頃は「組織図」という形で残してきました。さらに最近ではＰＣの普及により「組織図がｄａｔａ　ｂａｓｅ化」されることにより、かつては思いもよらなかったｄａｔａ相互のｌｉｎｋが可能となりました。</p>
<IMG src="./img/ori59_1.jpg" width="551" height="480" border="0"><BR>
<BR>
<FONT size="2">当店の縞帳　1000種類以上の縞が残されています。</FONT><BR>
<BR>
<BR>
<IMG src="./img/ori59_2.jpg" width="640" height="456" border="0"><BR>
<BR>
<FONT size="2">手書きの組織図と布のサンプル</FONT>　<BR>
<BR>
<IMG src="./img/ori59_3.jpg" width="640" height="508" border="0"><BR>
<BR>
<FONT size="2">PC（Ｅｘｃｅｌ）で書かれた組織図　(作図 G.T）</FONT><BR>
<BR>
<BR>
<p>　織りの記録をｄａｔａ　ｂａｓｅ化する事により、静的な縞、柄のｄａｔａ保存は、「あすび通し」「結合状態」「踏み木の踏み順」の自由なｌｉｎｋと組織図への展開という極めてダイナミックな手織りの世界を展開することを可能としました。<BR>
　手織り機という特殊な環境（あすび通し、あすび枠数、結合状態、踏み木の本数、踏み木の踏み順）のなかにありながら、限りなく展開される手織りの世界を自由に駆け巡りたい、そんな思いを込めてつくられてきた、「縞帳」「組織図」が、また「手織り」そのものが、PCというｔｏｏｌを得た事により、大きな自由度を獲得し、飛躍できる時代になった事を感じます。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
