
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<META name="GENERATOR" content="IBM WebSphere Studio Homepage Builder Version 6.5.0.0 for Windows">
<META http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
<META http-equiv="Content-Style-Type" content="text/css">
<TITLE>手織り糸 手織り機（手織糸 手織機）手織り体験　手工芸材料　信州諏訪</TITLE>
</HEAD>
<BODY>
<IMG src="Ichiki.jpg" width="94" height="39" border="0">
<CENTER>

<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD width="780">経る（へる　整経する）方法についてです<BR>
      <BR>
      整経の方法も地方によって様々な方法が行われてきたようですが、基本的な考え方はすべて一緒です。<BR>
      大きく別けて２種類の方法があります。（「コラム　織りの豆知識３」を参照して下さい）<BR>
      <BR>
      １．１本の経糸で綾をつくる。 <BR>
      ２．２本の経糸で綾をつくる。<BR>
      <BR>
      　　２．には２つの方法があります。<BR>
      <BR>
      　　　　２－１．経場（へば　整経台）の先頭で折り返す<BR>
      　　　　２－２．経場（へば　整経台）を回る<BR>
      <BR>
      諏訪地方では昔から１．の方法が最も多く用いられてきました。しかし、２．の方法が、時代と共に普及し１．の変形方法として、２－１の方法も多く用いられる様になりました。<BR>
      全国的には２－1の方法が一般的だと思います。<BR>
      これら経る（へる）という言葉の分布とか、経る方法など、織りに関しての事柄はその地方に特徴的な方法が顕著に残っている場合（最近急速に消滅してきていますが）が多い感じがします。何万人、何百万人もの機を織り続けた人々の知恵の結晶を少しでも多く残して置きたいものです。</TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<BR>
<TABLE bgcolor="#ffff80" width="107">
  <TBODY>
    <TR>
      <TD align="center"><B>１．の方法</B></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE>
  <TBODY>
    <TR>
      <TD><IMG src="ori5_1.jpg" width="500" height="433" border="0"></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<BR>
　　　
<TABLE bgcolor="#ffff80">
  <TBODY>
    <TR>
      <TD width="133" align="center"><B>２－１．の方法</B></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE>
  <TBODY>
    <TR>
      <TD width="239"><IMG src="ori5_3.jpg" width="542" height="482" border="0"></TD>
    </TR>
  </TBODY>
</TABLE>
枠は赤－青－赤－青と立てます<BR>
行き・帰りとも同じ順序で綾を取ります<BR>
<BR>
<BR>
<BR>
<TABLE bgcolor="#ffff80">
  <TBODY>
    <TR>
      <TD width="127" align="center"><B>２－２．の方法</B></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE>
  <TBODY>
    <TR>
      <TD><IMG src="ori5_2.jpg" width="500" height="434" border="0"></TD>
    </TR>
  </TBODY>
</TABLE>
枠は赤－青－赤－青と立てます<BR>
下の綾は上と同じ取り方でも良いですが<BR>
１０～２０目単位の綾にしても構いません<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<A href="../teorimame.htm" target="_self"><B><FONT color="#009900" size="3" face="ＭＳ Ｐゴシック">HOME</FONT></B><BR>
</A><BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
<BR>
</CENTER>
</BODY>
</HTML>
