<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>整経方法</h2>
経る（へる整経する）方法についてです<BR>
      <BR>
      整経の方法も地方によって様々な方法が行われてきたようですが、基本的な考え方はすべて一緒です。<BR>
      大きく別けて2種類の方法があります。（「コラム織りの豆知識3」を参照して下さい）<BR>
      <BR>
      1．1本の経糸で綾をつくる。 <BR>
      2．2本の経糸で綾をつくる。<BR>
      <BR>
      2．には2つの方法があります。<BR>
      <BR>
      2－1．経場（へば整経台）の先頭で折り返す<BR>
      2－2．経場（へば整経台）を回る<BR>
      <BR>
      諏訪地方では昔から1．の方法が最も多く用いられてきました。しかし、2．の方法が、時代と共に普及し1．の変形方法として、2－1の方法も多く用いられる様になりました。<BR>
      全国的には2－1の方法が一般的だと思います。<BR>
      これら経る（へる）という言葉の分布とか、経る方法など、織りに関しての事柄はその地方に特徴的な方法が顕著に残っている場合（最近急速に消滅してきていますが）が多い感じがします。何万人、何百万人もの機を織り続けた人々の知恵の結晶を少しでも多く残して置きたいものです。<BR>

<h3>1．の方法</h3>
<figure>
<IMG src="img/ori5_1.jpg" width="500" height="433" border="0">
</figure>

<h3>2－1．の方法</h3>
<figure>
<IMG src="img/ori5_3.jpg" width="542" height="482" border="0">
</figure>

枠は赤－青－赤－青と立てます<BR>
行き・帰りとも同じ順序で綾を取ります<BR>

<h3>2－2．の方法</h3>
<figure>
<IMG src="img/ori5_2.jpg" width="500" height="434" border="0">
</figure>

枠は赤－青－赤－青と立てます<BR>
下の綾は上と同じ取り方でも良いですが10～20目単位の綾にしても構いません<BR>
<% include ./../_common/footer %>
</BODY>
</HTML>
