<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>奇数にご注意！</h2>
　「整経方法　その2」でご紹介したように、奇数本（枠）で整経する場合は、注意しないと糸の並びが混乱してしますことがあります。同様に整経の時、奇数が出てきたら要注意です。図1をご覧ください。<BR>

<figure>
<IMG src="img/ori50_1.jpg" width="339" height="53" border="0">
<figcaption>図1</figcaption>
</figure>

　8枠立てて総切り替え（黒-赤-黒-赤と1本おき交互に色の変わる整経方法）で整経を始めたとします。整経台を1往復すると、綾は8目出来ることになります。必要綾数が8の整数倍の時は問題ありませんが8の整数倍+<B>奇数目</B>必要な場合は注意が必要です。<BR>
      　図1のように枠が右から「赤-黒-赤-黒-・・・」と立っている場合は、綾の最後の並びは図2のようになり（図2の下が整経台に向って手前になります）最後は「赤」で終わっています。

<figure>
<IMG src="img/ori50_2.jpg" width="341" height="143" border="0">
<figcaption>図2</figcaption>
</figure>

　奇数目足りないから、右から奇数本、糸を持って（この場合「赤-黒-赤」））1往復すると、綾の並びは図3のようになってしまい、色、綾の並びが崩れます。

<figure>
<IMG src="img/ori50_3.jpg" width="353" height="169" border="0">
</figure>

　綾を崩さないためには、足りない目数+1本の経糸を持ち必要目数+1の綾を作り、仮筬通しの時1目取り除く方法が一番簡潔で間違えの無い方法ではないかと思います。<BR>
      　綾は糸2本で作られています。巻くとき、糸の切れたとき、ペアーになれない糸は必ず何か原因があってペアーになれないでいます。お気をつけ下さい。

<figure>
<img src="img/ori50_4.jpg" width="307" height="187" border="0">
<figcaption>当店教室　G.Tさん作図</figcaption>
</figure>
<% include ./_common/footer %>
</BODY>
</HTML>
