<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>仮筬通しから機に掛けるまでの注意点</h2>
　2色繰り返しの総切り替えで整経した経糸を仮筬に通し、ちきりに巻いて機に掛けるまでを考えてみます。図１は奥から「黒-赤」の順に綾を取っている状態を示しています。図2は整経が終わり整経台からはずす時、綾が消えない様、紐で綾をくくった状態を示しています。<BR>
      　図2の状態から仮筬通しが始まりますが、綾にかかった紐の「輪」の部分が仮筬の左（図3-1）にくるか、右（図3-2）にくるのかで経糸の色の並びが図3の様に変わってきます。

<figure>
<IMG src="img/ori54_1.jpg" width="500" height="553" border="0">
</figure>
図3-1,2のように仮筬に通された経糸をちきりに巻くと、図3-1は図4-1に図3-2は図4-2のようになります

<figure>
<IMG src="img/ori54_2.jpg" width="500" height="165" border="0">
</figure>

　一般に、ちきりを機にかける時は、図4をそのままかける事が多いのですが、そのままかけると、図5-1の様に機草が機の内側に落ちる事になります。そのため図5-2のように180°ちきりを回転させ機草が機の外側に落ちる様にする場合もあります。

<figure>
<IMG src="img/ori54_3.jpg" width="350" height="243" border="0">
</figure>
　この180°回転する作業を行うと図4の配色列は入れ替わり、図3-1は図6-1に図3-2は図6-2のようになります

<figure>
<IMG src="img/ori54_4.jpg" width="500" height="166" border="0">
</figure>

　配色列は、シンプルなものでは、裏表の問題だったりする事が多く、さして問題になりませんが、図7（図7-1、図7-2は左右を逆転したものです）のような配色列の場合は、変わったという意識があれば良いのですが、うっかりすると大きな問題となります。<BR>
      　仮筬通しから、巻いて機に掛けるまでは、綾の方向、ちきりの構造と巻き方から今、配色列がどうなっているのかを念頭に置いておく事が必要です。

<figure>
<IMG src="img/ori54_5.jpg" width="450" height="156" border="0">
</figure>
<% include ./_common/footer %>
</BODY>
</HTML>
