<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　数列</h2>
<p>　柄が対称、反転等の規則性を組織図上でどのような形で表現されるのかを様々な形でみてきました。<BR>
      　あすび通し、結合状態、踏み木の踏み順から織り出される柄は、対称性などそれが持つ規則性を表す事に加え、様々な特性を持つ曲線を織り出します。この曲線の持つ特性には様々な要因が関与しています。「対称性と繰返し」の項では、その要因の内「繰返し」によって、交叉しない連続した曲線を織ってみました。また「あすび通し分類番号（＝踏み木の踏み順分類番号）」から構成される数列の持つ特性も、曲線の特性を決定する大きな要因となっています。</p>

<figure><IMG src="./img/ori68_1.jpg" width="587" height="718" border="0"></figure>

<p>  上図の組織は大小の違いはあれ、いずれも円を描く曲線を織り出しています。これらの組織のあすび通し分類番号から構成される数列を比較検討すると、ここにも様々な規則性が見えてきます。<BR>
      　たくさんの要因が混在する中、より多くのｓａｍｐｌｅを検討し、要因を整理整頓し、不要な要因を除去仕切った時、「柄を創る」という作業が私達の手に委ねられ、手織りの世界を駆け巡る自由を手にする事ができるのかと思っています。</p>

<% include ./../_common/footer %>
</BODY>
</HTML>
