<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　組織具の4大原則</h2>
　組織図を扱ってゆく上で下記の「組織図の4大原則」は常に念頭に置いておかねばならない極めて重要な原則です。<BR>
<BR>
　【組織図の4大原則】<BR>
(Ⅰ)結合状態を含めあすび通しを変更しても組織は変わらない<BR>
(Ⅱ)結合状態を含め踏み木の踏み順を変更しても組織は変わらない<BR>
(Ⅲ)列方向の柄はあすび通しに対応する<BR>
(Ⅳ)行方向の柄は踏み木の踏み順に対応する<BR>
<BR>
<p>　この「組織図の4大原則」がどのように組織図に表現されるのか一例を見てみたいと思います。<BR>
「組織図の4大原則」を念頭において下図1をご覧下さい。4つの図は「あすび通し」、「踏み木の踏み順」は共通ですが、「結合状態」が異なっています。しかし、柄はそれぞれの組織図の繰り返しとなりますから、4つの図ともまったく同じ柄となることが判ります。一般に「あすび通し」、「踏み木の踏み順」が共通で、「結合状態」が異なっている場合、同一の柄となる事は稀にしか起こりません。どうしてこのような事が起こるのでしょうか？</p>
<BR>
<BR>
<BR>
<IMG src="./img/ori64_1.jpg" width="600" height="603" border="0"><br>
図1<br>
<BR>
<p>  今、上図１の4つの組織図の結合状態を（Ⅰ）、（Ⅱ）の原則から下図2のように統一し、それぞれの「あすび通し」、「踏み木の踏み順」を比較してみます。</p>
<IMG src="./img/ori64_3.jpg" width="600" height="612" border="0"><br>
図2<br>
<br>
<p>　下図3をご覧戴くと判るように、ここでも（Ⅲ）、（Ⅳ）の原則が適用されている事が判ります。下図3の黄色の枠は「同一のあすび通し」によって表れる柄を示し、赤の枠は「同一の踏み木の踏み順」によって表れる柄を示しています。4つの組織とも2パターンの「あすび通し」と2パターンの「踏み木の踏み順」の繰り返しによって構成されています。だから4つとも出現部位は異なっても繰り返しによって結局同一の柄となる事が判ります。</p>
<IMG src="./img/ori64_2.jpg" width="600" height="594" border="0"><br>
図3<br>
<BR>
<p>また、繰り返すことによって、同一の柄となる事は、全ての結合状態に起こる事ではありません。図1の4つの結合状態は図4のように行列とも補完関係にあるペアーの結合状態から構成されています。（詳細は「結合状態変更による柄の変化」をご参照下さい。）何故このパターンに限られるのかも、（Ⅰ）（Ⅱ）の2原則によって理解することができます。</p>
<BR>
<IMG src="./img/ori61_4.jpg" width="394" height="224" border="0"><BR>
図4<BR>
<BR>
<p>　話が混み入って来てしまいましたが、要点は、当然の事ですが組織図の4大原則はすべての組織に現われ、関係しあっているという事です。柄に対する考えを整理整頓する時、「組織図の4大原則」は頼りになる道先案内人です。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
