<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　対象</h2>
<p>有意の柄は多くの場合規則性(対称性)を持っています。規則性にはどのようなパターンがあり、組織図にはどのような形で表現されてくるのかを考えてみます。規則性のパターンについて、アルファベットで見てみたいと思います。<BR>
（2008/6/7追加・修正）</p>

<IMG src="./img/ori60_2.jpg" width="600" height="330" border="0"><BR>
<BR>

<p>ＡからＺまでをみると、全く規則性を持たない「Ｆ」などを除くと26文字は上記の5つのタイプに分類される事がわかります。<BR>
Ａ型：左右対称（垂直の対称軸で折り重なります）<BR>
Ｂ型：上下対称（水平の対称軸で折り重なります）<BR>
Ｈ型：上下対称かつ左右対称<BR>
Ｏ型：楕円でなく円の場合は全方向に対称軸を持つ<BR>
Ｎ型：文字の中心を軸に180°回転して同一<BR>
Ｆ型：規則性を持たない</p>
<IMG src="./img/ori60_1.jpg" width="617" height="272" border="0"><BR>
<p>　織られてくる柄は、「列はあすび通し」に「行は踏み木の踏み順」で決定されますから、Ａ、B、Ｈ、Ｏ型は4枚あすび、4本踏み木の手織り機で表現が可能です。これを組織図で示してみます。</p>

<IMG src="./img/ori60_3.jpg" width="600" height="439" border="0"><BR>
<BR>
<p>Ⅱ：これを元図とします<BR>
Ⅰ：Ⅱを左右反転したものです。ⅠとⅡは縦軸で左右対称です。踏み木の踏み順は同一ですがあすび通しが反転します。<BR>
Ⅲ：Ⅱを上下反転したものです。ⅡとⅢは横軸で上下対称です。あすび通しは同一ですが踏み木の踏み順が反転します。<BR>
Ⅳ：ⅠとⅣは横軸で上下対称、ⅢとⅣは縦軸で左右対称です。ⅡとⅣはあすび通し、踏み木の踏み順とも反転します。<BR>
<BR>
　規則性に対称の他、更に回転、反転が加わると、結合状態がクローズアップされてきます。　</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
