<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　結合状態II</h2>
<p>結合状態の規則性で重要なものに「互換性」があります。<BR>
　組織図の4大原則のうち<BR>
①結合状態を含めあすび通しを変更しても組織は変わらない<BR>
②結合状態を含め踏み木の踏み順を変更しても組織は変わらない<BR>
の2つから、一定の条件を満たす結合状態は相互に変換することができます。<BR>
　図1の6つの結合状態から作り出される結合状態は図2のように360（＝6*5*4*3））通りある事は前にもお話しました。</p>

<figure><IMG src="./img/ori67_1.jpg" width="204" height="95" border="0">
<figcaption>図1</figcaption></figure>

<figure><IMG src="./img/ori65_1.jpg" width="750" height="355" border="0">
<figcaption>図2</figcaption></figure>

<p>　今、図1の結合状態の中より、「対称」「反転」の視点から、図3のようなお互いに補完関係にあるペアーで構成される結合状態を選択すると、図4の72通り（＝3*4*3*2）の結合状態がある事が判ります。</p>

<figure><IMG src="./img/ori67_2.jpg" width="320" height="115" border="0">
<figcaption>図3</figcaption></figure>

<figure><IMG src="./img/ori67_3.jpg" width="704" height="372" border="0">
<figcaption>図4</figcaption></figure>

<p>　この72通りの結合状態は、最初にお話した2つの原則から、お互いにどのパターンへも変換が可能です。　図4の「1」の結合状態を最左列の「13,25,37,49,61」の結合状態に変換したものが図5です。</p>

<figure><IMG src="./img/ori67_4.jpg" width="650" height="430" border="0">
<figcaption>図5</figcaption></figure>

<p>1→25→49：あすび通しを変更（踏み木の踏み順は変更なし）<BR>
13→37→61：あすび通しを変更（踏み木の踏み順は変更なし）<BR>
1→13　　　 ：踏み木の踏み順を変更（あすび通しは変更なし）<BR>
25→37　　 ：踏み木の踏み順を変更（あすび通しは変更なし）<BR>
49→61　　　：踏み木の踏み順を変更（あすび通しは変更なし）<BR>
<BR>
1から37,61に変換するには「踏み木の踏み順の変更」と「あすび通しの変更」が必要です。</p>
<br>
<p>72種類の結合状態が全て相互に互換性を持ちますから、1つの組織は72の組織図を持つという事になります。一見異なる組織図のように見えても、繰り返されている部位を整理し、結合状態を統一すると同一の組織となることは度々経験します。<BR>
　この「互換性」は、組織図を理解してゆく上で大変重要なｋｅｙとなります。感覚的に一寸理解し難いものがありますが、組織図をたくさん書いてゆくと自然と納得ができるようになります。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
