<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　結合状態I</h2>
<p>　ここでは、図1の6つの結合状態から作り出される図2の360パターンの結合状態の内、「柄」に関し典型的な特殊性（規則性）を持つ2つの状態について考えてみたいと思います。</p>

<figure><IMG src="./img/ori43_2.jpg" width="168" height="74" border="0">
<figcaption>図1</figcaption></figure>

<figure><IMG src="./img/ori65_1.jpg" width="750" height="355" border="0">
<figcaption>図2</figcaption></figure>

<p>　図3の結合状態をご覧ください。この結合状態は図4のように右下がり45°の対角線を対称軸（赤い線）に持ち、対称軸で折り返すと元と同じ状態に戻る事が判ります。</p>

<figure><IMG src="./img/ori65_2.jpg" width="115" height="114" border="0">
<figcaption>図3</figcaption></figure>

<figure><IMG src="./img/ori65_4.jpg" width="150" height="148" border="0">
<figcaption>図4</figcaption></figure>

<p>　この事の意味は、あすび通しと踏み木の踏み順を入替えても同じ結合状態で作織が可能である事を、また更には、あすび通しと踏み木の踏み順を同一とすれば、右下がりの対角線を対称軸とする柄を作織できる事を示しています。図5でその事を組織図にして見ます。<BR>

<figure><IMG src="./img/ori65_6.jpg" width="300" height="306" border="0">
<figcaption>図5</figcaption></figure>

<p>　また、図6の結合状態では、この結合状態を図7のように中心（赤い点）で180°回転すると元と同じ状態に戻る事が判ります。</p>

<figure><IMG src="./img/ori65_3.jpg" width="108" height="107" border="0">
<figcaption>図6</figcaption></figure>

<figure><IMG src="./img/ori65_5.jpg" width="200" height="193" border="0">
<figcaption>図7</figcaption></figure>

<p>　この事は前に「柄の規則性　対称」の頁で書かせていただいた、Ｎ型の対称性を作織できる事を示しています。この事を図8で組織図にして見ます。（この場合は180°回転しますから対称部分の反転が必要となります。）</p>

<figure><IMG src="./img/ori65_7.jpg" width="300" height="314" border="0">
<figcaption>図8</figcaption></figure>

<p>　図1の６つの結合状態から作り出されるパターンは360（＝6×5×4×3）ですが、更に図9の様に各列１点（3点）の結合点を持つ状態を含めると24024（＝14×13×12×11）パターンにもなります。その、それぞれの結合状態が何を表しているのか探検して歩くのも、手織りの大きな醍醐味の一つであると思います。</p>

<figure><IMG src="./img/ori65_8.jpg" width="482" height="99" border="0">
<figcaption>図9</figcaption></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
