<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　結合・分解</h2>
<p>組織図の4大原則<BR>
(ａ)結合状態を含めあすび通しを変更しても組織は変わらない<BR>
(ｂ)結合状態を含め踏み木の踏み順を変更しても組織は変わらない<BR>
(ｃ)列方向の柄はあすび通しに対応<BR>
(ｄ)行方向の柄は踏み木の踏み順に対応」<BR>
から、組織の「結合」「分解」を行なう事ができます。<BR>
図1から図3までの組織を結合してみます。</p>

<p>①前述のａ，ｂから結合状態を統一します。（図1,2,3→図1-1,2-1,3-1）</p>
<TABLE>
  <TBODY>
    <TR>
      <TD colspan="2"><IMG src="./img/ori63_1.jpg" width="500" height="249" border="0"></TD>
    </TR>
    <TR>
      <TD width="242" align="center">図1-1</TD>
      <TD width="252" align="center">図1</TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD colspan="2"><IMG src="./img/ori63_2.jpg" width="500" height="243" border="0"></TD>
    </TR>
    <TR>
      <TD width="245" align="center">図2-1</TD>
      <TD width="249" align="center">図2</TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD colspan="2"><IMG src="./img/ori63_3.jpg" width="500" height="246" border="0"></TD>
    </TR>
    <TR>
      <TD width="250" align="center">図3-1</TD>
      <TD width="244" align="center">図3</TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<p>②ｃ、ｄから対角線上に図1-1,2-1,3-1を貼り付け、組織図を完成させます</p>
<IMG src="./img/ori63_4.jpg" width="500" height="507" border="0"><BR>
<BR>
<IMG src="./img/ori63_5.jpg" width="500" height="507" border="0"><BR>
<BR>
<p>「分解」は全く同様に逆の手順で行えます。また此処では3つとも20行、20列の組織を使用しましたが異なった要素（行列数、対称軸、形状等）の組織を使用してみると良いと思います。<BR>
最後にできあがった組織図をみれば結合、分解と改めて言わなくても極めてあたりまえの事なのですが、「柄」という視点から考えてみると大変面白いものがあります。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
