<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　対称性と繰返し</h2>
<p>　対称性と繰返しは、柄の重要な基本的な要件の一つです。ここではその「対称性と繰返し」について考えてみます。<BR>
      図1の曲線AD（辺ＥＨから始まり辺ＨＧで終る）から図2のような曲線BC（辺ＥＦから始まり辺ＦＧで終る）をつくります。曲線ADと曲線CBは次のような関係にあります。<BR>     対角線EGを対称軸とするため<BR>
      1.曲線ADのAのｘ軸座標と曲線CBのBのX軸座標は同一<BR>
      2.曲線ADのDのY軸座標と曲線CBのCのY軸座標は同一<BR>
      また(AH=CF）&gt;（AE=EC） 　　　（AH=CF）＝（AE=EC）の時は「円」または「矩形」</p>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD colspan="2" width="174"><IMG src="./img/ori66_1.jpg" width="228" height="233" border="0"></TD>
      <TD width="261"><IMG src="./img/ori66_2.jpg" width="303" height="296" border="0"></TD>
    </TR>
    <TR>
      <TD align="center" colspan="2" width="174">図1</TD>
      <TD align="center" width="261">図2</TD>
    </TR>
  </TBODY>
</TABLE>

<p>　図2でつくられた曲線を上下左右繰り返すと、図3のように交差しない連続した曲線が作り出されます。</p>

<figure><IMG src="./img/ori66_3.jpg" width="400" height="398" border="0">
<figcaption>図3</figcaption></figure>

<p>　図2に沿ってこれを組織図で表現して見ます。(赤くペーストした部位は線を明確化するためのもので組織とは無関係です)</p>

<figure><IMG src="./img/ori66_4_1.jpg" width="462" height="244" border="0">
<figcaption>図4</figcaption></figure>

<p>図4の組織に上記の3つの要件を加えたものが図5です。</p>

<figure><IMG src="./img/ori66_5_1.jpg" width="473" height="480" border="0">
<figcaption>図5</figcaption></figure>

<p>　組織図を完成させたものが図6、図7は図6を展開したものです。</p>

<figure><IMG src="./img/ori66_6_1.jpg" width="468" height="480" border="0">
<figcaption>図6</figcaption></figure>

<figure><IMG src="./img/ori66_7_1.jpg" width="510" height="355" border="0">
<figcaption>図7</figcaption></figure>

<p>　柄としては未完成ですが取り敢えず交叉しない連続した曲線をつくる事ができました。<BR>
　当然の事ですが、織りに現われる曲線は組織図の4大原則に基づき組織図に表現する事が可能です。様々な織りの状態を4大原則に沿って組織図に描いてみると、屑になった糸が解きほぐれる様に、整然と果てしなく拡がる手織りの世界が見えてきます。</p>

<p>柄として完成した例を図8に示しました。45°方向に連続した曲線を表現している事をお判り戴けると思います。</p>

<figure><IMG src="./img/ori66_9.jpg" width="576" height="434" border="0">
<figcaption>図8</figcaption></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
