<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　反転</h2>
<p>柄の規則性のうち、「柄の規則性 対称」では「対称」の関係についてみましたが、ここでは「（裏表）反転」についてみてみます。図1は上下・左右とも（裏表）反転して柄が構成されています。</p>

<figure><IMG src="./img/ori61_2.jpg" width="600" height="403" border="0">
<figcaption>図1</figcaption></figure>

<p>一般に「結合状態」の行列が図2のように補完関係にあるグループから構成されている場合は、同一の「結合状態」で「あすび通し」と「踏み木の踏み順」を変更することで、柄を反転することができます。これは「結合状態を含んであすび通し、踏み木の踏み順を変えても柄は変わらない」という組織図の２大原則にもとづきます。</p>

<figure><IMG src="./img/ori61_4.jpg" width="394" height="224" border="0">
<figcaption>図2</figcaption></figure>

<p>図3でこの事を組織図にしてみます。</p>

<figure><IMG src="./img/ori61_1.jpg" width="600" height="641" border="0">
<figcaption>図3</figcaption></figure>

<p>Ⅱ：これを元図とします<BR>
Ⅰ：Ⅱを反転したものです。図1の補完関係の結合状態にあすび通しが変化しています。<BR>
Ⅲ：Ⅱを反転したものです。図1の補完関係の結合状態に踏み木の踏み順が変化しています。<BR>
Ⅳ：Ⅲを反転したものです。Ⅱの元図とはあすび通し、踏み木の踏み順とも変化していますが、柄は同一です。<BR>
<BR>
元図は図4ですから、図1はまるで異なった柄のように見えます。</p>

<figure><IMG src="./img/ori61_3.jpg" width="599" height="383" border="0">
<figcaption>図4</figcaption></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
