<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　数列と柄の大きさ</h2>
<p>　「あすび通し分類番号（＝踏み木の踏み順分類番号）」から構成される数列の持つ特性が、織りに現われる曲線の特性を決定する大きな要因となっていることは、「柄の規則性　数列」のページでお話しました。<BR>
　様々な規則性を持った数列で構成される柄は、その数列の特性を柄の大きさに反映してきます。分類の基準は柄の大きさで、次の3つのタイプに分類されます。</p>
<TABLE width="724">
  <TBODY>
    <TR>
      <TD style="line-height : 25px;" colspan="2" width="683" align="center"><B>Ｌ　ｔｙｐｅ</B>　</TD>
    </TR>
    <TR>
      <TD style="line-height : 25px;" height="45" colspan="2" align="center">　<IMG src="./img/ori69_2.jpg" width="479" height="400" border="0"></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD align="center"><B>Ｍ　type</B></TD>
    </TR>
    <TR>
      <TD><IMG src="./img/ori69_1.jpg" width="479" height="397" border="0"></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE border="0">
  <TBODY>
    <TR>
      <TD align="center"><B>S　type</B></TD>
    </TR>
    <TR>
      <TD><IMG src="./img/ori69_3.jpg" width="479" height="359" border="0"></TD>
    </TR>
  </TBODY>
</TABLE>

<p>　M、Stype　によって織られたものは、経、緯糸の浮きが少ないため生地が厚くならず着尺に最適です。<BR>
  Ltypeで織られたものは柄により広範囲に作品展開する事が可能です。また、Ltypeの柄は「八つ縄文織り」で作織することにより柄の持つ品格をいかんなく発揮します。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
