<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　3Dの組織図</h2>
<p>柄の規則性を検討してゆく上で、組織図（組織）が持っている様々な原則（規則性）を理解しておく事はとても重要です。しかしその全容を理解する事は本当に難しいものがあります。　その理解の助けになればと、図1のような3次元の組織図を書いてみました。それぞれの軸は下記の状態を表します。<BR>
Ｘ軸：「結合状態を含んだあすび通し」の状態（図2）<BR>
Ｙ軸：「結合状態を含んだ踏み木の踏み順」の状態（図2の行列を入れ替えた状態）<BR>
Ｚ軸：あすび通し又は踏み木の踏み順のパターン（図2のあすび通しの部分または行列を入れ替えた部分）</p>

<figure><IMG src="./img/ori62_1.jpg" width="100%" border="0">
<figcaption>図1</figcaption></figure>

<figure><IMG src="./img/ori62_2.jpg" width="550" height="334" border="0">
<figcaption>図2</figcaption></figure>

<p>この組織図の表している重要な点は以下の通りです。（図3をご参照ください）</p>

<ol style="list-style-type: decimal;margin-left:1rem;">
<li>結合状態を含んであすび通しを変更しても組織（柄）は変わりません。（X軸のチャンネルを回しても柄は変りません）→平面は移動しません。</li>
<li>結合状態を含んで踏み木の踏み順を変更しても組織（柄）は変わりません。（Y軸のチャンネルを回しても柄は変りません）→平面は移動しません。</li>
<li>「結合状態＋あすび通し」が決れば、「結合状態＋踏み木の踏み順」も決ります（逆も同じです）。Y（X)軸のチャンネルを動かすとX(Y)軸のチャンネルも同期して動きます。しかし、Y軸のチャンネルを回してもあすび通しは変わりません。同様にＸ軸のチャンネルを回しても踏み木の踏み順は変わりません。</li>
<li>同一平面内の組織（柄）は、同じ「あすび通し」×「踏み木の踏み順」の範囲であればどこをとっても同一（水色の枠）です。</li>
<li>あすび通しまたは踏み木の踏み順が変化すると、Ｚ軸方向に平面が移動し組織（柄）が変わります。変わった組織（柄）に対し　またX,Y軸方向とも同数のチャンネルがあります。これは、あすび通し（または踏み木の踏み順）を固定し、結合状態のみ変化させたことと同じであり、この場合、チャンネルを回せば平面はZ軸を移動し、それに応じ組織（柄）が変化する事となります。</li>
<li>チャンネル数は、4枚あすび枠、4本踏み木の織り機で4本の踏み木に2枚の枠がそれぞれ繋がった場合、考え方にもよりますが8～360あります。またチャンネルの意味は行列両方向からの結合状態です。<BR>
同一の「あすび通しまたは踏み木の踏み順」で、チャンネル（Z軸の座標）を変えることによって8～360の組織（柄）が表れますが、そのすべの組織（柄）が有意ではありません。</li>
</ol>

<figure><IMG src="./img/ori62_3.jpg" width="600" height="554" border="0">
<figcaption>図3</figcaption></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
