<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　柄の大きさと「破れ」</h2>
<p>　4枚あすび（綜絖）、4本踏み木で作織する場合、柄の大きさは３種類、L,M,S
      ｔｙｐｅ があり、ｔｙｐｅ も数列の持つ特性によって決ってきます。<BR>
      　柄の大きさは「破れ」の大きさによって決定されます。「破れ」とは、隣接し、連続した経、緯糸の2つ以上の交点が、お互いが反転した（表裏の）関係にある状態をいいます。<BR>
      　「破れ」があると「破れ」のない状態と比べ、表裏関係が明確化されるので、織られてくる布には比較的明瞭な線となり、柄をつくり出します。図1の具体例をご覧下さい。<BR>
      Ａ：列方向に2交点の「破れ」があります<BR>
      Ｂ：列方向に「破れ」はありません<BR>
      Ｃ：行方向に3交点の「破れ」があります<BR>
      Ｄ：行方向に「破れ」はありません</p>

<TABLE width="724">
  <TBODY>
    <TR>
      <TD style="line-height : 25px;" colspan="2" width="683" align="center"><figure><img src="./img/ori70_7.jpg" width="315" height="299" border="0">
      <figcaption>図1</figcaption></figure>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD style="line-height : 25px;" width="711" align="center">　それぞれの ｔｙｐｅ と「破れ」との関係は、以下のようになります。</TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD align="center"><B>【Ｓ　type】</B><BR>
      <BR>
      Ｓ ｔｙｐｅ は2交点の「破れ」と平織りから柄が構成されます。<BR>
      図2_2は図2_1（一部分です）の組織から構成されています。</TD>
    </TR>
    <TR>
      <TD align="center"><figure><img src="./img/ori70_1.jpg" width="394" height="145" border="0">
      <figcaption>図2_1</figcaption></figure>
      </TD>
    </TR>
    <TR>
      <TD align="center"><figure><img src="./img/ori70_2.jpg" width="502" height="367" border="0">
      <figcaption>図2_2</figcaption></figure>
      <BR>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<BR>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD align="center"><B>【Ｍ　type】<BR>
      <BR>
      </B>Ｍ ｔｙｐｅ は3交点以上の「破れ」から柄が構成されます<BR>
      図3_2は図3_1（一部分です）の組織から構成されています。<BR>
      <BR>
      </TD>
    </TR>
    <TR>
      <TD align="center"><figure><img src="./img/ori70_3.jpg" width="342" height="277" border="0"><figcaption>図3_1</figcaption></figure>
      </TD>
    </TR>
    <TR>
      <TD align="center"><figure><img src="./img/ori70_4.jpg" width="460" height="368" border="0">
      <figcaption>図3_2</figcaption></figure>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<BR>
<BR>
<TABLE border="0">
  <TBODY>
    <TR>
      <TD align="center"><B>【Ｌ　type】<BR>
      <BR>
      </B>Ｌ ｔｙｐｅ は「破れ」を持ちません<BR>
      図4_2は図4_1（一部分です）の組織から構成されています。<BR>
      <BR>
      </TD>
    </TR>
    <TR>
      <TD align="center"><figure><img src="./img/ori70_5.jpg" width="233" height="229" border="0"><figcaption>図4_1</figcaption></figure>
      </TD>
    </TR>
    <TR>
      <TD align="center"><figure><img src="./img/ori70_6.jpg" width="471" height="393" border="0"><BR>
      <figcaption>図4_2</figcaption></figure>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<p>　Ｓ、Ｍ ｔｙｐｅ とりわけＳ ｔｙｐｅ は、経、緯糸の太さ、密度、色によって微妙に表情が異なり教室の皆さんも大変苦労されています。<BR>
      でも、成功すると日の光を受けてきらきら輝く、凍てついた雪面のような布が織り上がってきます。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
