<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>手織りの世界を自由に駆け回る</h2>
　織物組織は経糸と緯糸が3つの条件（あすび通し、結合状態、踏み木の踏み順）のもと、両者がその交点においてお互いが上下関係を構成する事により作られています。この経（列）と緯（行）の関係は厳密で、同列、同行内では、規則性が必ず保たれなくてはなりません。その意味で、「織り」と「表計算ソフト（もっとも一般的なものはExcel）」は非常に相性が良いものがあります。表計算も行列の規則性は非常に厳格です。その為表計算ソフトの機能を利用すると、その行列に対する考え方から織りの多くの場面を系統的に理解する事ができるようになります。
<TABLE>
<TBODY>
<TR>
<TD><IMG src="img/ori71_1.jpg" width="348" height="337" border="0"></TD>
<TD><IMG src="img/ori71_2.jpg" width="346" height="335" border="0"></TD>
</TR>
<TR>
<TD align="center"><FONT size="2">Excelで描いた組織図（経・緯共80ｐｔ）</FONT></TD>
<TD align="center"><FONT size="2">左組織図の展開図</FONT></TD>
</TR>
</TBODY>
</TABLE>

<p>　また、高価で使用方法が特定されているソフトを使用しなくても、一般的に普及しているソフトを活用することにより、誰でも「発想」さえあれば「自由」に織りに展開可能であるという事も、極めて重要なポイントです。<BR>
　複雑なあすび(綜絖）通し、踏み木の踏み順の組織図を手で仕上げる事は本当に大変な作業でした。表計算ソフトの簡単な機能を利用すると一柄が数10回、数10本以上繰り返しの組織図でも誤りなく短時間で仕上げることができます。更に、様々な工夫により実際の織りにより近づける事が可能となり、画面上での試し織りが可能となってきました。織りのデザインを思い付いたら直ぐに組織図を描いてみる、この作業が短時間で出来るということは織りにとって物凄い戦力です。どんな織りであっても経糸を織り機にセットするという作業量は大変なものです。たとえ机上の作業であっても、イメージを実際に視る事が出来るのと出来ないのでは結果に雲泥の差が出てきます。<BR>
　縞帳はたくさん残されていますが、柄帳と呼ばれるものは稀有だと思います。この事は、縞は実際に織って見なくても概略の織り上がりをイメージできますが、柄は実際に織ってみなくてはその全容をイメージする事はまったく不可能であり、試し織りをするにしても膨大な仕事量を必要とするため不可能であった事を示しています。<BR>
　またこの事は、3原組織（平織・斜文織・朱子織）に囲い込まれていた柄のデザインが、囲い込みを解かれ果てしなく拡がる手織りの世界に飛躍できるようになった事を意味しています。<BR>
　ただ決してしてはならない事はPCが「発想力」を持っていると勘違いする事です。PCはどんな複雑なあすび通し、結合状態、踏み木の踏み順であろうと指示通りに「試し織り」をスピーディに行なってくれますが、指示（意志）がなければ何もしてはくれません。重要な事は織りの結果の有用、無用を問わずPCは極めて短時間で意図した織りの計画を可視化し経験させてくれる事です。PCがあろうとなかろうと、たくさんの経験の積み重ねによる有益な情報の集積（知恵）が「発想力」の源であり、それがより有用な織物を織り上げてゆくための原動力である、と云う事には何の変わりもありません。</p>

<% include ./../_common/footer %>
</BODY>
</HTML>
