<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>特性の保持と多様性の発揮I　円</h2>
<p>　あすび（綜絖）通し分類番号（3方向の対称性を持つ柄の場合、あすび通し分類番号と踏み木の踏み順分類番号は、見かけが異なっても内容は同一です）がつくる数列の持つ特性は、織り出される柄の特性に深く関係しています。<BR>
      　この数列の持つ特性を保持して柄を成長させると、柄の特性も保持されて行きます。　図2から図5は図1の組織をベースに柄を成長させ、「円」を織り出しています。<BR>
      　「特性の保持」と「多様性の発揮」は、柄をデザインして行く上で大変重要です。</p>
<figure><img src="./img/ori72_005.jpg" width="133" height="132" border="0">
<figcaption>図1</figcaption></figure>

<figure><img src="./img/ori72_001.jpg" width="800" height="173" border="0">
<figcaption>図2</figcaption></figure>

<figure><img src="./img/ori72_002.jpg" width="800" height="174" border="0">
<figcaption>図3</figcaption></figure>

<figure><img src="./img/ori72_003.jpg" width="800" height="173" border="0">
<figcaption>図4</figcaption></figure>

<figure><img src="./img/ori72_004.jpg" width="800" height="174" border="0">
<figcaption>図5</figcaption></figure>

<p>（図1～図5:　綿30/2　1本取り　使用筬　45目/寸間　両目 4本踏み木4枚綜絖）</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
