<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>織りの道具</h2>
織りにつかう道具（機料　きりょう）についてです。<BR>
      この他にも色々あります。気が付いたものをあげてみました。道具の名前も正確におぼえ、使わないと、機の話をしているなかでとんだ誤解を生ずる事があります。また織りに必須のもの、あると便利なものなど必要度もまちまちです。アイディア物、その土地特有のものなどあり、見るだけでも楽しめます。<BR>

<figure>
<IMG src="img/kiryou.jpg" width="80%">
</figure>
<% include ./_common/footer %>
</BODY>
</HTML>
