<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>畳織りを折る</h2>
畳織りの柄は図1のように、経糸の密度を粗くし、緯糸の色を変える事により表現されています。図1の場合は平織りですが、これを、4本踏み木、4枚あすびで織ることにより様々な柄を織り出すことができます。<BR>

<figure><IMG src="img/ori74_1.jpg" width="550" height="169" border="0">
<figcaption>図1</figcaption>
</figure>

図2は図3の組織（柄）を畳織で織り出した場合です。緯糸によって柄が作られている事がわかります。<BR>

<figure><IMG src="img/ori74_2.jpg" width="550" height="239" border="0">
<IMG src="img/ori74_3.jpg" width="215" height="217" border="0" align="top"></figure>

　通常の組織を畳織りの組織に変換するには、踏み方を変え、緯糸の色を1本置きに変えることにより行なわれます。<BR>
      　図3では「1 3 2 4 -・・・・ 4 2 3 1-・・・・」を繰り返し踏んでいます。これを畳織りにするには図4の変換表により、図3の踏み木踏み順番号を、畳織り踏み木踏み順番号に変更し、1本置きに緯糸の色を変えながら織り進みます。注意点は、図3の1つの踏み木の踏み順番号に2つの畳織りの踏み木踏み順番号が対応していることです。1つの踏み木動作に2つの踏み木動作が対応しているため、畳織りでは図3での踏み木を繰り返して踏む事が可能で、行方向には自由に拡大が可能です。（図2では図3の1動作に2動作×2回が対応しています。）<BR>

<figure><IMG src="img/ori74_4.jpg" width="274" height="144" border="0">
<figcaption>図4</figcaption>
</figure>

　2枚のあすび枠が1本の踏み木に結合された結合状態のうち72typeは、全て図3の結合状態に変換可能（手織り豆知識　柄の規則性　結合状態Ⅱをご参照下さい）ですから、この変換表により、72typeの結合状態で構成されている組織（柄）は、全て畳織りで織る事ができます。
<% include ./../_common/footer %>
</BODY>
</HTML>
