<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の輪郭線を強調する</h2>
　結合状態を変化させる事により柄の輪郭線を強調する事ができます。結合状態を変更する手順を説明します。<BR>
　図1を元図とします。　

<figure><IMG src="img/ori77_1.jpg" width="289" height="295" border="0">
<figcaption>図1</figcaption>
</figure>

<figure><IMG src="img/ori77_2.jpg" width="416" height="416" border="0">
<figcaption>図1-1</figcaption>
</figure>

結合状態を図2の状態に変更します。<BR>
（変更方法については「手織りの豆知識」→「柄について」→「組織図の4大原則」をご参照下さい。）

<figure><IMG src="img/ori77_8.jpg" width="74" height="65" border="0">
<figcaption>図2</figcaption>
</figure>

図1を図2の結合状態に変更したものが図3。

<figure><IMG src="img/ori77_3.jpg" width="291" height="296" border="0">
  <figcaption>図3</figcaption>
  </figure>
図3のあすび通し、踏み木の踏み順はそのままにして結合状態を図4の状態に変更します。

<figure><IMG src="img/ori77_4.jpg" width="294" height="298" border="0"></TD>
  <figcaption>図4</figcaption>
  </figure>

完成した組織図が図5となります。

<figure><IMG src="img/ori77_5.jpg" width="295" height="300" border="0">
  <figcaption>図5</figcaption>
  </figure>

図5の「あすび通し」と「踏み木の踏み順」を使い易く変更したものが図6です。

<figure><IMG src="img/ori77_6.jpg" width="295" height="300" border="0">
  <figcaption>図6</figcaption>
  </figure>

<TD height="426"><figure><IMG src="img/ori77_7.jpg" width="420" height="420" border="0">
  <figcaption>図6-1</figcaption>
  </figure>


<figure>
<IMG src="img/ori77_1.jpg" width="289" height="295" border="0">
  <figcaption>図7(1)</figcaption>
  </figure>

<figure>
<IMG src="img/ori77_6.jpg" width="295" height="300" border="0">
  <figcaption>図8(6)</figcaption>
  </figure>

　図7が元図、図8が変更後。結合状態を変更する事により輪郭線が強調されたことが判ります。<BR>
　図7（１）はLタイプの柄で、「破れ」を持ちません。結合状態を変更することで柄に「破れ」を与え結果として輪郭線が強調されることになります。<BR>
　「柄のタイプ」、「破れ」については「手織りの豆知識」→「柄について」→「数列と柄の大きさ」また「柄の大きさと破れ」をご参照下さい。<BR>
<% include ./_common/footer %>
</BODY>
</HTML>
