<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>特性の保持と多様性の発揮II　正方形</h2>
<p>　あすび（綜絖）通し分類番号がつくる数列の持つ特性が、織り出される柄の特性に深く関係している事は前に「特性の保持と多様性の発揮Ⅰ　円」の項でもご紹介しました。<BR>
　前項では「円」についてお話ししましたが今回は「正方形」について考えてみてみたいと思います。　図1の組織をbaseに数列に特性を与え、柄に「正方形」を表現させたものが　図2～図5の4つの組織図です。図2-1～図5-1はそれを展開したものです。「正方形」を表現していることがお判りいただけると思います。</p>

<figure><IMG src="./img/ori79_0.jpg" width="161" height="163" border="0">
<figcaption>図1</figcaption></figure>

<TABLE border="0">
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori79_1.jpg" width="271" height="276" border="0"></TD>
      <TD><IMG src="./img/ori79_2.jpg" width="284" height="287" border="0"></TD>
      <TD><IMG src="./img/ori79_3.jpg" width="271" height="275" border="0"></TD>
      <TD><IMG src="./img/ori79_4.jpg" width="280" height="285" border="0"></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図2</FONT></TD>
      <TD align="center"><FONT size="2">図3</FONT></TD>
      <TD align="center"><FONT size="2">図4</FONT></TD>
      <TD align="center"><FONT size="2">図5</FONT></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori79_5.jpg" width="388" height="386" border="0"><BR>
      </TD>
      <TD><IMG src="./img/ori79_6.jpg" width="404" height="403" border="0"></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図2-1<BR>
      </FONT></TD>
      <TD align="center"><FONT size="2">図3-1</FONT></TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE border="0">
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori79_7.jpg" width="386" height="386" border="0"></TD>
      <TD><IMG src="./img/ori79_8.jpg" width="402" height="403" border="0"></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図4-1</FONT></TD>
      <TD align="center"><FONT size="2">図5-1<BR>
      </FONT></TD>
    </TR>
  </TBODY>
</TABLE>

<p>　多くの場合、正方形を構成する柄は反転した柄と組み合わせると市松柄を表現するため、その本領を発揮します。図2-2,図5-2は正方形を表現した元柄とそれを反転した柄を結合したものです。</p>

<TABLE>
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori79_10.jpg" width="386" height="387" border="0"></TD>
      <TD><IMG src="./img/ori79_9.jpg" width="403" height="401" border="0"></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図2-2</FONT></TD>
      <TD align="center"><FONT size="2">図5-2</FONT></TD>
    </TR>
  </TBODY>
</TABLE>

<p>（図2～図5-2　綿30/2　又は　絹紡60/2　1本取り　使用筬　45目/寸間　両目
      4本踏み木/4枚綜絖）</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
