<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>大切な方々。</h2>

　諏訪地方でも昔から、自家用としてまた産業として様々な織物が織られてきました。江戸時代後期には綿織物が全盛期を迎え、いわゆる「諏訪小倉」（注1）が農家の副業として盛んに織られ、全国各地に出荷されてきました。明治になると他の織物がそれに取って代わり、産業としての織物は急減してしまいますが、使われた手織機（諏訪地方では「はたご」といいます）は、たくさんの農家に残り、自家用の布を織るために使いつがれ、様々な技術も伝え残されてきました。<BR>
　はたごを作る機大工（はただいく）さんも多数居られた様で、様々な意匠を凝らしたはたごが、長野県の南部だけでも十種類以上残されています。<BR>
　多くの農家の二階は「おかいこさま」（注2）を飼うための大きな蚕室となっていて、その脇に、はたごが置いてありました。時代とともにおかいこさまも飼われなくなり、家が新築される際、大きなはたごは居場所を失い、焼かれたりし、失われてしまいました。<BR>
　しかし1960年後半までは、お店に整理（織り上がった布を湯通しし、平に整える事）に布を持ってきていただく方々の連絡先が、300名以上あったことから、諏訪地方だけでも数百人以上の方々が機を織っていらっしゃったと思われます。そんなたくさんの方々の中で、私の記憶に鮮明に残っている三人のおばあちゃんをご紹介したいと思います。<BR>
　お三方とも、意匠とか技術とかを超え、織ることへの気負いは何も無く、淡々と、黙々と、うち使いの布を織っていらっしゃいました。気に入った様に織れた時の笑顔は、なんの屈託も無い、子どもの笑顔そのままでした。<BR>
　ただ、機織りに対する思いは、何十年と使った糸車のぎり(木製の滑車)で、紐との摩擦で溝が磨り減り、二つにわれてしまったものも幾つもあったように、信じ難い程のすざまじさがありました。<BR>
　「三反、四反と織る時は一立（ひとたて）(注3)毎に米の粉を付けておくと、織る時とても張り合いになるよ。」なんてお話を聞きながら、炬燵にあたり、お茶と漬物をいただいた事が今とても懐かしく、あたたかく思い出されます。「存在感」そのものを感じました。<BR>
　お二方はもう他界されました。機とともに生涯を送られた、たくさんの本当にたくさんのおばあちゃん達のご冥福を、心からお祈りするとともに、この方々が今、私に機を超えて、大きな、大切な事を教えていてくれる様な気がしてなりません。<BR>
<BR>
（注1）諏訪小倉<BR>
諏訪地方で作られた小倉織りの綿織物。経糸の密度が濃いため、経縞がきれいにあらわれます。地が厚く、丈夫な事が特徴です。九州の小倉が発祥地のためこの名前がありますが、江戸時代、産業の振興策の一環として、全国各地で織られるようになりました。なかでも備中小倉と諏訪小倉は相当量の生産があったようです。小倉帯や、霜降りの名での学生服は私達の耳にも残っています。<A href="http://ja.wikipedia.org/wiki/%E5%B0%8F%E5%80%89%E7%B9%94" target="_blank">wikipedia「小倉織」</A><BR>
（注2）おかいこさま<BR>
農家のお年よりの方々は生糸をとる蚕のことを「さま」付けで呼びます。寝食をとる間もなく、かいこに桑の葉を与え、育ててきた方々の、多くの言葉を使っても言い表しきれない思いが伝わってくる様な気がします。<BR>
(注3)立（たて）<BR>
昔から使われてきた「長さの単位」。一立（ひとたて）は六尺≒2．3ｍ。「ｺﾗﾑ織りの豆知識2･8」を参照下さい。<BR>

<h3>追記</h3>
「大切な方々」という範疇に入れて良いのか判りませんが、私の先生という意味ではやはり、祖父母、父母、を加えておかなくてはならないような気がします。祖父は糸店を創業し、織りとの接点を作ってくれました。祖母には教えてもらったと言うより、遊んでもらったという方が正しいかもしれません。祖母が機を織っている横で、機の道具を使って良く遊びました。「門前の小僧習わぬ経を読む」だったと思います。また、新しい技法が紹介されると講習会を持ち普及に努めました。父には糸のことを教わりました。正座してかせを繰っている姿が昨日の事のようです。母は母方の祖母も機を織っていたこともあり、機が好きなのでしょう、教室で長い間たくさんの生徒さん達と機を織ってきました。もう90歳を過ぎ、「皆忘れてしまった」と一寸寂しそうな今日この頃です。二人になると、つい親子に戻りガミガミ言ってしまいますが、やはり私の先生だなと反省すること頻りです。<BR>
<BR>
<h3>訃報</h3>
　お三方の内、最後までお元気であった行田ひよ志さんが、平成18年12月亡くなられました。享年87歳でした。　　<BR>
　女の子2人の養育と、農繁期はお仕事であった農業を女手一つで遣り遂げられ、農閑期は寸暇を惜しみ機と係わられたご生涯でした。機のお話をされる時、何時も絶やさぬ笑顔とその顔に刻まれた深い皺は、語られる言葉の何百倍、何万倍もの多くの事を私に語りかけられていました。<BR>
　手機が何であるかを体現された諏訪地方では最後の方であったであろうと思います。50年近くにわたるお付き合いでした。心よりご冥福をお祈り致します。<BR>

<figure>
<IMG src="img/kazariya.jpg">
<figcaption>浜　ひさよ　さん / 明治29年1月29日生まれ</figcaption>
</figure>

<figure>
<IMG src="img/iwanami.jpg">
<figcaption>岩波　アイノ　さん / 明治37年4月29日生まれ</figcaption>
</figure>

<figure>
<IMG src="img/hiyosisan.jpg">
<figcaption>行田　ひよ志　さん / 大正9年12月14日生まれ</figcaption>
</figure>

<figure>
<IMG src="img/ori08.jpg">
</figure>
　私の母　高木志づ　が平成24年5月16日　逝去いたしました。92歳の穏やかな旅立ちでした。生徒さんはじめたくさんの皆様に温かくお見送りいただきました。ありがとうございました。<BR>
　生家の母が機織りをするのを見て育ち、糸屋に嫁入りしお姑さんの機織りのお手伝いをし、40過ぎてからは当店の手織り教室で生徒さん達と機織りをするそんな機との関わりでした。<BR>
　嫁入り道具の着物、布団、、座布団、炬燵掛けはみな祖母の織ったもので、娘の嫁入りに丹精込めた絹の織物でした。<BR>
　元気であるうちに機織りの話をたくさんしたいと思っていましたが、叶わぬこととなりました。私の思いの詰まった手織りのテキストを天国へのお供とさせてもらいました。にこにこしながらテキストに目を通し、天国から信州諏訪の手織りの行く末を見守っていてくれることと思います。　ありがとうございました。　　　　合掌

<% include ./../_common/footer %>
</BODY>
</HTML>
