<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>民藝について</h2>
　 「民芸」という言葉、お土産屋さんに並べられているお土産品の一部を指して「民芸品」というような使われ方をする事が多いのですが「民藝」という言葉の生みの親　柳宗悦<FONT size="2">(やなぎ むねよし 通称そうえつ　1889/3/21-1961/5/3）</FONT>氏の著書（『工芸』第102号所蔵ｓ15/3）から「民藝」という言葉に込められた思いを抜粋ではありますが下に引用させていただきました。<BR>
　大正・昭和・平成と「民藝」に対する評価も大きな変遷を遂げてきました。でもこの「民藝」という言葉に込められた思いこそが「信州諏訪の手織り」の原点ではないだろうかと長い間思っています。<BR>
      <BR>
      　　民藝が欠かすことの出来ない3つのこと・・・・・<BR>
      1.健康な美しさと計り知れぬエネルギーを内包していること<BR>
      2.作者不詳であること<BR>
      3.日常の生活に必要とされる物であること<BR>
      <BR>
      　その意味で民藝の原点である縄文時代の（とりわけ八ヶ岳西麓から出土した）土器・土偶の数々、そして万治の石仏更に信州諏訪の手織りの技は、まさしく信州諏訪が産んだ珠玉の「民藝」です。<BR>
      　たくさんの本当にたくさんの名もない女性達によって守り伝えられた信州諏訪の手織りの技で「おおらか」で「健やか」で計り知れないエネルギーを秘めた美しさを織り出せたらと、多くの方々が今一生懸命「八つ縄文織り」に取り組んでいます。<BR>
      <BR>

<figure>
<IMG src="img/ori87_4.jpg" width="171" height="261" border="0">
<figcaption>
縄文のビーナス / <A href="http://www.city.chino.lg.jp/www/toppage/0000000000000/APM03000.html" target="_blank">茅野市HP</A>より引用
</figcaption>
</figure>

<figure>
<IMG src="img/ori87_5.jpg" width="205" height="261" border="0">
<figcaption>
仮面の女神 / <A href="http://www.city.chino.lg.jp/www/toppage/0000000000000/APM03000.html" target="_blank">茅野市HP</A>より引用
</figcaption>
</figure>

<figure>
<IMG src="img/ori87_8.jpg" width="251" height="259" border="0">
<figcaption>
水煙渦巻文深鉢 / <A href="http://www.alles.or.jp/~fujimi/idojiri.html" target="_blank">井戸尻考古館H</A>Pより引用
</figcaption>
</figure>

<figure>
<IMG src="img/ori87_10.jpg" width="509" height="310" border="0">
<figcaption>
人面香炉形土器 / <A href="http://www.alles.or.jp/~fujimi/idojiri.html" target="_blank">井戸尻考古館H</A>Pより引用
</figcaption>
</figure>

★是非一度ご覧下さい　井戸尻考古館HP→井戸尻動画館→縄文土器の神秘　 　6:30/11:13　★

『工芸』第102号所蔵　ｓ15/3より　　　　　　　　　　　　　　　　　　　　　　　　<FONT size="2">引用文中（）内は掲載者記入</FONT><BR>
      「健康」は最も妥当なる美の理念である。私達は進んで美がどれだけ健康なるかを省みることによつて、その美を評価することができる。「健康性」こそは美の標準である。「健康」は美的価値である。この価値を深く認識することこそ将来の美学の任務ではないであらうか。さうしてこの美を表現することこそ、将来の美術の眼目とする所ではないであらうか。それは文学に於ても、音楽に於ても、建築に於ても、凡ての芸術に於ても、真摯にに追求されねはならぬ理念である。どんな美も健康の美の前には価値が浅い。　・・・・・・・・・・・・・・・・・・・・・・・・・・<BR>
      <BR>

<figure>
<IMG src="img/ori87_6.jpg" width="397" height="320" border="0">
<figcaption>
万治の石仏 　（写真　<A href="https://ja.wikipedia.org/wiki/%E4%B8%87%E6%B2%BB%E3%81%AE%E7%9F%B3%E4%BB%8F" target="_blank">Wikipedia</A>より引用）
</figcaption>
</figure>

・・・・・・・・・・・・・・・・・・・・・・・・・・ それなら如何なるものに、健全なる美が最もよく見られるのであるか。尋常な品物を求める時、如何に民芸の領域が輝いて見えるであらう。何もここばかりに健康な品物があるのではない。併しどんな領域も、ここに於てほど如実にその美しさを発揚することは出来ない。想ふにその健全さは、生活に即し、自然に即する品物の性質それ自身から湧き出るのである。作られる状態も、作る者の心も、使ふ者の気持も、又用ゐらるる材料も手法も、この領域に於てほど、正しく常態を示すことはないであらう。ここには作る者の汚い野望はない。趣味に堕した買ひ手はいない。作為に痛む材料はない。それは鋭利な神経や、知識の工作から製られたものではない。もつと自然な平易な坦々たる世界から生れてくる。一時も普通の生活から遊離することはない。そこには異変はない。多くのものは「平常心」と南泉</FONT><FONT face="ＭＳ Ｐ明朝" size="2">(南泉普願 なんせんふがん）</FONT><FONT face="ＭＳ Ｐ明朝">が呼んだその境地に発足する。なぜ民芸の分野に健全な美が最も豊かに現れてくるか。そこには必然な理法が働いてゐるのである。意識や趣味や主張の過剰は、ものを健康にさせない。また豪奢や狡猾さは、ものを常態に置かない。それは生活を乱し品物を痛めさせる。美は平安な心に最も深く宿る。美と日常の生活とが結合される時、美は愈々健全である。望むらくは美は尋常な美でありたい。<BR>

<figure>
<IMG src="img/ori87_1.jpg" width="635" height="426" border="0">
<figcaption>
八ヶ岳編笠山から望む晩秋の南アルプス（写真　Y.S)
</figcaption>
</figure>

青原惟信(せいげんいしん)は嘗て上堂して次の如く語つた。<BR>
「老僧三十年前未だ禅に参ぜざるの時、山を見れは是れ山、水を見れは是れ水後親しく知識を得るに及んで、山を見れば是れ山ならず、水を見れは是れ水ならず。而して今体得するに至つて、依然山を見れば只是れ山、水を見れば只是れ水」      　この言葉こそ美への尊い一公案ではないか。
<% include ./../_common/footer %>
</BODY>
</HTML>
