<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の特性と多様性</h2>
<p>　事象Aの「多様性」から得られた「特性」は当然の事ながら「多様性」を持ちます。換言すればAという事象において「多様性」のない「特性」は無く、「特性」は必ず「多様性」を持つこととなります。<BR>
　織物の「柄」の場合その組織を見ればこの「特性」と「多様性」が共存しているという事を明確に理解する事ができます。図1、2をご覧ください。</p>

<IMG src="./img/ori85_01.jpg" width="805" height="325" border="0">
<p>図1</p>

<p>図1における事象Aは4枚綜絖、4本踏み木で織り出される柄：「特性」は「四角形」：特性を持つ柄は多様性を持っています。</p>

<IMG src="./img/ori85_02.jpg" width="624" height="378" border="0">
<p>図2</p>

<p>図2における事象Aは4枚綜絖、4本踏み木で織り出される柄：「特性」は「円」：特性を持つ柄は多様性を持っています。<BR>
<BR>
　この「特性」と「多様性」がどのような形で組織図に表現されているのかを見極めてゆくことが「手織りの世界」を自由に駆け巡るための通行手形ではないかと思います。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
