<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>平織りを加える</h2>
　4枚綜絖で2枚の綜絖を1本の踏み木に繋いだ場合お互いに補完関係にある結合状態は6種類（図1）このペアーは3種類（図2）。そこから4枚を選択すると、3種類（図3）の結合状態を作ることができます。この3種類の結合状態の列を入れ替えると全部で72種類（図4）の結合状態を作る事ができます。</TD>

<figure><IMG src="img/ori86_01.jpg" width="494" height="287" border="0"></figure>

<figure><IMG src="img/ori86_02.jpg" width="100%"></figure>
図4

図4の72種類の結合状態ではその結合状態で欠いている結合状態を使い「平織り」を織る事ができます。<BR>

<figure><IMG src="img/ori86_03.jpg" width="448" height="231" border="0"></figure>

6枚綜絖・6本踏み木であれば経緯方向とも平織りを入れることができます。4本踏み木で製織する場合は踏み方が煩雑ですが下図のように行います。

<figure><IMG src="img/ori86_04.jpg" width="358" height="322" border="0"></figure>

  また平織りを混織することで、柄を列方向に拡大することができます。「八つ縄文織り」の製織法も考え方は同じです。

<figure><IMG src="img/ori86_05_1.jpg" width="288" height="296" border="0"></figure>

<figure><IMG src="img/ori86_05_2.jpg" width="385" height="390" border="0"></figure>

上図の踏み順に1回毎平織りを混織したものが下図になります

<figure><IMG src="img/ori86_06_1.jpg" width="346" height="521" border="0"></figure>

<figure><IMG src="img/ori86_06_2.jpg" width="388" height="348" border="0"></figure>
<% include ./../_common/footer %>
</BODY>
</HTML>
