<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>柄の規則性　回転</h2>
<p>図1はお馴染みの「緯吉野」です。平織りと浮織りが緯方向に交互に現れるため亀甲柄を織り出します。<BR>
これを90゜回転させたものが図2「経吉野」です。平織りと浮織りが経方向に交互に現れるため同様に経方向に亀甲柄を織り出します。<BR>
これを組織図で表せば「綜絖通し」、「踏み木の踏み順」、「結合状態」の3者全体を90゜回転させたことに他なりません。</p>

<TABLE>
<TBODY>
<TR>
<TD><IMG src="./img/ori89_1.jpg" width="100%" border="0"></TD>
<TD><IMG src="./img/ori89_2.jpg" width="100%" border="0"></TD>
</TR>
<TR>
<TD align="center">図1</TD>
<TD align="center">図2</TD>
</TR>
</TBODY>
</TABLE>
<BR>

<p>組織図で見てみます。図3は一般的な「緯吉野」の組織図です。図4は「綜絖通し」、「踏み木の踏み順」、「結合状態」の3者全体を90゜回転させたもの。図5は組織図の4大原則により図4の綜絖通し、踏み木の踏み順、結合状態を修正したものです。</p>

<figure><IMG src="./img/ori89_3.jpg" width="410" height="391" border="0">
<figcaption>図3</figcaption></figure>

<figure><IMG src="./img/ori89_4.jpg" width="436" height="380" border="0">
<figcaption>図4</figcaption></figure>

<figure><IMG src="./img/ori89_5.jpg" width="426" height="382" border="0">
<figcaption>図5</figcaption></figure>

<p>柄のデザインにおいて柄全体を90゜回転させる手法は度々使われます。<BR>
「信州諏訪の手織り豆知識」→「実技について」→「<A href="ori35.html" target="_self">経緯の逆転</A>」もご参照下さい。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
