<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>練習問題　組織図作成 by Excel</h2>
組織図を作成する場合方向として次の2つがあります。<BR>
①図1は組織から「綜絖通し」「踏み木の踏み順」「結合状態」を決めてゆく。この方法は既存の織物組織を検討する時度々使われます。<BR>
②図2は「綜絖通し」「踏み木の踏み順」「結合状態」から「組織」を決めてゆく。この方法は新たな柄をデザインする時度々使われます。<BR>
<FONT size="2">【参考】</FONT><BR>
*それぞれの練習問題は図1、図2をクリックしていただくと開きます。解答は終わりの頁にあります。<BR>
*問題はPDFfileとなっています。組織図の「4大原則」をしっかり念頭に置き入力されると組織図の表している内容を理解する大きな助けになります。(枡目を記載してありますから手書きでもお使い戴けます。)<BR>
*それぞれの組織を製織される場合の一般的要素：経糸　綿30/2　または　絹紡糸60/2　1本取り　<BR>
緯糸　経糸と同一<BR>
使用筬　44～45目/寸間　両目<BR>

<figure><A href="ori88_1.pdf" target="_blank"><IMG src="./img/ori88_1.jpg" width="362" height="362" border="0"></A>
<figcaption>図1</figcaption></figre>
<figre><A href="ori88_2.pdf" target="_blank"><IMG src="./img/ori88_2.jpg" width="360" height="363" border="0"></A>
<figcaption>図2</figcaption></figre>
<% include ./../_common/footer %>
</BODY>
</HTML>
