<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>縞の整経「縞割り」</h2>
織りのデザインの2本柱は「柄」と「縞」です。「柄のデザイン」については別項でお話させていただいていますのでここでは「縞」について考えてみたいと思います。<BR>
　縞は大きく下記の二種類に分類出来ます。大きな縞は配色列順に整経出来ますが細かく複雑な縞は難しいものがあります。枠数に制限のある手織りの世界でも「縞割り」を行うことにより細かく複雑な縞も整経する事ができます。また「縞割り」をすると「綾」の持つ、糸をコントロールする底力を見せつけられます。ここでは図1を例に「縞割り」の手順を説明します。<br>
<br>
①基本単位を繰り返えす縞　　　図1
<figure><IMG src="img/ori84_02.jpg" width="480" height="174" border="0">
</figure>

②-1基本単位を持たない「やたら」縞(6色)　　　　　図2-1
<figure><IMG src="img/ori84_01.jpg" width="480" height="151" border="0">
</figure>

②-2基本単位を持たない「やたら」縞(3色)　　　　　図2-2
<figure><IMG src="img/ori84_06.jpg" width="480" height="138" border="0">
</figure>

①基本単位（図3）の配色列を更に整経容易な最小単位（図4）に分解します。<BR>
今回は6パターンですがパターン数は少ない程縞割りは楽になります。

<figure><IMG src="img/ori84_03.jpg" width="121" height="61" border="0"><BR>
<figcaption>図3</figcaption>
</figure>

<figure><IMG src="img/ori84_04.jpg" width="700" height="257" border="0">
<figcaption>図4</figcaption>
</figure>

②図4の配色列表から整経に必要な枠数を決定します。<BR>
図1は図3を9回繰り返していますが、巾を並幅とするためここでは12回繰り返す事とします。</TD>

<figure><IMG src="img/ori84_05.jpg" width="466" height="208" border="0">
<figcaption>図5</figcaption>
</figure>
使用筬　45目/寸　両目　使用経糸　絹紡糸60/2<br>
<br>
③パターン順に各々最小単位を12個整経します。（それぞれの綾を太い糸でくくっておきます。）図5<BR>
Pt6は最小単位が4回出現しますから全体では4*12＝48必要です。（Pt6は4個の綾を1つにくくります）<br>
<br>
④整経が終わったらパターン別に仮綾棒に移します。<BR>
　　【注意点】<BR>
　　*この時綾（棒）を回転してはなりません。→配色列が反転。<BR>
　　　→全仮綾棒の定位置にPtNo.を目印として付けると回転したか否かが判ります。<br>
<br>
⑤本綾棒を用意し仮綾棒から配色順に移します。<BR>
　　【注意点】<BR>
　　*この時パターン別に仮綾棒にある経糸の根元に捻じれが生じないよう注意が必要です。<BR>
　　*この場合は切り替え整経ですから経糸の頭の輪は必ず切っておかなくてはなりません。<BR>
　　*12分割されている経糸は頭でそれぞれに結んでおくと手間が省けます。（結びながら数を確認）<br>
<br>
⑥すべてが本綾棒に移れば「縞割り」終了です。<BR>
　　【注意点】<BR>
　　*縞割りを行う場合、整経長が2ｍ以下ですと巻く時いきなり経糸が交錯し苦労します。<BR>
　　*5ｍ程長さがあれば余程のことがない限り経糸が交錯する事はありません。<BR>
　　*短いもので経糸が交錯してしまった時は経糸のお尻を切り経糸を整えると良いでしょう。<BR>
　　*最初は3パターン位から始め徐々にパターン数を増やしてゆくのが良いと思います。<BR>
　　*整経長を揃えるため整経を始めたら最後まで整経してしまう事をお勧めします。<br>
<br>
図2-1,2は基本単位を持たずランダムに色と目数が出現する「やたら縞」です。<BR>
やたら縞を整経する方法は以下のようになります。<BR>
①配色列表をつくる<BR>
②色別の目数を計算する<BR>
③色別に必要目数を整経し仮綾棒に移す<BR>
④配色列表に従い目数を勘定しながら縞割りを行う</TD>
<% include ./_common/footer %>
</BODY>
</HTML>
