<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>特性の保持と多様性の発揮III　埋め込み</h2>
<p>　柄の結合・分解については「柄の規則性　結合と分解」の項でお話ししました。<BR>
      　更に柄の基本的特性である「対称性」に注意して「結合」を行うと柄の中に柄を「埋め込む」事ができます。<BR>
      　4本踏み木、4枚綜絖では経4マス、緯4マスの16の結合点しか持てないため、表現できる柄の大きさは限度を持たざるを得ません。(16の結合点で自由に表現できる柄のstepは80程度が上限かと思います)。そんな環境の中stepの大きい柄を考える上でこの「埋め込み」という手法は重要です。<BR>
      　埋め込む柄、埋め込まれる柄双方とも予め持っていた特性を保持しながら「埋め込み」が行われることにより柄は更に大きな多様性を発揮してゆきます。<BR>
      <BR>
      　では、図1の柄に図2の柄を順を追って埋め込んでみます。</p>

<figure><IMG src="./img/ori80_1.jpg" width="232" height="234" border="0">
<figcaption>図1</figcaption></figure>

<figure><IMG src="./img/ori80_2.jpg" width="87" height="89" border="0">
<figcaption>図2</figcaption></figure>

<figure><IMG src="./img/ori80_3.jpg" width="308" height="235" border="0">
<figcaption>図3</figcaption></figure>

<figure><IMG src="./img/ori80_4.jpg" width="385" height="387" border="0">
<figcaption>図4</figcaption></figure>

<p>　図4は埋め込んだ状況を示しています。</p>

<figure><IMG src="./img/ori80_5.jpg" width="377" height="378" border="0">
<figcaption>図5</figcaption></figure>

<figure><IMG src="./img/ori80_6.jpg" width="471" height="522" border="0">
<figcaption>図6</figcaption></figure>

<p>図5の柄を調整し展開したものです。(step=150）</p>

<p>（図1～図6　綿30/2　又は　絹紡60/2　1本取り　使用筬　45目/寸間　両目 4本踏み木/4枚綜絖）</p>

<p>（注）「埋め込み」はすべての場合について可能ですがすべての場合が有意の柄となる事ではありません。<BR>
      　　　　誤解の無い様申し添えます。</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
