<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>特性の保持と多様性の発揮IV　合成</h2>
<p>　　柄の結合・分解については「柄の規則性　結合と分解」の項でお話ししました。<BR>
      　「結合」の中でそれによって新しい特性を持った柄が創りだされる場合を特に「合成」と呼びます。「合成」は特性が異なる者どうしが結合されることにより新たな特性を創り出します。<BR>
      　意図的に「合成」を行うことはかなりの困難を伴いますが、基本的特性が明らかになった特性同士を結合すると見た事もない世界が合成され展開してきます。<BR>
      　ここでは、合成の典型的な例である半径の異なった「円」を結合する事により、「楕円」を合成する場合を見てみます。楕円の場合対称性という特性から見れば上下・左右の対称性は保持していますが対角線の対称軸を消失することによって新たな柄を作り出しています。<BR>
      <BR>
      　図1と図2の半径の異なる円を結合します。（結合については「柄の規則性　結合と分解」をご参照ください。)</p>

<TABLE>
  <TBODY>
    <TR>
      <TD align="center"><IMG src="./img/ori81_1.jpg" width="485" height="282" border="0"><BR>
      </TD>
    </TR>
    <TR>
      <TD align="left">　　　　　　　　　　　　　<FONT size="2" style="text-align : left;">図1　　　　　　　　　　　　　　　　　　　　　　　　　　図2</FONT><BR>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE border="0">
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori81_2.jpg" width="370" height="374" border="0"></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図3</FONT><BR>
      <BR>
      第1・3象限に同一柄（90°回転）の楕円が合成されました。<BR>
      第3象限の柄の組織図を図4に示しました。<BR>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE>
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori81_3.jpg" width="350" height="262" border="0"><BR>
      </TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図4</FONT><BR>
      <BR>
      図4を展開したものが図5です。<BR>
      </TD>
    </TR>
  </TBODY>
</TABLE>
<BR>
<TABLE border="0">
  <TBODY>
    <TR>
      <TD><IMG src="./img/ori81_4.jpg" width="444" height="363" border="0"></TD>
    </TR>
    <TR>
      <TD align="center"><FONT size="2">図5
      </FONT></TD>
    </TR>
  </TBODY>
</TABLE>

<p>　「円」から新しい特性「楕円」が「合成」されています。</p>

<p>（図1～図6　綿30/2　又は　絹紡60/2　1本取り　使用筬　45目/寸間　両目 4本踏み木/4枚綜絖）</p>
<% include ./../_common/footer %>
</BODY>
</HTML>
