<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>整経・巻き挙げの注意点</h2>
「整経」から「巻き終わり」までの良し悪しはその機が織り上がるまで様々な形で影を残します。少しでもその影響を受けないためによく行われる注意点を見てみたいと思います。　

<figure><IMG src="img/ori92_0.jpg" width="600" height="1354" border="0"></figure>

  <% include ./_common/footer %>
  </BODY>
  </HTML>
