<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>床巻きについて</h2>
　チキリ(or 箱)に巻く時チキリ(or 箱)を織り機に載せた状態で行なうより床巻きを行ったほうが何かと好都合です。特にやたら縞のような複雑な縞割を行い経糸が交錯した状態にある時は床巻きが大きな力を発揮します。(図-1参照)<BR>
      　箱に巻く時は図-2のように矢羽2枚と心棒を用意し床巻きをし極力筬と綾棒を前に進めてから織り機にセットすると良いでしょう。<BR>
      　信州諏訪地方では箱・心棒・矢羽が一体化されたチキリが使用されており、箱に巻くという作業は殆どされておりません。ただ整経する場所と織り機のある場所が遠く離れている場合は大きなチキリを持ち運ぶ必要が無い（箱のみの移動で可）ので箱に巻くことも一法ではないかと思います。<BR>

<figure><IMG src="img/ori93_2.jpg" width="100%">
<figcaption>図-1</figcaption>
</figure>

<figure><IMG src="img/ori93_1.jpg" width="100%">
</figure>
      <% include ./_common/footer %>
      </BODY>
      </HTML>
