<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>綾の取り方の違いによる注意点</h2>
　綾の取り方には図1-1の方法と図2-1の2種類があります。信州諏訪地方では図1-1の方法を「普通」図2-1の方法を「切り替え」と呼んでいます。それぞれに長所、短所があり織りの計画に沿って使い分けます。ただ図2-1の場合は偽綾ができるため本綾と偽綾を見間違えない事が大切です。もし万が一これを間違えると仮筬が動かず巻くことができません。また切り替えの場合は頭を切る事が必ず必要です。充分ご注意下さい。<BR>
      　図1-1の場合は頭を切る必要はありません。もし切ってしまっても以降の手順が増える程度で解決可能です。また整経時整経台を回る「まわし経り」の場合は必ず頭を切るためこの心配はありません。<BR>
      　*整経方法の詳細については「織りの豆知識」→<A href="ori5.html" target="_self">「整経方法」</A>をご参照ください。

<figure><IMG src="img/ori95_1.jpg" width="580" height="608" border="0"></figure>

<figure><IMG src="img/ori95_2.jpg" width="563" height="577" border="0"></figure>
<% include ./_common/footer %>
</BODY>
</HTML>
