<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>手織り機の初期状態</h2>
　織りを進めるうちに口の開きが悪くなったり、経糸が切れたり不都合が起こってくることはよく経験します。<BR>
      　この時まず初めにしなくてはならないことは、手織り機を初期状態に戻す事です。<BR>
      手織り機の初期状態は次のようになっています。(下図は4枚綜絖、4本踏み木）)<BR>
①A1＝A2　B1=B2　C1=C2　D1=D2　E1＝E2<BR>
②F～J　は　水平<BR>
      ③K～M　は　垂直　（Mは縦・横両方向とも垂直）<BR>
      <BR>
【注意】<BR>
1.①～③を修正するためにロープの長さを修正しますが、修正する順番はⅠ、Ⅱ、Ⅲとします。<BR>
2.ロープ長を修正する際は必ず綜絖枠の中央をゴム紐で結束しておきます。<BR>
3.Dの修正にはⅠ、Ⅱ、Ⅲの修正が必要です。また踏み木が下がりきった時D1=D2となる状態が最適です。

<figure><IMG src="img/ori91.jpg" width="80%"></figure>
<% include ./_common/footer %>
</BODY>
</HTML>
