<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>緯糸の繋ぎ方</h2>
　製織中の緯糸の繋ぎ方は下の通りです。それぞれの注意点は以下の通りです。<BR>
      ①繋ぐ　縛り瘤は極力小さくしておくことが必要です。あまり太い糸には使用できません。<BR>
      ②新しい糸を通す　　耳に緯糸を出して織り進み、後で切って始末します。<BR>
      ③途中で新しい糸と重ねる　　太い糸の場合は糸の先端を楔形に切って重ねると織りムラができません。<BR>

<figure><IMG src="img/ori98.jpg" width="580" height="427" border="0"></figure>

      <% include ./_common/footer %>
      </BODY>
      </HTML>
