<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>使用筬の目安をつける</h2>
 織りの計画をたてる際糸の太さによって使う筬の目数を決めなくてはなりません。普段使いつけている糸ならおよその見当はつきますが初めての糸の場合は戸惑います。<BR>
      そんな時下記の式は頼りになります。私の経験から導いた式ですがおよその見当をつけるのには重宝しています。<BR>
      繰返し申し添えますがこの式はあくまでおよその見当をつけるためのものです。織り上りのイメージにより使用筬を粗くしたり細かくしたりすることがあることは充分念頭において下さい。<BR>
      <BR>
X:使用経糸のｇ当たりのｍ数<BR>
Y：この経糸を織るのに適当な筬の目数（寸間両目）<BR>
      <BR>
      ｙ＝1.76ｘ+0.11【綿糸の場合】<BR>
      ｙ＝0.63ｘ+25.3 【絹糸の場合】<BR>
      <BR>
      例えば<BR>
      <BR>
      綿30/2（30/2）*1.7＝25.5ｍ/ｇ<BR>
      だから（1.76*25.5）+0.11＝44.99<BR>
      寸間45目（両目）相当が適当<BR>
      <BR>
      綿20/3（20/3）*1.7＝11.33ｍ/ｇ<BR>
      だから(1.76*11.33）+0.11＝20<BR>
      寸間20目（両目）相当が適当<BR>
      <BR>
      綿20/2（20/2）*1.7＝17ｍ/ｇ<BR>
      だから(1.76*17）+0.11＝30<BR>
      寸間30目（両目）相当が適当<BR>
      <BR>
      絹250ｄ9000/250＝36<BR>
      だから(36*0.63）+25.3＝48<BR>
      寸間48目（両目）相当が適当<BR>
      <BR>
      絹300ｄ9000/300＝30<BR>
      だから(30*0.63）+25.3＝44.2<BR>
      寸間45目（両目）相当が適当<BR>
      <BR>
      <BR>
      【注】「定数1.7、定数9,000、ｄ（ﾃﾞﾆｰﾙ）」については「手織りの豆知識」→「機料・糸について」→<BR>
      「<A href="ori32.htm" target="_self">この糸でどの位織れるのか</A>」をご参照下さい。<BR>
<% include ./_common/footer %>
</BODY>
</HTML>
