<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>尺・立</h2>
織りに使われる様々な単位についてです。<br>
織りに使われる単位も地方によって様々な呼び方があります。内容は同じですが、呼び方が異なっているという場合が多々見られます。広い日本の中でも呼び方が違っても、内容が同じという事は、元は一つということなのでしょうか。おもしろいですね。<BR>

<h3>尺（しゃく）</h3>
諏訪地方では「鯨尺」が今は基本となっています。かつては様々な「尺」が使われてきましたが、明治政府によって鯨尺（くじらじゃく）と曲尺（かねじゃく）に統一され、それ以降、織物関係では「鯨尺」が多く使われる様になりました。それ以前、諏訪地方でどのような「尺」が使用されていたかは今の所はっきり判りません。「筬」のところでも一寸触れましたが、「算」（よみ）の「4」と「6」の違いに関わってくることかもしれません。<BR>
      （曲尺の1尺＝3ｃｍ　鯨尺の1尺＝曲尺の1尺2寸5分）<BR>
      1分＝3．8ｍｍ　1寸＝10分　1尺＝10寸　1丈＝10尺　3丈＝1反＝11．4ｍ

<h3>立（たて）</h3>
経糸の長さをあらわす単位です。1立（ひとたて）は6尺。5立（いつたて）で3丈です。<BR>
      「立」と同じ意味で「ひろ」を使うところもあります。「ひろ（尋・広）」は国語辞典に次ぎの様に書かれています。　　<FONT size="2">大辞林第2版より</FONT><BR>
      〔両手を左右に広げたときの、一方の指先から他方の指先までの距離。長さの単位として用い、縄・釣り糸・水深をはかるのに用いる。江戸時代には一尋は五尺（約1.5メートル）または六尺（約1.8メートル）であったが、明治以降は六尺とする。〕<BR>
      経場（へば　整経台）のところでもふれましたが、昔からの経場の間隔は1立（6尺）と決まっていました。</TD>

<h3>並み幅</h3>
1尺。「並み幅、1反」というと38ｃｍ巾で11．4ｍのことです。「尺」も「反」も時代とともに実質的な長さが変化してきています。長さが厳密に定められている西欧の単位と違って日本の単位ってとてもフレキシブルで、おおらかですね。

<h3>目・羽・本</h3>
「目・羽・本」のところをご覧ください。

<figure>
<IMG src="img/syaku.jpg" width="80%">
</figure>

「たて」・「よみ」・「ひろ」について、ご存知の事ありましたら、どんな事でも構いません、ぜひ教えていただけたらと思います。よろしくお願い致します。<BR>
<% include ./_common/footer %>
</BODY>
</HTML>
