<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>経糸の切れた時の対処法</h2>
　製織中に経糸が切れた時の対処法は以下の通りです。

<figure><IMG src="img/ori97.jpg" width="680" height="956" border="0">
</figure>

<% include ./_common/footer %>
</BODY>
</HTML>
