<!DOCTYPE html>
<html>
<head>
<% include ./_common/head %>
</head>
<body>
<% include ./_common/header %>
<h2>手織りの知恵動画集</h2>
　手織り機の構造、セット方法は基本的には全世界共通ですが細部では様々な工夫が伝え残され教わる事が多々あります。ここでは織り上がった織物・織りのデザインはさておき手織り機の構造、セット方法について「You　Tube」に掲載されているもので気の付いたものをpick　upしてみました。<BR>
　着目点は「内容1，2，3・・」に記載しておきました。動画の方法が全て良いということではなくご自分のやられている方法と対比してご覧いただけると良いかと思います。<BR>
　世界中の様々な手織りの知恵を居ながらにして見せていただくことができるすばらしい時代になりました。Linkさせていただいた皆様に心より感謝申し上げます。

<TABLE>
  <TR>
      <th>No</th>
      <th>機種</th>
      <th>時間</th>
      <th>地域</th>
      <th>タイトル</th>
      <th>内容1</th>
      <th>内容2</th>
      <th>内容3</th>
      <th>内容4</th>
      <th>内容5</th>
      <th>動画</th>
    </TR>
  <TR>
      <TD>001</TD>
      <TD>卓上</TD>
      <TD>10_35</TD>
      <TD>　　</TD>
      <TD>Ashford - Winding a Warp</TD>
      <TD>整経</TD>
      <TD>整経～セット</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=JsLHfw6dNWo" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>002</TD>
      <TD>高機</TD>
      <TD>3_21</TD>
      <TD>　　</TD>
      <TD>Nancy Today: Weaving on the loom, pt 1 dish towel (weaving 39) ASM</TD>
      <TD>綜絖枠</TD>
      <TD>整経～セット</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=LiqMSYZXSsY" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>003</TD>
      <TD>いざり機～高機</TD>
      <TD>44本</TD>
      <TD>ペルー</TD>
      <TD>Traditional Weaving</TD>
      <TD>製織法</TD>
      <TD>整経～セット</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD ><A href="https://www.youtube.com/watch?v=4W_MRllLSBc&amp;list=PL0084F76CEDE55FB9" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>004</TD>
      <TD>高機</TD>
      <TD>5_41</TD>
      <TD>沖縄県</TD>
      <TD>機織り1 -整経 Weaving 1</TD>
      <TD>整経</TD>
      <TD>綾の取り方</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD height="11"><A href="https://www.youtube.com/watch?v=LJuoAfAkGYM" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>005</TD>
      <TD>高機</TD>
      <TD>4_32</TD>
      <TD>沖縄県</TD>
      <TD>機織り2-糸掛け Weaving 2</TD>
      <TD>セット</TD>
      <TD>セット</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=gNQA3NrsHnQ" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>006</TD>
      <TD>高機</TD>
      <TD>7_40</TD>
      <TD>沖縄県</TD>
      <TD>機織り3-織り Weaving 3</TD>
      <TD>織り</TD>
      <TD>織り</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=WYBtcuHhra0" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>007</TD>
      <TD>だんつう</TD>
      <TD>5_29</TD>
      <TD>佐賀県佐賀市</TD>
      <TD>鍋島緞通（だんつう）</TD>
      <TD>織り</TD>
      <TD>織り機の構造</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=gzCHDImMzBU" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>008</TD>
      <TD>いざり機</TD>
      <TD>8_08</TD>
      <TD>新潟県南魚沼市</TD>
      <TD>機織の技術を継ぐ 越後上布の伝統</TD>
      <TD>織り</TD>
      <TD>織り機の構造</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=CtvmwS0hKt0" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>009</TD>
      <TD>高機</TD>
      <TD>17_48</TD>
      <TD>ハンガリー</TD>
      <TD>Erd?ly - Sz?k 2012. Sz?v?s bemutat? ?s besz?lget?s</TD>
      <TD>織り</TD>
      <TD>織り機の構造</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=dLYT8OrcFFM" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>010</TD>
      <TD>高機</TD>
      <TD>40_53</TD>
      <TD>ハンガリー</TD>
      <TD>A gyapj?leped? sz?v?se ?s v?nyol?sa Gyergy?remet?n</TD>
      <TD>織り</TD>
      <TD>整経～セット</TD>
      <TD>筬通しの方向</TD>
      <TD>踏み木の構造</TD>
      <TD>綜絖枠の釣り方</TD>
      <TD><A href="https://www.youtube.com/watch?v=5JGqKVKk5qE" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>011</TD>
      <TD>高機</TD>
      <TD>8_09</TD>
      <TD>　　</TD>
      <TD>How to Warp a Loom from back to front</TD>
      <TD>織り</TD>
      <TD>整経～セット</TD>
      <TD>筬通しの方向</TD>
      <TD>綜絖通しの方向</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=icw_E0rHYBw" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>012</TD>
      <TD>高機</TD>
      <TD>6_20</TD>
      <TD>　　</TD>
      <TD>Weaving!</TD>
      <TD>織り</TD>
      <TD>整経～セット</TD>
      <TD>筬通しの方向</TD>
      <TD>綜絖通しの方向</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=lWXZ8G2EsKI" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>013</TD>
      <TD>高機</TD>
      <TD>8_47</TD>
      <TD>　　</TD>
      <TD>Yuki-tsumugi, silk fabric production technique</TD>
      <TD>結城紬</TD>
      <TD>全工程</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=s4T-x0ObDqE" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>014</TD>
      <TD>高機</TD>
      <TD>10_05</TD>
      <TD>　　</TD>
      <TD>Ojiya-chijimi, Echigo-jofu: techniques of making ramie fabric in Uonuma</TD>
      <TD>越後上布</TD>
      <TD>全工程</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=4KXbotKCG_M" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>015</TD>
      <TD>高機</TD>
      <TD>4_12</TD>
      <TD>　　</TD>
      <TD>Ojiya-chijimi, Echigo-jofu: techniques of making ramie fabric in Uonum</TD>
      <TD>小千谷縮</TD>
      <TD>全工程</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=Mu87wIliMwk" target="_blank">動画</A></TD>
    </TR>
  <TR>
      <TD>016</TD>
      <TD>高機</TD>
      <TD>9_45</TD>
      <TD>　　</TD>
      <TD>How to Weave on a Loom - Parts of a loom</TD>
      <TD>織り機の構造</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD>　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=5nHMIBiylVI" target="_blank">動画</A></TD>
    </TR>
    <TR>
      <TD>017</TD>
      <TD>高機</TD>
      <TD>9_45</TD>
      <TD></TD>
      <TD>Introduction to Weaving</TD>
      <TD>織り機の構造</TD>
      <TD>全工程</TD>
      <TD>　　　</TD>
      <TD>　　　</TD>
      <TD>　　　</TD>
      <TD><A href="https://www.youtube.com/watch?v=5n3i0gSrnV8" target="_blank">動画</A></TD>
    </TR>
</TABLE>
<% include ./_common/footer %>
</BODY>
</HTML>
